.videofile:hover::after {
    cursor: pointer;
  }

  .heightForText{
    height: 300px;
  }

  .cursor_auto{
    cursor: auto;
  }

  .reel_spinner_position{
    top: 114px;
    right: 92px;
    z-index: 999;
  }

  .description_scroll{
    overflow-y: auto;
  }

  .description_scroll::-webkit-scrollbar {
    width: 2px;
  }

  #vjs_video_3{
    height: 300px;
  }