#schoolOwnCertificate .modal-dialog {
  max-width: 600px;
}

#schoolOwnCertificate .modal-dialog img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .follow-btn {
    padding: 6px 19px;
  }
}

.orange-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff0e5;
  color: #ff801c;
  margin-right: 24px;
  padding: 8px 50px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
}

.orange-button:focus {
  background-color: #fff0e5;
  color: #ff801c;
}

.videofile:hover::after {
  cursor: pointer;
}

.videofile {
  height: 64%;
}
.videofile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heightForText {
  height: 300px;
}

.cursor_auto {
  cursor: auto;
}

.reel_spinner_position {
  top: 114px;
  right: 92px;
  z-index: 999;
}

.description_scroll {
  overflow-y: auto;
  height: 150px;
}

.description_scroll::-webkit-scrollbar {
  width: 2px;
}

.video-js {
  height: 300px;
}

.routeLink {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.cursor_pointer {
  cursor: pointer;
}

.date_calendar {
  background-image: url(../../../../assets/images/Calendar.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
}

.clicked-post-div {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /* Add your desired styling for the div */
}

.action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
}

.preserve-line-breaks {
  white-space: pre-wrap;
}

.prev-step-btn {
  white-space: nowrap;
  margin-right: 0;
}

.right-action {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.school-gridprofile-icon {
  margin-right: 0;
}

.teacher-tags .teacher-content {
  min-width: 130px;
}

.flag_style {
  width: 25px;
  height: 25px;
}

/* .flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
  border: 2px solid green;
} */
@media screen and (max-width: 767px) {
  .hideName {
    display: none;
  }
}

.fas.fa-play {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
