.rightImagesWidth {
  max-width: 20px;
}

.cursor_auto {
  cursor: auto;
}
.cursor_pointer {
  cursor: pointer;
}

.accordion-open {
  padding: 0;
  margin-left: 0;
}
.cursor_pointer{
    cursor: pointer;
}
.trash-icon {
    background-color: transparent;
  }