<!-- <div *ngIf="showFreeTrialPopup" class="upload-notification" style="right: 0%;width: 83.4%;top: 1%">
   <h6 class="upload-notification__title">You are in {{freeTrialDaysLeft}} day of 30-days free trial.
    <span  [routerLink]="[
      '/user/notifications'
    ]" class="cursor_pointer"><b><u>Subscribe</u></b> 
   </span> to keep your school active</h6>
</div>

<div *ngIf="afterFreeTrialPopup" class="upload-notification" style="right: 0%;width: 83.4%;top: 1%">
   <h6 class="upload-notification__title">Your 30-day free trial for your school has ended. Please
    <span  [routerLink]="[
      '/user/notifications'
    ]" class="cursor_pointer"><b><u>Subscribe</u></b> 
   </span> to keep your school active</h6>
</div> -->
