<section class="f-poppins" style="margin-left: 30%;">
      <header class="header">
        <div class="header__content">
          <a href="" class="main-logo"><img src="../../../assets/images/logo.svg" /></a>
        </div>
      </header>
      <main class="static-main">
        <div class="static-content">
            <button
            (click)="back()"
            type="button"
            class="back-button bg-transparent border-0 font_16 fw_400 text_dark">
          <img src="../../../../assets/images/school/arrow-left.svg" />
          {{ "Back" | translate }}
        </button>
          <h1>Privacy Policy</h1>
          <hr />
          <h2>Diam et turpis enim hac aliquam sit</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <hr />
          <h2>Diam et turpis enim hac aliquam sit</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <hr />
          <h2>Diam et turpis enim hac aliquam sit</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <p>
            Turpis enim consectetur enim velit eu nulla. Eget blandit eget sed
            eget. Enim arcu eget commodo vivamus sollicitudin nibh. Habitasse
            mauris sed egestas dictum. Cursus risus sit pharetra et tempor leo
            faucibus amet adipiscing.
          </p>
          <hr />
          <h2>Diam et turpis enim hac aliquam sit</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
            vulputate pharetra. At faucibus cras magna sed lacus. Egestas
            integer eleifend id vulputate at sagittis. A facilisi volutpat
            egestas volutpat enim nunc lacus ultricies ac. In tempus orci
            facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi arcu
            cursus risus. Imperdiet phasellus mauris sit quis aenean. Nunc
            tempor auctor luctus nulla in diam convallis. Magna dolor elit enim
            arcu ipsum elementum sit eget. Id netus eu ut suscipit sit
            vestibulum turpis mi.
          </p>
          <ul>
            <li>
              <span>1</span>
              <p>
                Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
                vulputate pharetra. At faucibus cras magna sed lacus. Egestas
                integer eleifend id vulputate at sagittis. A facilisi volutpat
                egestas volutpat enim nunc lacus ultricies ac. In tempus orci
                facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi
                arcu cursus risus. Imperdiet phasellus mauris sit quis aenean.
                Nunc tempor auctor luctus nulla in diam convallis. Magna dolor
                elit enim arcu ipsum elementum sit eget. Id netus eu ut suscipit
                sit vestibulum turpis mi.
              </p>
            </li>
            <li>
              <span>2</span>
              <p>
                Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
                vulputate pharetra. At faucibus cras magna sed lacus. Egestas
                integer eleifend id vulputate at sagittis. A facilisi volutpat
                egestas volutpat enim nunc lacus ultricies ac. In tempus orci
                facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi
                arcu cursus risus. Imperdiet phasellus mauris sit quis aenean.
                Nunc tempor auctor luctus nulla in diam convallis. Magna dolor
                elit enim arcu ipsum elementum sit eget. Id netus eu ut suscipit
                sit vestibulum turpis mi.
              </p>
            </li>
            <li>
              <span>3</span>
              <p>
                Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
                vulputate pharetra. At faucibus cras magna sed lacus. Egestas
                integer eleifend id vulputate at sagittis. A facilisi volutpat
                egestas volutpat enim nunc lacus ultricies ac. In tempus orci
                facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi
                arcu cursus risus. Imperdiet phasellus mauris sit quis aenean.
                Nunc tempor auctor luctus nulla in diam convallis. Magna dolor
                elit enim arcu ipsum elementum sit eget. Id netus eu ut suscipit
                sit vestibulum turpis mi.
              </p>
            </li>
            <li>
              <span>4</span>
              <p>
                Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
                vulputate pharetra. At faucibus cras magna sed lacus. Egestas
                integer eleifend id vulputate at sagittis. A facilisi volutpat
                egestas volutpat enim nunc lacus ultricies ac. In tempus orci
                facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi
                arcu cursus risus. Imperdiet phasellus mauris sit quis aenean.
                Nunc tempor auctor luctus nulla in diam convallis. Magna dolor
                elit enim arcu ipsum elementum sit eget. Id netus eu ut suscipit
                sit vestibulum turpis mi.
              </p>
            </li>
            <li>
              <span>5</span>
              <p>
                Lorem ipsum dolor sit amet consectetur. Sit lacus est lobortis
                vulputate pharetra. At faucibus cras magna sed lacus. Egestas
                integer eleifend id vulputate at sagittis. A facilisi volutpat
                egestas volutpat enim nunc lacus ultricies ac. In tempus orci
                facilisis nec amet dolor ipsum ipsum. Dui enim venenatis morbi
                arcu cursus risus. Imperdiet phasellus mauris sit quis aenean.
                Nunc tempor auctor luctus nulla in diam convallis. Magna dolor
                elit enim arcu ipsum elementum sit eget. Id netus eu ut suscipit
                sit vestibulum turpis mi.
              </p>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        <div class="footer__content">
          <a href="" class="main-logo"><img src="../../../assets/images/logo.svg" /></a>
          <nav>
            <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
            <a [routerLink]="['/termsOfServices']">Terms of services</a>
            <a [routerLink]="['/aboutUs']">About us</a>
            <a [routerLink]="['/faq']">FAQ</a>
          </nav>
        </div>
      </footer>
    </section>