<section class="container">
      <div class="logo mb-3 pt-3 pt-lg-5 text-center text-md-start">
        <img src="../../../assets/images/logo.svg" alt="logo" />
      </div>
      <div class="bg-gray-gradient register-section rounded-8">
        <a [routerLink]="['/user/auth/login']" class="back-step text-decoration-none font_16 text_dark"><img src="../../../assets/images/arrow-left.svg"
            alt="arrow" /> {{'Back'| translate }}</a>
        <form class="register-form mx-auto" [formGroup]="resetPasswordForm">
          <h2 class="font_34 fw_700 text-center">{{'ResetPassword'| translate }}</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group input-container">
                <input #newPasswordInput type="password" formControlName="newPassword" class="form-control rounded-8" placeholder="{{'Password'| translate }}">  
                <button class="eye_button_style" type="button" (click)="newPasswordInput.type = newPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onNewPasswordShow()" *ngIf="!isNewPasswordVisible"></i><i class="fa fa-eye" (click)="onNewPasswordHide()" *ngIf="isNewPasswordVisible"></i></button>
                <small class="p-error" style="color: orange;" *ngIf="isSubmitted && resetPasswordForm.get('newPassword')?.errors?.required">
                  {{'PasswordRequired'| translate }}</small>
              <div *ngIf="isSubmitted && resetPasswordForm.get('newPassword')?.errors?.minlength">
                <small class="p-error" style="color: orange;" *ngIf="isSubmitted && resetPasswordForm.get('newPassword')?.errors?.minlength">
                   {{'PasswordLengthRequired'| translate }}
                </small><br>          
               </div>         
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && resetPasswordForm.get('newPassword')?.errors?.pattern">
                  {{'PasswordPatternRequired'| translate }}</small>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group input-container">
                <input #confirmPasswordInput type="password" formControlName="confirmPassword" class="form-control rounded-8" placeholder="{{'RepeatPassword'| translate }}"> 
                <button class="eye_button_style" type="button" (click)="confirmPasswordInput.type = confirmPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onConfirmPasswordShow()" *ngIf="!isConfirmPasswordVisible"></i><i class="fa fa-eye" (click)="onConfirmPasswordHide()" *ngIf="isConfirmPasswordVisible"></i></button>
                <small class="p-error" style="color: orange;" *ngIf="isSubmitted && resetPasswordForm.get('confirmPassword')?.errors?.required">
                  {{'ConfirmPasswordRequired'| translate }}</small>
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && (resetPasswordForm.get('confirmPassword')?.errors?.pattern || resetPasswordForm.get('confirmPassword')?.errors?.minlength)">
                {{'PasswordDoesNotMatch'| translate }}</small>

                <small class="p-error" style="color: orange;"
                *ngIf=" isSubmitted && matchPassword() && resetPasswordForm.controls.confirmPassword.touched && !resetPasswordForm.controls.confirmPassword.errors">
                  {{'PasswordDoesNotMatch'| translate }}
                </small>
              </div>
            </div>
            <small class="p-error" style="color: orange;margin-left: 65px;margin-bottom: 5px;" *ngIf="resetPasswordForm.errors?.tokenExpire">
              {{'ExpireResetLink'| translate }}
            </small>
            <div class="col-md-12">
              <button (click)="resetPassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
            </div>
  
          </div>
          <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }} <a [routerLink]="['/user/auth/register']"
            class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
            class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>
            <multi-lingual></multi-lingual>
        </form>
      </div>
    </section>
    <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>