<div class="container" style="margin-top: 105px;">
    <h4>User Reset Password</h4>
    <form novalidate="novalidate" [formGroup]="resetPasswordForm">
        <div *ngIf="invalidPasswordReset" class="alert alert-danger">Invalid password and confirm password.</div>
        <br/>
        <div class="mb-3">
            <label for="newPassword" class="sr-only">New Password</label><br>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="New Password" required>  
            <div  class="invalid-feedback">
                Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && resetPasswordForm.controls.newPassword.errors ">Password is required.</small>   
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="sr-only">Confirm Password</label><br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Password" required> 
            <div  class="invalid-feedback">
                Confirm Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && resetPasswordForm.controls.confirmPassword.errors ">Confirm Password is required.</small>     
        </div>

        <button class="btn btn-lg btn-primary" (click)="resetPassword()" type="submit">Submit</button>
    </form>
  </div>