################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS.App/ClientApp/.angular/cache/13.3.4
/LMS.Common/bin
/LMS.Common/obj
/LMS.Data/bin
/LMS.Data/obj
/LMS.DataAccess/bin
/LMS.DataAccess/obj
/LMS.Services/bin
/LMS.Services/obj
/LMS.Process/Properties/ServiceDependencies/LMSProcess20230729212406 - Web Deploy
/LMS.Process/Properties
