################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS.App/ClientApp/.angular/cache/13.3.4
/LMS.Common/bin
/LMS.Common/obj
/LMS.Data/bin
/LMS.Data/obj
/LMS.DataAccess/bin
/LMS.DataAccess/obj
/LMS.Services/bin
/LMS.Services/obj
/LMS.Process/Properties/ServiceDependencies/LMSProcess20230729212406 - Web Deploy
/LMS.Process/Properties
/.vs/LMS.Solution/DesignTimeBuild/.dtbcache.v2
/.vs/LMS.Solution/FileContentIndex/0c445a6c-cc04-4015-828d-9b3855ef1364.vsidx
/.vs/LMS.Solution/FileContentIndex/57803a6c-0143-4133-9ab7-ff8ec0edce6c.vsidx
/.vs/LMS.Solution/FileContentIndex/7327e217-1fa1-488b-b161-3cf09209af77.vsidx
/.vs/LMS.Solution/FileContentIndex/74a0614f-5ca6-4834-b490-8454d726a77e.vsidx
/.vs/LMS.Solution/FileContentIndex/d9e689e3-2a7b-4cb9-a4bf-c945cbf00a11.vsidx
/.vs/LMS.Solution/FileContentIndex/db5b009f-01fd-474a-b0d2-6e513f074685.vsidx
/.vs/LMS.Solution/FileContentIndex/e7d239dd-d67d-420c-b936-c25a6c0b8dff.vsidx
*.vsidx
/.vs/LMS.Solution/FileContentIndex/f525c1ce-955a-4443-bf19-1d7471774cdc.vsidx
/.vs/LMS.Solution/v17/.futdcache.v2
/.vs/LMS.Solution/v17/.suo
/.vs/LMS.Solution/v17/fileList.bin
/.vs/LMS.Solution/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation/lms.solution.metadata.v6.1
/.vs/ProjectEvaluation/lms.solution.projects.v6.1
/.vs/LMS.Solution/FileContentIndex/write.lock
/.vs/ProjectEvaluation/lms.solution.metadata.v7.bin
/.vs/ProjectEvaluation/lms.solution.projects.v7.bin
