<div *ngIf="isDataLoaded">
    <section class="f-poppins">
       <div class="main_content">
         <div class="create-post-header d-flex justify-content-between d-none d-xl-flex align-items-center">
           <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark"><img
               src="../../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>
               <h2 class="font_22 fw_700 f-monteserrat mb-md-0">{{'Followings'| translate }}</h2>
             <div class="search-header position-relative">
               <input [(ngModel)]="searchString" type="search" class="form-control h_44" #searchInput (input)="studentsSearch()">
               <button type="button" class="btn search-icon"><img src="../../../assets/images/school/search-gray.svg"></button>
             </div>
         </div>
         <div class="live-header d-flex align-items-center justify-content-between">
           <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark  d-xl-none"><img
               src="../../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>
           <span class="logo_mobile d-xl-none">
             <img src="../../../../assets/images/logo.svg" />
           </span>
           <div class="d-xl-none">
             <button type="button" class="mobile-search border_btn" onclick="openSearch()"><img
                 src="../../../../assets/images/search-lg.svg" /></button>
             <button type="button" class="mobile-search border_btn" onclick="openSidebar()"><img
                 src="../../../../assets/images/menu.svg" /></button>
           </div>
         </div>
   
         <!---- Students list html start ------>
         <div class="wht_newbox followers_box">
           <ul class="list-unstyled before-none mb-0">
             <li *ngFor="let student of students" class="mb-0">
               <div class="d-flex align-items-center justify-content-between">
                <span class="followers-name font_16 text_sec1 fw_600">
                 <img [src]="student.user.avatar" class="rounded-circle me-2" style="max-height: 30px;"/>
                    <a style="cursor:pointer;" (click)="getSelectedFollowing(student.user.id)">{{student.studentName}}</a>
                </span>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </section>
     </div>
     <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
     <post-loading-spinner [postLoadingIcon]="postLoadingIcon"></post-loading-spinner>
   
   