
  <!-- <section class="f-poppins">

    <button #openModal class="edit-sprofilebtn btn border-0 font_12 text_dark f-poppins" data-bs-toggle="modal"
    data-bs-target="#openModal"><img src="../../../../assets/images/Setting-solid-dark.svg" class="me-2" /> {{'EditProfile'| translate }}
    </button>

    <div class="main_content"> -->

      <button hidden #openAttachmentModal type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44" data-bs-toggle="modal"
      data-bs-target="#add-attachment">Create Post</button>
      <!-- <div *ngIf="isDataLoaded"> -->
      <div appBsModal  bsModal #createPostModal="bs-modal" class="modal fade edit-school-modal show d-block" id="create-post" tabindex="-1"
        aria-labelledby="create-post" aria-hidden="true" [config]="{backdrop: 'static'}" area-modal="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0 justify-content-center position-relative">
              <div class="custom-language-select liv-postbtn">
                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                  <li class="nav-item p-0">
                    <button
                      class="nav-link active post-attch-btn d-inline-flex justify-content-center align-items-center"
                      id="live-tab" data-bs-toggle="tab" data-bs-target="#live-tab-pane" type="button" role="tab"
                      aria-controls="live-tab-pane" aria-selected="true"><img src="../../../assets/images/Play-dark.svg"
                        class="dark-attach" /><img src="../../../assets/images/Play-light.svg" class="light-attach" /> Live</button>
                  </li>
                  <li class="nav-item p-0">
                    <button class="nav-link post-attch-btn d-inline-flex justify-content-center align-items-center"
                      id="Post-tab" data-bs-toggle="tab" data-bs-target="#Post-tab-pane" type="button" role="tab"
                      aria-controls="Post-tab-pane" aria-selected="false"><img src="../../../assets/images/Edit-grey.svg"
                        class="dark-attach" /><img src="../../../assets/images/Edit-light.svg" class="light-attach" /> Post</button>
                  </li>
                  <li class="nav-item p-0">
                    <button class="nav-link post-attch-btn d-inline-flex justify-content-center align-items-center"
                      id="reels-tab" data-bs-toggle="tab" data-bs-target="#reels-tab-pane" type="button" role="tab"
                      aria-controls="reels-tab-pane" aria-selected="false"><img src="../../../assets/images/category-grey.svg"
                        class="dark-attach" /><img src="../../../assets/images/category-light.svg" class="light-attach" />
                      Reels</button>
                  </li>

                </ul>
              </div>
              <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'CreatePost'| translate }}</h1>
              <div></div>
              <button (click)="close()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
                  src="../../../assets/images/cross.svg" /></button>
            </div>
            <div class="modal-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="live-tab-pane" role="tabpanel" aria-labelledby="live-tab"
                  tabindex="0">
                  <!-- <form class="createLiveForm"  [formGroup]="createLiveForm">
                    <div class="form-group">
                      <label class="font_10">School Name</label>
                      <input hidden type="text" name="schoolId" class="form-control w-100">
                      <input readonly type="text" [placeholder]="parentDetails?.schoolName" name="schoolName" class="form-control w-100">

                    </div>
                    <div class="form-group">
                      <label class="font_10">Title</label>
                      <input formControlName="title" type="text" placeholder="Title" class="form-control w-100">
                    </div>

                    <div class="form-group">
                      <label class="font_10">Body Text</label>
                      <input formControlName="bodyText" type="text" class="form-control" placeholder="Body Text" />
                    </div>
                    <div class="form-group">
                      <label class="font_10">Cover Letter before Stream start</label>
                      <input formControlName="coverLetter" type="text" class="form-control" placeholder="Cover Letter before Stream start" />
                    </div>
                    <div class="form-group">
                      <label class="font_10">Comment Throttling</label>
                      <select class="form-select rounded-8 w-100">
                        <option value="1">1 Comment per 1 Minute</option>
                        <option value="2">1 Comment per 1 Minute</option>
                        <option value="3">1 Comment per 1 Minute</option>
                      </select>
                    </div>
                    <div class="text-line-border position-relative text-center my-4">
                      <span class="line-text font_12 text_ltgray fw_400 text-center">Select Media Sources</span>
                    </div>
                    <div class="media-sourcebtn d-flex gap-2 f-monteserrat">
                      <button type="button" class="post-attch-btn btn web-cmbtn font_12 text_dark m-0"><span
                          class="text-center"><img src="../../../assets/images/webkam.svg" class=" mx-auto mb-2 dark-attach" /> <img
                            src="../../../assets/images/webkam-light.svg" class="mx-auto mb-2 light-attach" />Webcam</span></button>
                      <button type="button" class="post-attch-btn btn web-cmbtn font_12 text_dark m-0"><span
                          class="text-center"><i class="fa-solid fa-gear d-block mx-auto mb-2 font_20"></i> Streaming
                          Software</span></button>
                      <button type="button" class="post-attch-btn btn web-cmbtn font_12 text_dark m-0"><span
                          class="text-center"><i class="fa-solid fa-microphone d-block mx-auto mb-2 font_20"></i>
                          Microphone</span></button>
                      <button type="button" class="post-attch-btn btn web-cmbtn font_12 text_dark m-0">
                        <span class="text-center"><img src="../../../assets/images/screen-share.svg"
                            class=" mx-auto mb-2 dark-attach" /> <img src="../../../assets/images/screen-share-light.svg"
                            class="mx-auto mb-2 light-attach" />Screen share</span></button>
                    </div>

                    <div
                    class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4 cr-postfooter pt-0">
                    <div class="post-bot-left d-flex">
                      <button type="button"
                        class="post-attch-btn rounded-circle d-inline-flex justify-content-center align-items-center active"><img
                          src="../../../assets/images/gallery-dark.svg" class="dark-attach" /><img src="../../../assets/images/gallery-light.svg"
                          class="light-attach" /></button>
                      <button type="button"
                        class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                          src="../../../assets/images/Video-dark.svg" class="dark-attach" /><img src="../../../assets/images/Video-light.svg"
                          class="light-attach" /></button>
                      <button type="button"
                        class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                          src="../../../assets/images/Paper-Plus-dark.svg" class="dark-attach" /><img src="../../../assets/images/Paper-Plus-light.svg"
                          class="light-attach" /></button>
                      <button type="button"
                        class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                          src="../../../assets/images/hashtag-dark.svg" class="dark-attach" /><img src="../../../assets/images/hashtag-light.svg"
                          class="light-attach" /></button>
                    </div>
                    <div class="post-bot-right d-flex justify-content-end">
                      <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 delay-btn"><i
                          class="fa-solid fa-clock"></i></button>
                      <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"><img
                          src="../../../assets/images/Send-light.svg" class="me-2" /> Nov 15, 2022 at 14:30 </button>
                    </div>
      
                  </div>
                  </form> -->


                </div>
                <div class="tab-pane fade" id="Post-tab-pane" role="tabpanel" aria-labelledby="Post-tab" tabindex="0">
                  <form [formGroup]="createPostForm">
                    <div *ngIf="this.schoolId != undefined" class="form-group">
                      <label class="font_10">School Name</label>
                      <input hidden type="text" name="schoolId" class="form-control w-100">
                      <input readonly type="text" [placeholder]="parentDetails?.schoolName" name="className" class="form-control w-100">
                    </div>

                    <div *ngIf="this.classId != undefined" class="form-group">
                      <label class="font_10">Class Name</label>
                      <input hidden type="text" name="classId" class="form-control w-100">
                      <input readonly type="text" [placeholder]="parentDetails?.className" name="schoolName" class="form-control w-100">
                    </div>

                    <div *ngIf="this.courseId != undefined" class="form-group">
                      <label class="font_10">Course Name</label>
                      <input hidden type="text" name="courseId" class="form-control w-100">
                      <input readonly type="text" [placeholder]="parentDetails?.courseName" name="schoolName" class="form-control w-100">
                    </div>

                    <div *ngIf="this.userId != undefined" class="form-group">
                      <label class="font_10">User Name</label>
                      <input hidden type="text" name="userId" class="form-control w-100">
                      <input readonly type="text" [placeholder]="parentDetails?.firstName + ' ' + parentDetails?.lastName" name="userName" class="form-control w-100">
                    </div>

                    <div class="form-group">
                      <label class="font_10">Title</label>
                      <input formControlName="title" type="text" placeholder="Title" class="form-control w-100">
                      <small class="p-error" style="color: orange;"
                      *ngIf="(isSubmitted && createPostForm.controls.title.errors)">Title is required
                    </small>
                    </div>

                    <div class="form-group">
                      <label class="font_10">Body Text</label>
                      <input formControlName="bodyText" type="text" class="form-control" placeholder="Body Text" />
                      <small class="p-error" style="color: orange;"
                      *ngIf="(isSubmitted && createPostForm.controls.bodyText.errors)">Body text is required
                    </small>
                    </div>

                  
                  <div class="img-upl-result pt-4">
                    <!-- <div *ngFor="let image of uploadImage"> -->
                     <span *ngFor="let image of uploadImage" class="position-relative d-inline-block">
                       <img [src]="image.imageUrl" style="height: 150px; max-width: 100%;">
                       <button (click)="removeUploadImage(image)" type="button"
                        class="btn dl-post-img d-flex align-items-center justify-content-center rounded-circle position-absolute"><i
                          class="fa-solid fa-xmark"></i></button>
                     </span>
                    <!-- </div> -->
                    <!-- <div *ngFor="let video of uploadVideo"> -->
                    <span *ngFor="let video of uploadVideo" class="position-relative d-inline-block">
                      <div class="videofile">
                        <video preload="metadata" style="height: 300px;">
                          <source [src]="video.videoUrl" type="video/mp4"/>
                        </video>
                      </div>
                      <!-- <img [src]="video.videoUrl" style="height: 150px; max-width: 100%;"/> -->
                      <button (click)="removeUploadVideo(video)" type="button"
                        class="btn dl-post-img d-flex align-items-center justify-content-center rounded-circle position-absolute"><i
                          class="fa-solid fa-xmark"></i></button>
                    </span>
                    </div>
                  <!-- </div> -->
                  <div class="teacher-tags tag-box hashtag_post mt-4 mb-2 hover-tags">
                    <span *ngFor="let tag of tagLists" class="custom-tag">{{tag}}
                      <button (click)="removeTags(tag)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                        src="../../../assets/images/cross-sm-light.svg"></button></span>
                  </div>

                  <div class="teacher-tags hashtag_post tag-boxattachment-outer mt-1 mb-0 hover-tags">
                    <span *ngFor="let item of this.attachment" class="custom-tag"><img src="../../../assets/images/Paper-gray.svg" class="me-1 dark-svg"> <img
                     src="../../../assets/images/Paper-light.svg" class="me-1 light-svg"> {{item.name}}
                    <button (click)="removeAttachment(item)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                       src="../../../assets/images/cross-sm-light.svg">
                    </button>
                  </span>
                  </div>

                  <div
                  class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4 cr-postfooter pt-0">
                  <div class="post-bot-left d-flex">

                    <label class="custom-file-upload post-attch-btn rounded-circle d-inline-flex justify-content-center align-items-center active">
                      <input id="hideFileType" type="file" (change)="handleImageInput($event)" accept="image/*"/>
                      <img
                        src="../../../assets/images/gallery-dark.svg" class="dark-attach" /><img src="../../../assets/images/gallery-light.svg"
                        class="light-attach" />
                    </label>

                    <!-- <button  type="button"
                      class="post-attch-btn rounded-circle d-inline-flex justify-content-center align-items-center active"><img
                        src="../../../assets/images/gallery-dark.svg" class="dark-attach" /><img src="../../../assets/images/gallery-light.svg"
                        class="light-attach" /></button> -->


                        <label class="custom-file-upload post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center">
                          <input id="hideFileType" type="file" (change)="handleVideoInput($event)" accept="video/*"/>
                          <img
                          src="../../../assets/images/Video-dark.svg" class="dark-attach" /><img src="../../../assets/images/Video-light.svg"
                          class="light-attach" />
                        </label>

                    <!-- <input type="file" [size]="60" (change)="handleVideoInput($event)" accept="video/*"> -->

                    <!-- <button type="button"
                      class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                        src="../../../assets/images/Video-dark.svg" class="dark-attach" /><img src="../../../assets/images/Video-light.svg"
                        class="light-attach" /></button> -->


                    <!-- <label class="custom-file-upload post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center">
                        <input type="file" (change)="handleAttachmentInput($event)" accept="pdf/*"/>
                        <img
                        src="../../../assets/images/Paper-Plus-dark.svg" class="dark-attach" /><img src="../../../assets/images/Paper-Plus-light.svg"
                        class="light-attach" />
                    </label> -->

                    <button (click)="AttachmentModalOpen(attachmentTemplate)" type="button"     
                    class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"
                    ><img src="../../../assets/images/Paper-Plus-dark.svg"
                      class="dark-attach" /><img src="../../../assets/images/Paper-Plus-light.svg" class="light-attach" /></button>

                    <!-- <input type="file" [size]="60" (change)="handleAttachmentInput($event)" accept="pdf/*"> -->

                    <!-- <button type="button"
                      class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                        src="../../../assets/images/Paper-Plus-dark.svg" class="dark-attach" /><img src="../../../assets/images/Paper-Plus-light.svg"
                        class="light-attach" /></button> -->

                    <button (click)="openTagModal(tagTemplate)" type="button"
                      class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                        src="../../../assets/images/hashtag-dark.svg" class="dark-attach" /><img src="../../../assets/images/hashtag-light.svg"
                        class="light-attach" /></button>
                  </div>
                  <div class="post-bot-right d-flex justify-content-end">
                    <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 delay-btn post-delay-btn position-relative"> 
                      <img src="../../../assets/images/clock-orange.svg" />                     
                        <p-calendar formControlName="scheduleTime" [(ngModel)]="scheduleTime" [showTime]="true"></p-calendar>
                      </button>
                      
                      
                    <button *ngIf="scheduleTime != undefined" (click)="savePost()" type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"><img
                        src="../../../assets/images/Send-light.svg" class="me-2" />{{scheduleTime | date : "MMMM d, y"}} at {{scheduleTime | date : "H:mm"}}</button>
                    <button *ngIf="scheduleTime == undefined" (click)="savePost()" type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"><img
                        src="../../../assets/images/Send-light.svg" class="me-2" />Save</button>

                  </div>
    
                </div>
                <small class="p-error" style="color: orange;margin-left: 350px;" *ngIf="createPostForm.errors?.unauthenticated">
                  Please select valid date!
                </small>
                </form>
                </div>

                <div class="tab-pane fade" id="reels-tab-pane" role="tabpanel" aria-labelledby="reels-tab" tabindex="0">
                  <form [formGroup]="createReelForm">
                  <div *ngIf="this.schoolId != undefined" class="form-group">
                    <label class="font_10">School Name</label>
                    <input hidden type="text" name="schoolId" class="form-control w-100">
                    <input readonly type="text" [placeholder]="parentDetails?.schoolName" name="className" class="form-control w-100">
                  </div>

                  <div *ngIf="this.classId != undefined" class="form-group">
                    <label class="font_10">Class Name</label>
                    <input hidden type="text" name="classId" class="form-control w-100">
                    <input readonly type="text" [placeholder]="parentDetails?.className" name="schoolName" class="form-control w-100">
                  </div>

                  <div *ngIf="this.userId != undefined" class="form-group">
                    <label class="font_10">User Name</label>
                    <input hidden type="text" name="userId" class="form-control w-100">
                    <input readonly type="text" [placeholder]="parentDetails?.firstName + ' ' + parentDetails?.lastName" name="userName" class="form-control w-100">
                  </div>

                  <div *ngIf="this.courseId != undefined" class="form-group">
                    <label class="font_10">Course Name</label>
                    <input hidden type="text" name="courseId" class="form-control w-100">
                    <input readonly type="text" [placeholder]="parentDetails?.courseName" name="courseName" class="form-control w-100">
                  </div>

                  <div class="preview-zone hidden">
                    <div class="box box-solid">
                      <div class="box-header with-border">
                      </div>
                      <div class="box-body">
                        <div *ngIf ="uploadReel!= null">
                        <span class="position-relative d-inline-block">
                          <div class="videofile">
                            <video preload="metadata">
                              <source [src]="uploadReel" type="video/mp4"/>
                            </video>
                          </div>
                          <button (click)="removeUploadReel(uploadReel)" type="button"
                            class="btn dl-post-img d-flex align-items-center justify-content-center rounded-circle position-absolute"><i
                              class="fa-solid fa-xmark"></i></button>
                        </span>
                      </div>
                        
                        <!-- <div class="videofile">
                          <video preload="metadata">
                            <source [src]="uploadReel" type="video/mp4"/>
                          </video>
                        </div> -->

                        <!-- <img style="width: 200px;" class="mb-3" [src]="uploadReel"> -->
                      </div>
                    </div>
                  </div>

                  <div *ngIf ="uploadReel == null">
                  <div class="dropzone-wrapper mb-4 reels-uploader-img">
                    <div class="dropzone-desc">
                      <i class="glyphicon glyphicon-download-alt"></i>
                      <p class="text-center fw_400">Drop image or <b>Click to Browse</b> </p>
                    </div>
                    <input formControlName="reelsVideo" type="file" name="img_logo" (change)="handleReels($event)" class="dropzone" accept="video/*">
                  </div>
                  <small class="p-error" style="color: orange;margin-left: 200px;"
                  *ngIf="(isSubmitted && createReelForm.controls.reelsVideo.errors)"> Please select atleast one video
                </small>
                  </div>
                  <hr class="mb-0 sepearator mx-0 mt-3 opacity-100" />
                  <div
                    class="modal-footer steps_btns d-flex align-items-center justify-content-center flex-sm-nowrap border-0 pb-0 cr-postfooter pt-0 mt-3 px-0">
                    <div class="post-bot-right d-flex justify-content-end">
                      <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 delay-btn post-delay-btn position-relative"> 
                        <img src="../../../assets/images/clock-orange.svg" />                     
                          <p-calendar formControlName="scheduleTime" [(ngModel)]="scheduleTime" [showTime]="true"></p-calendar>
                        </button>
                      <button *ngIf="scheduleTime != undefined" (click)="saveReels()" type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn">
                        {{scheduleTime | date : "MMMM d, y"}} at {{scheduleTime | date : "H:mm"}}
                      </button>
                      <button *ngIf="scheduleTime == undefined" (click)="saveReels()" type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn">Post Reels
                      </button>
                    </div>
    
                  </div>
                  <small class="p-error" style="color: orange;margin-left: 223px;" *ngIf="createReelForm.errors?.unauthenticated">
                    Please select valid date!
                  </small>
                  </form>
                </div>

                  
              </div>
            </div>
            <!-- <div
              class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4 cr-postfooter pt-0">
              <div class="post-bot-left d-flex">
                <button type="button"
                  class="post-attch-btn rounded-circle d-inline-flex justify-content-center align-items-center active"><img
                    src="../../../assets/images/gallery-dark.svg" class="dark-attach" /><img src="../../../assets/images/gallery-light.svg"
                    class="light-attach" /></button>
                <button type="button"
                  class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                    src="../../../assets/images/Video-dark.svg" class="dark-attach" /><img src="../../../assets/images/Video-light.svg"
                    class="light-attach" /></button>
                <button type="button"
                  class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                    src="../../../assets/images/Paper-Plus-dark.svg" class="dark-attach" /><img src="../../../assets/images/Paper-Plus-light.svg"
                    class="light-attach" /></button>
                <button type="button"
                  class="post-attch-btn rounded-circle  d-inline-flex justify-content-center align-items-center"><img
                    src="../../../assets/images/hashtag-dark.svg" class="dark-attach" /><img src="../../../assets/images/hashtag-light.svg"
                    class="light-attach" /></button>
              </div>
              <div class="post-bot-right d-flex justify-content-end">
                <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 delay-btn"><i
                    class="fa-solid fa-clock"></i></button>
                <button type="button" class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"><img
                    src="../../../assets/images/Send-light.svg" class="me-2" /> Nov 15, 2022 at 14:30 </button>
              </div>

            </div> -->
          </div>
        </div>
      </div>

    <!-- </div>

  </section> -->



  <!---- add tag Modal -->
  <div class="modal fade edit-school-modal" id="add-tag" tabindex="-1" aria-labelledby="add-tag" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0 justify-content-center position-relative">
          <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'AddTag'| translate }}</h1>
          <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
              src="../../../assets/images/cross.svg" /></button>
        </div>
        <div class="modal-body">
          <div class="form-group latest-form">
            <label class="font_10">{{'Tags'| translate }}</label>
            <!-- <p-chips class="form-control" placeholder="{{'TypeToAdd'| translate }}" [(ngModel)]="tagValues" separator=","></p-chips> -->
            <input [(ngModel)]="tags" (keyup.enter)="onEnter(tags)" type="text" class="form-control" placeholder="{{'TypeToAdd'| translate }}">
          </div>
          <div class="teacher-tags tag-box hashtag_post mt-4 mb-2 hover-tags">
            <span *ngFor="let tag of tagLists" class="custom-tag">{{'#' + tag}} 
              <button (click) = "removeTags(tag)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                  src="../../../assets/images/cross-sm-light.svg"></button>
            </span>

        </div>
        <small class="p-error" style="color: orange;margin-left: 135px;"
           *ngIf="(!isTagsValid)"> Please select atleast one tag
        </small>
        <div
          class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4">
          <button #closeTagModal type="button"
            class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
            data-bs-toggle="modal" data-bs-target="#create-post">Discard Changes</button>
          <button (click)="isValidTags()" type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16  next-step"
            data-bs-toggle="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  </div>


   <!---- Add attachgment Modal-->
   <div class="modal fade edit-school-modal" id="add-attachment" tabindex="-1" aria-labelledby="add-attachment"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header border-0 justify-content-center position-relative">
         <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'AttachFile'| translate }}</h1>
         <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
             src="../../../assets/images/cross.svg" /></button>     
       </div>
       <div class="modal-body">
         <div class="dropzone-wrapper mb-4">
          <div class="dropzone-desc">
            <i class="glyphicon glyphicon-download-alt"></i>
            <p class="text-center fw_400"><b>Click to Browse</b></p>
          </div>
          <input type="file" name="img_logo" class="dropzone" (change)="handleAttachmentInput($event)" accept="pdf/*">
         </div>
         <p class="font_16 text_dark text-center my-4 fw_600">{{'FindInFileStorage'| translate }}</p>
         <div class="form-group latest-form">
           <label class="font_10">{{'Files'| translate }}</label>
           <input type="text" class="form-control" placeholder="{{'TypeToAdd'| translate }}">
         </div>
         <div class="teacher-tags hashtag_post tag-boxattachment-outer mt-1 mb-0 hover-tags">
                 <span *ngFor="let item of this.initialAttachment" class="custom-tag"><img src="../../../assets/images/Paper-gray.svg" class="me-1 dark-svg"> <img
                  src="../../../assets/images/Paper-light.svg" class="me-1 light-svg"> {{item.name}}
                 <button (click)="removeAttachment(item)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                    src="../../../assets/images/cross-sm-light.svg">
                 </button>
               </span>
         </div>
       </div>
       <div
         class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4">
         <button type="button"
           class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
           data-bs-toggle="modal" data-bs-target="#create-post">Discard Changes</button>
         <button type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16  next-step"
           data-bs-toggle="modal" data-bs-target="#create-post">Save</button>
       </div>
     </div>
   </div>
   </div>

  <ng-template #attachmentTemplate style="max-width: 700px;">
   <div>
     <div class="modal-content">
       <div class="modal-header border-0 justify-content-center position-relative">
         <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'AttachFile'| translate }}</h1>
         <button (click)="closeAttachmentModal()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
             src="../../../assets/images/cross.svg" /></button>     
       </div>
       <div class="modal-body">
         <div class="dropzone-wrapper mb-4">
          <div class="dropzone-desc">
            <i class="glyphicon glyphicon-download-alt"></i>
            <p class="text-center fw_400"><b>Clock to Browse</b></p>
          </div>
          <input type="file" name="img_logo" class="dropzone" (change)="handleAttachmentInput($event)" accept="pdf/*">
         </div>
         <p class="font_16 text_dark text-center my-4 fw_600">{{'FindInFileStorage'| translate }}</p>
         <div class="form-group latest-form">
           <label class="font_10">{{'Files'| translate }}</label>
           <input type="text" class="form-control" placeholder="{{'TypeToAdd'| translate }}">
         </div>
         <div class="teacher-tags hashtag_post tag-boxattachment-outer mt-1 mb-0 hover-tags">
                 <span *ngFor="let item of this.initialAttachment" class="custom-tag"><img src="../../../assets/images/Paper-gray.svg" class="me-1 dark-svg"> <img
                  src="../../../assets/images/Paper-light.svg" class="me-1 light-svg"> {{item.name}}
                 <button (click)="removeAttachment(item)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                    src="../../../assets/images/cross-sm-light.svg">
                 </button>
               </span>
         </div>
       </div>
       <small class="p-error" style="color: orange;margin-left: 200px;"
         *ngIf="(!isAttachmentsValid)"> Please select atleast one attachment
      </small>
       <div
         class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4">
         <button (click)="closeAttachmentModal()" type="button"
           class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
           data-bs-toggle="modal" data-bs-target="#create-post">Discard Changes</button>
         <button (click)="isValidAttachments()" type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16  next-step"
           data-bs-toggle="modal" data-bs-target="#create-post">Save</button>
       </div>
     </div>
   </div>
</ng-template>



<ng-template #tagTemplate>
    <div class="modal-content">
      <div class="modal-header border-0 justify-content-center position-relative">
        <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'AddTag'| translate }}</h1>
        <button (click)="closeTagsModal()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
            src="../../../assets/images/cross.svg" /></button>
      </div>
      <div class="modal-body">
        <div class="form-group latest-form">
          <label class="font_10">{{'Tags'| translate }}</label>
          <input [(ngModel)]="tags" (keyup.enter)="onEnter(tags)" type="text" class="form-control" placeholder="{{'TypeToAdd'| translate }}">
        </div>
        <div class="teacher-tags tag-box hashtag_post mt-4 mb-2 hover-tags">
          <span *ngFor="let tag of initialTagList" class="custom-tag">{{'#' + tag}} 
            <button (click) = "removeTags(tag)" class="border-0 bg-transparent p-0 position-absolute delete-tag"><img
                src="../../../assets/images/cross-sm-light.svg"></button>
          </span>

      </div>
      <small class="p-error" style="color: orange;margin-left: 200px;"
         *ngIf="(!isTagsValid)"> Please select atleast one tag
      </small>
      <div
        class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4">
        <button (click)="closeTagsModal()" type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
          data-bs-toggle="modal" data-bs-target="#create-post">Discard Changes</button>
        <button (click)="isValidTags()" type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16  next-step"
          data-bs-toggle="modal">Save</button>
      </div>
    </div>
  </div>
</ng-template>

<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>

 <!-- </div>




 for tags
<div class="col-md-6">
  <p-chips [(ngModel)]="values1" separator=","></p-chips>
</div> -->
