input[id="hideFileType"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.modal-dialog {
  max-width: 700px;
  margin-top: 70px;
}

div[role="document"] {
  display: none;
}

.liv-postbtn {
  position: static;
}

.create-post-header {
  flex-direction: column;
}
