<div *ngIf="isDataLoaded">
  <section class="f-poppins">
    <div class="main_content">
      <div class="main_content-max-width">
        <div
          class="create-post-header d-flex justify-content-between d-none d-xl-flex align-items-center"
        >
          <button
            (click)="back()"
            type="button"
            class="back-button bg-transparent border-0 font_16 fw_400 text_dark"
          >
            <img src="../../../../assets/images/arrow-left.svg" />
            {{ "Back" | translate }}
          </button>
          <h2 class="font_22 fw_700 f-monteserrat mb-md-0 invisible">
            {{ "Followers" | translate }}
          </h2>
          <div class="search-header position-relative">
            <input
              [(ngModel)]="searchString"
              type="search"
              class="form-control h_44"
              #searchInput
              (input)="globalSearch()"
            />
            <button type="button" class="btn search-icon">
              <img src="../../../assets/images/school/search-gray.svg" />
            </button>
          </div>
        </div>
        <div
          class="live-header d-flex align-items-center justify-content-between"
        >
          <button
            (click)="back()"
            type="button"
            class="back-button bg-transparent border-0 font_16 fw_400 text_dark d-xl-none"
          >
            <img src="../../../../assets/images/arrow-left.svg" />
            {{ "Back" | translate }}
          </button>
          <span class="logo_mobile d-xl-none">
            <img src="../../../../assets/images/logo.svg" />
          </span>
          <div class="d-xl-none">
            <button
              type="button"
              class="mobile-search border_btn"
              onclick="openSearch()"
            >
              <img src="../../../../assets/images/search-lg.svg" />
            </button>
            <button
              (click)="openSidebar()"
              type="button"
              class="mobile-search border_btn notification-btn position-relative border-0 bg-transparent"
              onclick="openSidebar()"
            >
              <img src="../../../../assets/images/menu.svg" />
              <span
              *ngIf="hamburgerCount != 0" style="right: 0px;top: 2px;"
              class="badge rounded-circle d-inline-flex align-items-center justify-content-center fw_700 font_12"
              >{{ hamburgerCount }}</span>
            </button>
          </div>
        </div>

        <div class="wht_newbox followers_box">
          <ul class="list-unstyled before-none mb-0">
            <ng-container *ngFor="let item of globalSearchResult">
              <li class="mb-0" *ngIf="item.type == 4 && !item.isPost">
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1 fw_600">
                    <img
                    *ngIf="item?.avatar != null"
                      [src]="item.avatar"
                      class="rounded-circle me-3 img_style"
                    />
                    <img *ngIf="item?.avatar == null && item?.gender == 1"
                    src="../../../assets/images/maleProfile.jfif"
                    class="rounded-circle me-3 img_style">
  
                    <img *ngIf="item?.avatar == null && (item?.gender == 2 || item?.gender == 3)"
                    src="../../../assets/images/femaleProfile.jfif"
                    class="rounded-circle me-3 img_style">
                    <a
                      class="routeLink"
                      [routerLink]="['/user/userProfile', item.id]"
                      >{{ item.name }}</a
                    ></span
                  >
                </div>
              </li>
              <li class="mb-0" *ngIf="item.type == 1 && !item.isPost">
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1 fw_600">
                    <img
                      [src]="item.avatar"
                      class="rounded-circle me-3 img_style"
                    />
                    <a
                      class="routeLink"
                      [routerLink]="['/profile/school', item.name]"
                      >{{ item.name }}</a
                    ></span
                  >
                </div>
              </li>
              <li class="mb-0" *ngIf="item.type == 2 && !item.isPost">
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1 fw_600">
                    <img
                      [src]="item.avatar"
                      class="rounded-circle me-3 img_style"
                    />
                    <a
                      class="routeLink"
                      [routerLink]="[
                        '/profile/class',
                        item.schoolName,
                        item.name
                      ]"
                      >{{ item.name }}</a
                    ></span
                  >
                </div>
              </li>
              <li class="mb-0" *ngIf="item.type == 3 && !item.isPost">
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1 fw_600">
                    <img
                      [src]="item.avatar"
                      class="rounded-circle me-3 img_style"
                    />
                    <a
                      class="routeLink"
                      [routerLink]="[
                        '/profile/course',
                        item.schoolName,
                        item.name
                      ]"
                      >{{ item.name }}</a
                    ></span
                  >
                </div>
              </li>
              <li class="mb-0" *ngIf="item.isPost">
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1 fw_600">
                    <img
                      [src]="item.avatar"
                      class="rounded-circle me-3 img_style"
                    />
                    <a *ngIf="item.type == 1"
                      class="routeLink"
                      [routerLink]="[
                        '/user/post',
                        item.id
                      ]"
                      >{{ item.name }}</a
                    >
                    <a *ngIf="item.type == 3"
                    class="routeLink"
                    [routerLink]="[
                      '/user/reels',
                      item.id,
                    ]"
                    >{{ item.name }}</a
                  >
                    </span
                  >
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
<post-loading-spinner
  [postLoadingIcon]="postLoadingIcon"
></post-loading-spinner>
<p-toast></p-toast>
