
<section class="container">
    <div class="logo mb-3">
      <img src="../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8">
      <a href="#!" class="back-step text-decoration-none font_16 text_dark"><img src="../../../assets/images/arrow-left.svg"
          alt="arrow" /> {{'Back'| translate }}</a>
      <form class="register-form mx-auto" [formGroup]="setPasswordForm">
        <h2 class="font_34 fw_700 text-center">{{'SetPassword'| translate }}</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" formControlName="newPassword" class="form-control rounded-8" placeholder="{{'Password'| translate }}">  
              <small class="p-error" style="color: orange;"
              *ngIf="isSubmitted && setPasswordForm.controls.newPassword.errors">Password is
              required.</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" formControlName="confirmPassword" class="form-control rounded-8" placeholder="{{'RepeatPassword'| translate }}"> 
              <small class="p-error" style="color: orange;"
              *ngIf="isSubmitted && setPasswordForm.controls.confirmPassword.errors">Confirm Password is
              required.</small>

              <small class="p-error" style="color: orange;"
              *ngIf=" isSubmitted && matchPassword() && setPasswordForm.controls.confirmPassword.touched && !setPasswordForm.controls.confirmPassword.errors">
              Password and Confirm password does not match!
              </small>
            </div>
          </div>
          <div class="col-md-12">
            <button (click)="setPassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
          </div>

        </div>
        <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }} <a [routerLink]="['/user/auth/register']"
          class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
          class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>
          <div class="d-flex justify-content-between flex-wrap">
              <div class="language-btn">
                <input [attr.checked]="selectedLanguage == 'en' ? true : null" type="radio" (click)="switchLanguage('en')" class="btn-check" name="btnradio" id="lang1" autocomplete="off" checked>
                <label class="btn btn-outline-primary font_16 rounded-8" for="lang1">English</label>
              </div>             
              <div class="language-btn">
                <input [attr.checked]="selectedLanguage == 'ar' ? true : null" type="radio" (click)="switchLanguage('ar')" class="btn-check" name="btnradio" id="lang2" autocomplete="off">
                <label class="btn btn-outline-primary font_16 rounded-8" for="lang2">اللغة العربية</label>
              </div>
              <div class="language-btn">
                <input [attr.checked]="selectedLanguage == 'tr' ? true : null" type="radio" (click)="switchLanguage('tr')" class="btn-check" name="btnradio" id="lang3" autocomplete="off">
                <label class="btn btn-outline-primary font_16 rounded-8" for="lang3">Türkçe</label>
              </div>
            </div>
      </form>
    </div>
  </section>
  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>