
<section class="container">
    <div class="logo mb-3 pt-3 text-center text-md-start">
      <img src="../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8">
      <form class="register-form mx-auto" [formGroup]="setPasswordForm">
        <h2 class="font_34 fw_700 text-center">{{'SetPassword'| translate }}</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-container">
              <input #newPasswordInput type="password" formControlName="newPassword" class="form-control rounded-8" placeholder="{{'Password'| translate }}">  
              <button class="eye_button_style" type="button" (click)="newPasswordInput.type = newPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onNewPasswordShow()" *ngIf="!isNewPasswordVisible"></i><i class="fa fa-eye" (click)="onNewPasswordHide()" *ngIf="isNewPasswordVisible"></i></button>
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && setPasswordForm.get('newPassword')?.errors?.required">
                {{'PasswordRequired'| translate }}</small>
            <div *ngIf="isSubmitted && setPasswordForm.get('newPassword')?.errors?.minlength">
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && setPasswordForm.get('newPassword')?.errors?.minlength">
                 {{'PasswordLengthRequired'| translate }}
              </small><br>          
             </div>         
            <small class="p-error" style="color: orange;" *ngIf="isSubmitted && setPasswordForm.get('newPassword')?.errors?.pattern">
                {{'PasswordPatternRequired'| translate }}</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group input-container">
              <input #confirmPasswordInput type="password" formControlName="confirmPassword" class="form-control rounded-8" placeholder="{{'RepeatPassword'| translate }}"> 
              <button class="eye_button_style" type="button" (click)="confirmPasswordInput.type = confirmPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onConfirmPasswordShow()" *ngIf="!isConfirmPasswordVisible"></i><i class="fa fa-eye" (click)="onConfirmPasswordHide()" *ngIf="isConfirmPasswordVisible"></i></button>
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && setPasswordForm.get('confirmPassword')?.errors?.required">
                {{'ConfirmPasswordRequired'| translate }}</small> 
            <small class="p-error" style="color: orange;" *ngIf="isSubmitted && (setPasswordForm.get('confirmPassword')?.errors?.pattern || setPasswordForm.get('confirmPassword')?.errors?.minlength)">
                {{'PasswordDoesNotMatch'| translate }}</small>
              <small class="p-error" style="color: orange;"
              *ngIf=" isSubmitted && matchPassword() && setPasswordForm.controls.confirmPassword.touched && !setPasswordForm.controls.confirmPassword.errors">
                {{'PasswordDoesNotMatch'| translate }}
              </small>
            </div>
          </div>
          <div class="col-md-12">
            <button (click)="setPassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
          </div>

        </div>
        <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }} <a [routerLink]="['/user/auth/register']"
          class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
          class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>
          <multi-lingual></multi-lingual>
      </form>
    </div>
  </section>
  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>