.carousel {
    /* height: 100vh; */
    overflow: hidden;
  }
  
  .video-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .cursorPointer{
    cursor: pointer;
}