.carousel {
    /* height: 100vh; */
    overflow: hidden;
  }
  
  .video-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .cursorPointer{
    cursor: pointer;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* .live-inner,.live-image{
  height: 100%;
  margin: auto;
}
.reel_videoinner{
  height: 100%;
}


.carousel_item,.live-outerbox,#reel_content{
  height: 85vh;
}
.video-part{
  height: 80%;
}

.video-actions{
  height: 20%;
}

.live-action-buttons,.live-bottom-text{
  height: 50%;
} */
.dropdown-menu li a{
  color: black;
}

