.live-message .comment-user {
  margin-right: 0;
}

.reel-like-chat {
  position: static;
}

.live-message {
  padding-right: 0;
}

.trash-icon {
  background-color: transparent;
}

.trash-icon svg {
  width: 20px;
  height: 20px;
}

.live-message button {
  margin: 0;
}

.verified-badge img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.carousel {
  /* height: 100vh; */
  overflow: hidden;
}

.video-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cursorPointer {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* .live-inner,.live-image{
  height: 100%;
  margin: auto;
}
.reel_videoinner{
  height: 100%;
}


.carousel_item,.live-outerbox,#reel_content{
  height: 85vh;
}
.video-part{
  height: 80%;
}

.video-actions{
  height: 20%;
}

.live-action-buttons,.live-bottom-text{
  height: 50%;
} */
.dropdown-menu li a {
  color: black;
}




/* 
.carousel .carousel-control{
  bottom: auto;
  width:100%;
  height: 15%;
  background: none;
}
.carousel .carousel-control.right{
 top:auto;
 bottom: 0;
 background: none;
}
.carousel .carousel-indicators{
  bottom: auto;
  top:50%;
  left:auto;
  right:15px;
  margin: 0;
  transform: translateY(-50%);
}

.carousel .carousel-inner > .carousel-item {
  width:100%
} */
