<div *ngIf="isDataLoaded">
<div appBsModal bsModal class="modal fade edit-school-modal show d-block" id="create-post" tabindex="-1"
aria-labelledby="create-post" aria-hidden="true" area-modal="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header border-0 justify-content-center position-relative">
      <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center" id="editschool">{{'BuyClass'| translate }}</h1>
      <button (click)="closeModal()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
          src="../../../../assets/images/cross.svg" /></button>
    </div>
    <div class="modal-body">
      <div class="edit-profile-header text-center mb-4">
        <div class="rounded-circle modal-school-icon text-center mb-2 class-icon-profile">
            <div>
                <img [src]="parentInfo.paymentDetails.avatar">
            </div>
        </div>
      </div>
      <div class="text-line-border position-relative text-center mb-4">
        <span class="line-text font_12 text_ltgray fw_400 text-center">{{'GeneralInformation'| translate }}</span>
      </div>
      <form [formGroup]="paymentForm" class="latest-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="font_10">{{'PaymentMethod'| translate }}</label>
              <select class="form-select rounded-8 w-100" formControlName="paymentMethod">
                <option value="1" selected>{{'CreditCard'| translate }}</option>
                <option value="2">{{'DebitCard'| translate }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="font_10">{{'CardNumber'| translate }}*</label>
              <input (keypress)="omit_special_char($event)" formControlName="cardNumber" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" maxlength="19" name="cardNumber" class="form-control w-100" (input)="formatCardNumber($event)">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && paymentForm.controls.cardNumber.errors)">Card Number is required
            </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font_10">{{'ExpiresOn'| translate }}*</label>
              <input (keypress)="omit_special_char($event)" formControlName="expiresOn" type="text" placeholder="XX-XX" maxlength="5" name="expiresOn" class="form-control w-100" (input)="formatMonthYear($event)">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && paymentForm.controls.expiresOn.errors)">Expires On is required
            </small>
            <small class="p-error" style="color: orange;" *ngIf="paymentForm.errors">
              {{paymentForm.errors.dates}}
            </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font_10">{{'SecurityCode'| translate }}*</label>
              <input formControlName="securityCode" type="text" name="securityCode" class="form-control w-100">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && paymentForm.controls.securityCode.errors)">Security Code is required
            </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font_10">{{'FirstName'| translate }}*</label>
              <input formControlName="firstName" type="text" name="firstName" class="form-control w-100">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && paymentForm.controls.firstName.errors)">First Name is required
            </small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="font_10">{{'LastName'| translate }}*</label>
              <input formControlName="lastName" type="text" name="lastName" class="form-control w-100">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && paymentForm.controls.firstName.errors)">Last Name is required
            </small>
            </div>
          </div>
        </div>           
      </form>
    </div>
    <div
      class="modal-footer steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4 mt-2">
      <button #closeEditModal id="closeBtn" type="button"
        class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
        data-bs-dismiss="modal">{{'DiscardChanges'| translate }}</button>
      <button (click)="addPayment()" type="button"
        class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16  next-step">{{'Save'| translate }}</button>

    </div>
  </div>
</div>
</div>
</div>

<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>

