    <div  [ngClass]="isOpenSidebar ? 'sidemenu d-xl-block d-block ' : 'sidemenu d-xl-block d-none'" id="side-bar">
        <span class="closebtn d-xl-none" (click)="closeSidebar()" title="Close Side Menu">×</span>
        <div class="text-center">
          <a class="main-logo"><img src="../../../assets/images/logo.svg" /></a>
        </div>
        <hr class="earning-hr" />
        <div style="margin-left: 10px;">
          <div class="school-name d-flex align-items-center font_16">
            <span class="bg-transparent rounded-circle comment-post-user rounded-circle image"><img src="../../../../assets/images/dashboardLogo.png" style="max-height: 100%;"/>
            </span>
            <a [routerLink]="['/administration/adminHome']" class="routeLink">{{'Dashboard'| translate }}</a>
          </div>
        <div class="school-name d-flex align-items-center font_16">
          <span class="bg-transparent rounded-circle comment-post-user rounded-circle image"><img src="../../../../assets/images/userLogo2.png" style="max-height: 100%;"/>
          </span>
          <a [routerLink]="['/administration/registeredUsers']" class="routeLink">{{'Users'| translate }}</a>
        </div>
        <div class="school-name d-flex align-items-center font_16">
          <span class="bg-transparent rounded-circle comment-post-user rounded-circle image"><img src="../../../../assets/images/schoolLogo2.png" style="max-height: 100%;"/>
          </span>
          <a [routerLink]="['/administration/registeredSchools']" class="routeLink">{{'Schools'| translate }}</a>
        </div>
        <div class="school-name d-flex align-items-center font_16">
          <span class="bg-transparent rounded-circle comment-post-user rounded-circle image"><img src="../../../../assets/images/classLogo.png" style="max-height: 96%;"/>
          </span>
          <a [routerLink]="['/administration/registeredClasses']" class="routeLink">{{'Classes'| translate }}</a>
        </div>
        <div class="school-name d-flex align-items-center font_16">
          <span class="bg-transparent rounded-circle comment-post-user rounded-circle image"><img src="../../../../assets/images/classLogo.png" style="max-height: 96%;"/>
          </span>
          <a [routerLink]="['/administration/registeredCourses']" class="routeLink">{{'Courses'| translate }}</a>
        </div>
      </div>
      <multi-lingual></multi-lingual>
      </div>
      