.table{
    margin-top: -45px;
}

.cursorPointer{
    cursor: pointer;
}
::ng-deep .theading-nowrap .p-datatable-wrapper {
    overflow-x: auto;
}
::ng-deep .theading-nowrap table thead tr>th{
    overflow: hidden;
    white-space: nowrap;
}