.cursorPointer{
    cursor: pointer;
}

::ng-deep .theading-nowrap .p-datatable-wrapper {
    overflow-x: auto;
    padding: 0;
}
::ng-deep .theading-nowrap table thead tr>th{
    overflow: hidden;
    white-space: nowrap;
}