
  <section class="container">
    <div class="logo mb-3 pt-5">
      <img src="../../../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8">
      <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark"><img
        src="../../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>

      <!-- <a (click)="back()" class="back-step text-decoration-none font_16 text_dark"><img src="../../../../../assets/images/arrow-left.svg"
          alt="arrow" /> {{'Back'| translate }}</a> -->
      <form class="register-form mx-auto" [formGroup]="registrationForm">
        <h2 class="font_34 fw_700 text-center">{{'NewAccount'| translate }} <span class="text_secondary">{{'Okul'| translate }}</span></h2>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input (keypress)="omit_special_char($event)" type="text" class="form-control rounded-8" formControlName="firstName" placeholder="{{'Name'| translate }}">
              <small class="p-error" style="color: orange;"
                *ngIf="(isSubmitted && registrationForm.controls.firstName.errors)">First Name is required
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input (keypress)="omit_special_char($event)" type="text" class="form-control rounded-8" formControlName="lastName" placeholder="{{'SurName'| translate }}">
              <small class="p-error" style="color: orange;"
                *ngIf="(isSubmitted && registrationForm.controls.lastName.errors)">Last Name is required
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="date" class="form-control rounded-8" formControlName="dob" placeholder="YYYY/MM/DD">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && registrationForm.controls.dob.errors)">Date of birth is required
            </small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-select rounded-8" formControlName="gender" aria-label="Default select example">
                <option value="" disabled selected hidden>{{'Gender'| translate }}</option>
                <option value="1">{{'Male'| translate }}</option>
                <option value="2">{{'Female'| translate }}</option>
                <option value="3">{{'Other'| translate }}</option>
              </select>
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && registrationForm.controls.gender.errors)">Date of birth is required
            </small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" class="form-control rounded-8" formControlName="email" placeholder="{{'Email'| translate }}">
              <small class="p-error" style="color: orange;"
              *ngIf="(isSubmitted && registrationForm.controls.email.errors)">Valid Email address is required
            </small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" class="form-control rounded-8" formControlName="password" placeholder="{{'Password'| translate }}">
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && registrationForm.controls.password.errors">
                Password is required.</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" class="form-control rounded-8" formControlName="confirmPassword" placeholder="{{'RepeatPassword'| translate }}">
              <small class="p-error" style="color: orange;"
              *ngIf="isSubmitted && registrationForm.controls.confirmPassword.errors">Confirm Password is
              required.</small>

              <small class="p-error" style="color: orange;"
              *ngIf=" isSubmitted && matchPassword() && registrationForm.controls.confirmPassword.touched && !registrationForm.controls.confirmPassword.errors">
              Password and Confirm password does not match!
              </small>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="register()" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Register'| translate }}</button>
          </div>

        </div>
        <p class="font_14 fw_300 text-center al-account">{{'AlreadyAccount'| translate }} <a [routerLink]="['/user/auth/login']"
            class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>

        <multi-lingual></multi-lingual>

      </form>
    </div>
  </section>


<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
