    <section class="f-poppins" style="margin-left: 30%;">
      <header class="header">
        <div class="header__content">
          <button
          (click)="back()"
          type="button"
          class="back-button bg-transparent border-0 font_16 fw_400 text_dark">
        <img src="../../../../assets/images/school/arrow-left.svg" />
        {{ "Back" | translate }}
      </button>
          <a href="" class="main-logo"><img class="ms-4" src="../../../assets/images/logo.svg" /></a>
        </div>
      </header>
      <main class="static-main">
        <div class="static-content">
       <div *ngIf="selectedLanguage == 'en'">
        <p><strong>ABOUT US</strong></p>
        <p>ByOkul's mission is to improve people's lives through learning. We enable anyone, everywhere to create and share educational content (instructors) and access it for learning purposes (students). We believe our platform model is the best way to deliver valuable educational content to our users.</p>
       </div>

       <div *ngIf="selectedLanguage == 'tr'">
        <p><strong>ABOUT US</strong></p>
<p>ByOkul'un misyonu, &ouml;ğrenme yoluyla insanların hayatlarını iyileştirmektir. Her yerde herkesin eğitim i&ccedil;erikleri oluşturup paylaşmasına (eğitmenler) ve bu eğitim i&ccedil;eriklerine &ouml;ğrenme amacıyla erişmesine (&ouml;ğrenciler) olanak sağlıyoruz. Platform modelimizin, kullanıcılarımıza değerli eğitim i&ccedil;erikleri sunmak i&ccedil;in en iyi y&ouml;ntem olduğunu d&uuml;ş&uuml;n&uuml;yoruz.</p>
       </div>

       <div *ngIf="selectedLanguage == 'ar'">
        <p>معلومات عنا</p>
        <p>مهمة ByOkul هي تحسين حياة الناس من خلال التعلم. نحن نمكن أي شخص، في كل مكان، من إنشاء ومشاركة المحتوى التعليمي (المعلمين) والوصول إليه لأغراض التعلم (الطلاب). نعتقد أن نموذج المنصة الخاص بنا هو أفضل طريقة لتقديم محتوى تعليمي قيم لمستخدمينا.</p>
        <p>&nbsp;</p>
       </div>

       <div *ngIf="selectedLanguage == 'sp'">
        ABOUT US
        ByOkul's mission is to improve people's lives through learning. We enable anyone, everywhere to create and share educational content (instructors) and access it for learning purposes (students). We believe our platform model is the best way to deliver valuable educational content to our users.         
       </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer__content">
          <a href="" class="main-logo"><img src="../../../assets/images/logo.svg" /></a>
          <nav>
            <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
            <a [routerLink]="['/termsOfServices']">Terms of services</a>
            <a [routerLink]="['/aboutUs']">About us</a>
            <a [routerLink]="['/faq']">FAQ</a>
          </nav>
        </div>
      </footer>
     
    </section>

