<div class="container">
    <div *ngIf="schoolDisabled" class="message">
        {{ "SchoolDisabled" | translate }}
    </div>

    <div *ngIf="schoolDeleted" class="message">
        {{ "SchoolDeleted" | translate }}
    </div>

    <div *ngIf="schoolDisabledAndDeleted" class="message">
        {{ "SchoolDeleted" | translate }}
    </div>

    <div *ngIf="classDisabled" class="message">
        {{ "ClassDisabled" | translate }}
    </div>

    <div *ngIf="classDeleted" class="message">
        {{ "ClassDeleted" | translate }}
    </div>
    <div *ngIf="classDisabledAndDeleted" class="message">
        {{ "ClassDeleted" | translate }}
    </div>
    <div *ngIf="classDisabledByAdmin" class="message">
        {{ "ClassDisabledByAdmin" | translate }}
    </div>


    <div *ngIf="courseDisabled" class="message">
        {{ "CourseDisabled" | translate }}
    </div>

    <div *ngIf="courseDeleted" class="message">
        {{ "CourseDeleted" | translate }}
    </div>
    <div *ngIf="courseDisabledAndDeleted" class="message">
        {{ "ClassDeleted" | translate }}
    </div>
    <div *ngIf="courseDisabledByAdmin" class="message">
        {{ "CourseDisabledByAdmin" | translate }}
    </div>

    <div *ngIf="userBan" class="message">
        {{ "UserBanned" | translate }}
    </div>
    <div *ngIf="schoolBanByAdmin" class="message">
        {{ "SchoolBanned" | translate }}
    </div>
</div>