.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.message {
    margin: 10px;
    margin-left: 24%;
    color:orange;
    font-size: 40px;
    text-align: center;
}
