.cursor_pointer{
    cursor: pointer;
}

.cursor_auto{
    cursor: auto;
}

.overflow_paragraph{
    overflow: auto;
    max-height: 200px !important;

}

.overflow_paragraph::-webkit-scrollbar {
    width: 2px;
  }