
        <button hidden #openAttachmentModal type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44" data-bs-toggle="modal"
        data-bs-target="#add-attachment">{{'CreatePost'| translate }}</button>
        <!-- <div *ngIf="isDataLoaded"> -->
        <div appBsModal  bsModal #createPostModal="bs-modal" class="modal fade edit-school-modal show d-block" id="create-post" tabindex="-1"
          aria-labelledby="create-post" aria-hidden="true" [config]="{backdrop: 'static'}" area-modal="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header border-0 justify-content-center position-relative">
                <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">{{'Share'| translate }}</h1>
                <div></div>
                <button (click)="close()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
                    src="../../../assets/images/cross.svg" /></button>
              </div>
              <div class="modal-body">
                <div class="share_div">
                <button *ngIf="post.postId!= undefined" (click)="saveUserSharedPost()" type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn">{{'MyWall'| translate }}</button>
                <button (click)="shareStream()" type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn">
                    <a class="social_icon" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{websiteUrl}}&amp;src=sdkpreparse">Facebook</a>
                </button> 
                <!-- <button type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn">{{'Facebook'| translate }}</button> -->
                <!-- <button type="button" class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn">{{'Twitter'| translate }}</button> -->

                <button (click)="shareStream()" class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn"><a class="social_icon" href="https://twitter.com/intent/tweet?text=Here is the Link {{websiteUrl}}" target="_blank">Twitter</a>
                </button>                                           
                <!-- <button><a href="http://twitter.com/share?text=text goes here&url={{websiteUrl}}&hashtags=hashtag1,hashtag2,hashtag3" target="_blank">Twitter</a>
                </button> -->
                </div>
                <div class="text-center">
                  <button
                  #copyButton
                  type="button"
                  (click)="copyMessage()"
                  class="btn custom-btn primary_btn earning-btn fw_400 h_44 share_btn"
                  pTooltip="Copy Link"
                  tooltipPosition="top"
                  >
                    {{'CopyLink'| translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      <!-- </div>
  
    </section> -->
  
  <!-- <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner> -->
  <p-toast></p-toast>
  