<section class="container pt-3 pt-lg-4">
    <div class="logo mb-3 text-center text-md-start">
      <img src="../../../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8" style="padding: 40px 69px;">
        <div>
            <h2 style="font-weight: 500;color: orange;" class="text-center">Coming Soon</h2>
        </div>

        <div>
            <img style= "display: block;margin-left: auto;margin-right: auto;margin-top: 50px;" class="text-center" src="../../../../../assets/images/landing-screen-vector.svg" alt="icon" />
        </div>
    </div>
  </section>

