html {
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	overflow-X: hidden;
	color: #313131;
}

.f-poppins {
	font-family: 'Poppins', sans-serif;
}

.f-monteserrat {
	font-family: 'Montserrat', sans-serif;
}

* {
	padding: 0;
	margin: 0px;
}

.btn,
.form-control,
select {
	outline: none !important;
	box-shadow: none !important;
}

img {
	max-width: 100%;
}

::placeholder {
	color: #7C8DA7;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #7C8DA7;
}

::-ms-input-placeholder {
	color: #7C8DA7;
}

.rounded-8 {
	border-radius: 8px;
}

.bg-gray-gradient {
	background-color: linear-gradient(180deg, rgba(189, 189, 189, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.text_dark {
	color: #313131 !important;
}

.text_secondary {
	color: #FFA41C;
}

.text_ltgray {
	color: #7C8DA7 !important;
}

.text_sec1 {
	color: #151718;
}

.danger_text {
	color: #FF1C1C !important;
}

.fw_300 {
	font-weight: 300 !important;
}

.fw_400 {
	font-weight: 400 !important;
}

.fw_500 {
	font-weight: 500 !important;
}

.fw_600 {
	font-weight: 600 !important;
}

.fw_700 {
	font-weight: 700 !important;
}

.font_10 {
	font-size: 10px;
}

.font_12 {
	font-size: 12px;
}

.font_14 {
	font-size: 14px;
}

.font_16 {
	font-size: 16px !important
}

.font_20 {
	font-size: 20px;
}

.font_22 {
	font-size: 22px;
}

.font_24 {
	font-size: 24px;
}

.font_34 {
	font-size: 34px;
}

.font_39 {
	font-size: 39px;
}

.h_44 {
	height: 44px !important;
}

a.text_dark:hover {
	color: #ff991c;
}

.minw-auto {
	min-width: auto;
}

.form-control,
select.form-select,
.custom-language-select .ms-options-wrap>button {
	border-left: 2px solid #FF821C !important;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 10%) !important;
	padding: 5px 16px;
	border-width: 0px 0px 0px 2px;
	height: 48px;
	border-radius: 8px;
	background-color: #fff;
	width: 100%;
	text-align: left;

}

.custom-language-select .ms-options-wrap>button {
	background-image: url(../src/assets/images/school/chevron-down-1.svg);
	background-repeat: no-repeat;
	background-position: right 0.9rem center;
	background-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 60px;
}

.custom-language-select .ms-search {
	display: none;
}

.custom-language-select .ms-options {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
	border-radius: 8px;
	position: absolute;
	width: 100%;
	max-height: 250px !important;
}

.custom-language-select ul li::marker,
.custom-language-select ul li::before {
	display: none;
}

.custom-language-select ul {
	padding-left: 0;
}

.custom-language-select ul li {
	margin-bottom: 0;
	padding: 12px 16px;
}

.custom-language-select ul li label {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding-left: 0px !important;
}

.custom-language-select ul li label input {
	width: 18px;
	height: 18px;
	border: 1px solid #7C8DA7;
	border-radius: 7px !important;
	margin-top: 3px;
}

.form-group {
	margin-bottom: 24px;
}

.primary_btn {
	font-weight: 500;
	background: linear-gradient(90.02deg, #FF7B1C 0.02%, #FFA41C 99.98%);
	height: 52px;
	color: #fff !important;
	transition: 0.5s all;
}

.primary_btn:hover {
	background: linear-gradient(90.02deg, #FFA41C 0.02%, #FF7B1C 99.98%);
}

.language-btn .btn-outline-primary,
.language-btn .btn-outline-primary:hover {
	padding: 5px 24px;
	border: 1px solid #E1E1E1;
	color: #313131 !important;
}

.language-btn .btn-check:checked+.btn,
.language-btn .btn.active,
.btn.show,
.language-btn .btn:first-child:active,
.language-btn :not(.btn-check)+.btn:active {
	background-color: #fff;
	border: 2px solid #FF821C;
}

ul li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 16px;
}

ul li:before {
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	background: #FFA41C;
	border-radius: 50%;
	left: 0;
	top: 7px;
}

.pb_32 {
	padding-bottom: 32px;
}

.bg_eee {
	background-color: #eeeeee;
}

.my_32 {
	margin-top: 32px;
	margin-bottom: 32px;
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	-webkit-appearance: none;
}

input[type=date] {
	background-image: url(../src/assets/images/Calendar.svg);
	background-repeat: no-repeat;
	background-position: center right 16px;
}

/*--- CSS for scroll bar issue---*/
:-webkit-scrollbar {
	width: 7px;
	height: 8px;
}

:-webkit-scrollbar-track {
	background: transparent;
}

:-webkit-scrollbar-thumb {
	background-color: #c7c7c7;
	border-radius: 0;
	border: 0px solid transparent;
	background-color: #000;
}

::-webkit-scrollbar {
	height: 8px;
	border-radius: 0;
	background-clip: padding-box;
	border: 0px solid transparent;
	width: 7px;
	background-color: #E5E5E5;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 10px #7C8DA7;
}

/*--- CSS for scroll bar issue---*/

/*---- Regsiter page css ----*/
.back-step {
	margin-bottom: 70px;
	display: inline-block;
}

.register-section {
	border: 2px solid #FFFFFF;
	padding: 32px 32px 100px;
	background: url(../src/assets/images/register-bg.svg) no-repeat;
	background-size: cover;
	min-height: calC(100vh - 100px);
}

.register-form {
	max-width: 450px;
}

.register-form h2 {
	margin-bottom: 32px;
}

.al-account {
	margin: 20px 0 32px;
}

/*---- landing page css start here ---*/
.landing-section {
	padding: 98px 69px;
}

.landing-left .form-group {
	margin-bottom: 32px;
}

/*==== User portal css start here ===*/
.sidemenu {
	padding: 28px 25px 63px;
	border-right: 1px solid #EEEEEE;
	background: linear-gradient(180deg, #FBFBFB 0%, rgba(251, 251, 251, 0) 100%);
	max-width: 290px;
	min-width: 290px;
	width: 290px;
	position: fixed;
	top: 0;
	left: 0;
	transition: ease-in-out .5s;
	z-index: 99;
	bottom: 0;
	display: block;
	overflow-y: auto;
}

.sidemenu ul li:before,
.notification-box .dropdown .dropdown-toggle:after,
ul.before-none li:before {
	display: none;
}

.sidemenu li a {
	padding: 8px 10px;
	width: 100%;
	display: block;
	color: #464E5F;
	border-radius: 4px;
}

.sidemenu li a.active {
	background: #464E5F;
	color: #fff;
	font-weight: 700;
}

.sidemenu li a img {
	min-width: 19px;
	margin-right: 18px;
}

.sidemenu h3 {
	margin: 40px 0 24px;
}

.sidemenu_inner {
	display: flex;
	height: 100%;
	min-height: calC(100vh - 110px);
	flex-flow: column;
	justify-content: space-between;
}

.sidemenu-right {
	border-right: 0;
	border-left: 1px solid #EEEEEE;
}

.add-btn {
	width: 28px;
	height: 28px;
	background: linear-gradient(90.02deg, #FF7B1C 0.02%, #FFA41C 99.98%);
	margin-left: 20px;
}

.school-name {
	margin-bottom: 30px;
}

.school-img {
	background: #D9D9D9;
	width: 31px;
	height: 31px;
	border: 1px solid #BFBFBF;
	overflow: hidden;
}

h3.subhead-btn {
	margin: 0px 0 28px;
}

.notification-box {
	padding: 28px 0;
}

.notification-btn .badge {
	width: 18px;
	height: 18px;
	background: #FF1C1C;
	position: absolute;
	right: -15px;
	top: -8px;
}

.notification-box ul li {
	margin: 0 20px;
	padding-left: 0;
}

.notification-box .dropdown .dropdown-toggle {
	width: 32px;
	height: 32px;
	border: 2px solid #FFFFFF;
}

.sidemenu .accordion-button::after {
	position: absolute;
	background: url(../src/assets/images/school/chevron-down.svg) no-repeat;
	transition: 0.3s all;
	left: 0;
	top: 50%;
	margin: 0;
	background-position: center;
	transform: translateY(-50%) rotate(180deg);
}

.sidemenu .accordion-item .accordion-button {
	padding: 18px 0px 18px 29px;
	box-shadow: none !important;
	outline: none !important;
}


.accordion-button[aria-expanded="true"]::after {
	transform: translateY(-50%) rotate(0deg);
}

.earning-btn {
	height: 44px;
	border-radius: 8px;
	font-size: 14px;
}

hr.earning-hr {
	margin: 32px 0 44px;
}

.custom-tabs ul .nav-item button {
	font-size: 14px;
	color: #313131 !important;
	font-weight: 500;
	border-radius: 8px;
	padding: 11.5px 16px;
	border: 2px solid transparent !important;
}

.custom-tabs .nav-item .nav-link.active,
.custom-tabs .nav-item .show>.nav-link {
	background: transparent !important;
	border-color: #FF821C !important;

}

.sidemenu .language-btn label {
	padding: 5px 12px !important;
}

.sidemenu .accordion-header {
	position: relative;
	padding: 0px 32px 0px 0;
}

.sidemenu .accordion-header .add-btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
}

/*=== center content css start here --*/
.main_content {
	width: 100%;
	transition: ease-in-out .5s;
	padding: 40px 40px;
}

.live-header {
	padding-bottom: 40px;
}


.live-content {
	border: 1px solid #F1F7FF;
	border-radius: 16px;
	padding: 16px;
	display: flex;
}

.live-image {
    box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
    width: 100%;
    max-width: 860px;
    margin: 0 auto 26px;
}

button.live_chats {
	border: 1px solid rgba(124, 141, 167, 0.5);
	border-radius: 600px;
	background: #FFFFFF;
	padding: 8px 12px;
	position: absolute;
	right: 25px;
	top: 25px;
}

button.live_chats .chat-gray-icon {
	margin-right: 13px;
	margin-top: -5px;
}

button.live_chats .live-chat-back {
	margin-top: -2px;
}

.chat-enabled {
	padding: 11px 21px;
	background: rgba(124, 141, 167, 0.05);
	border-radius: 600px;
	margin-bottom: 32px;
}

.chat-enabled img {
	margin-right: 20px;
}

.live-message .comment-user {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 22px;
}

.live-message button {
	margin-left: 30px;
}

.accordion-open {
    min-width: 414px;
    padding: 32px 36px;
    border-left: 1px solid #F1F7FF;
    margin-left: 16px;
}

.pinned-chat {
	position: absolute;
	left: -58px;
	top: 4px;
}

.live-chat-box {
    padding: 32px 32px 32px 50px;
    background: #FCFCFC;
    margin: 0 -52px -50px -36px;
}

.live-message {
	margin-bottom: 32px;
}

button.comment-btn {
	background: #FF821C;
	box-shadow: -4px 4px 30px rgb(0 0 0 / 8%);
	border-radius: 60px;
	width: 24px;
	min-width: 24px;
	height: 24px;
}

.add-comment input {
	height: 41px;
	margin: 0 18px 0 22px;
}

.comment-post-user {
	min-width: 32px;
	height: 32px;
}

.add-comment {
	padding-top: 18px;
}

.live-action-buttons button {
	height: auto !important;
	border: 2px solid transparent;
	border-radius: 16px;
	padding: 7px 16px;
}

.live-action-buttons button.active {
	border-color: #FF7C1C;
}

.live-action-buttons button img {
	margin-bottom: 5px;
}

.live-action-buttons {
	padding-bottom: 16px;
	margin-top: -28px;
}

.live-chat-close,
.cl-livechat .live-chat-back {
	display: none;
}

.cl-livechat .live-chat-close {
	display: inline !important;
}

.search-header {
	max-width: 175px;
}

.create-post-header .custom-btn {
	padding: 11px 46px;
}

.create-post-header {
	margin-bottom: 23px;
}

.create-post-header input[type=search] {
	padding-left: 40px;
}

.search-header .search-icon {
	position: absolute;
	top: 3px;
}


.step-form,
.wht_box {
	background: #FFFFFF;
	border: 1px solid #F1F7FF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	max-width: 600px;
	padding: 32px;
}

.step-form .tab {
	display: none;
}


/* Make circles that indicate the steps of the form: */
.step-form .step {
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #F2F7FF;
	border: none;
	border-radius: 50%;
	display: inline-block;
}

.step-form .step.active,
.step-form .step.finish {
	background-color: #FF811C;
}

.step-form textarea {
	resize: none;
	height: 90px;
	padding: 12px 16px;
}

.step-form button,
.steps_btns .btn {
	height: 52px !important;
}

.step-icon {
	margin: 32px auto;
}

.step-desc {
	margin-bottom: 32px;
}

.dropzone-wrapper {
	border: 2px dashed #E4E4E4;
	color: #313131;
	position: relative;
	min-height: 50px;
	border-radius: 8px;
}

.dropzone-desc {
	position: absolute;
	left: 0;
	right: 0;
	top: 11px;
	font-size: 16px;
}

.dropzone,
.dropzone:focus {
	position: absolute;
	outline: none !important;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	height: 100%;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
	background: #ecf0f5;
}

.preview-zone {
	text-align: center;
}

.preview-zone .box {
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 0;
}



.custom-radio {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 60px;
	width: 60px;
	margin: 0 auto;
}

/* Hide the browser's default radio button */
.custom-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.custom-radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 60px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid #F7F7F7;
	Padding-top: 4px;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked~.checkmark {
	border-color: #FFDDC2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked~.checkmark:after {
	display: block;
}


.school-default-icon img {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}

.custom-radio input~.checkmark .school-default-icon svg {
	fill: #7C8DA7;
	stroke: #7C8DA7;
}

.custom-radio input:checked~.checkmark .school-default-icon svg {
	fill: #FF811C !important;
	stroke: #FF811C !important;
}

.select-class-default-icon li {
	display: inline-block;
	width: 20%;
	text-align: center;
	padding-left: 0;
	margin-bottom: 32px;
}

.prev-step-btn {
	margin-right: 24px;
	background: #FFF0E5 !important;
	color: #FF801C !important;
}

.school-link button {
	position: absolute;
	top: 50%;
	right: 46px;
	transform: translateY(-50%);
	height: auto !important;
}

.school-link .upload-link {
	right: 16px;
}

.tab-content>.active {
	display: block !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

	opacity: 1;
}

.student-input label {
	position: absolute;
	top: 13px;
	left: 20px;
}



.date-input input,
.student-input select {
	padding-left: 66px;
}

.student-input input {
	padding-left: 100px;
}

.finish-date input {
	padding-left: 75px;
}

.tag-form-group {
	margin-bottom: 32px;
}

.tag-box {
	margin-top: 24px;
}

.custom-tag {
	background: rgba(124, 141, 167, 0.15);
	padding: 4px 9px;
	border-radius: 32px;
	font-size: 12px;
	color: #151718;
	font-family: 'Poppins';
	font-weight: 400;
	margin-right: 6px;
	margin-bottom: 6px;
	display: inline-block;
}

.course-tag-box .custom-tag {
	background: #FAFAFA;
	color: #7C8DA7;
	border: 1px solid #FAFAFA;
	margin-right: 4px;
}

.step-edit-button {
	border: 2px solid #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.mobile-search.border_btn {
	width: 40px;
	height: 40px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background: transparent;
}




.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}

.overlay .closebtn:hover {
	color: #ccc;
}

.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 20%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.overlay button:hover {
	background: #bbb;
}

#side-bar {
	display: none;
}

.follow-btn {
	padding: 6px 49px;
}

.mr-_24 {
	margin-right: 24px;
}

.followers_name img {
	margin-right: 2px;
}

.School-prof-header .school-profile-icon {
	border: 5px solid #DEE0E3;
	width: 250px;
	height: 250px;
	min-width: 250px;
	margin-right: 40px;
	overflow: hidden;
}

.school-profile-content h2 {
	margin-bottom: 30px;
}

.teacher-content {
	margin-right: 24px;
}

.teacher-tags {
	margin-top: 36px;
	margin-bottom: 25px;
}

.teacher-content img {
	margin-right: 14px;
}

.teacher-tags .custom-tag {
	border: 1px solid #FAFAFA;
	background: #FAFAFA;
	color: #7C8DA7;
	transition: 0.2s all;
	position: relative;
}

.vr-border {
	border: 1px solid #F5F5F5;
	display: inline-block;
	margin: 0 6px;
	background: #f5f5f5;
	height: 12px;
	width: 1px;
}

.hr-gray {
	border-color: #F5F5F5;
	margin: 8px 0 32px;
	opacity: 1;
}

.border-btn {
	border: 2px solid #fff;
	padding: 8px;
	width: 36px;
	height: 36px;
}

.border-btn.active {
	border-color: #FF821C;
}

.feedimg-box {
	width: 210px;
}

.pinned-view {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
	height: 82px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 12px 11px;
}

.feed-section {
	margin: 32px 0;
}

.feed-name img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
	overflow: hidden;
}

.feed-name {
	position: absolute;
	bottom: 55px;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	width: 100%;
}

.feed-title {
	padding: 6.75px 16px;
	position: absolute;
	bottom: 0;
	line-height: 21px;
	background: rgb(255 255 255 / 97%);
	height: 55px;
	width: 100%;
}

.feedimg-box {
	min-width: 210px;
	border-radius: 8px;
	overflow: hidden;
	height: 300px;
	margin-right: 15px;
	width: 210px;
}

.feedbox-inner {
	overflow: hidden;
	flex-wrap: nowrap !important;
}

.next-feed {
	position: absolute;
	right: -40px;
	top: 50%;
	z-index: 9;
	transform: translateY(-50%);
}

.school-gridprofile-icon {
	margin-right: 16px;
	width: 40.59px;
	height: 40.59px;
	border-radius: 50%;
	overflow: hidden;
	min-width: 40.59px;
}

.schoolgrid-header h2 {
	margin-right: 32px;
}

.schoolgrid-header p span {
	margin-left: 16px;
}

.school-grid-box {
	background: #FFFFFF;
	border: 1px solid #F1F7FF;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
	border-radius: 16px;
	padding: 16px;
	margin-bottom: 32px;
}

.schoolgrid-header {
	padding-bottom: 16px;
	border-bottom: 1px solid #F5F5F5;
	padding-right: 40px;
}

.school-grid-body {
	padding: 16px 0;
}

.school-grid-body p {
	margin-bottom: 24px;
}

.function-btns {
	padding: 16px 32px;
}

.function-btns img {
	margin-bottom: 5px;
}

.schoolgrid-header .pinned-grid-chat {
	position: absolute;
	right: 0;
}

.school-grid-thumbnail .school-large-thumbnail {
	height: 100%;
	display: flex;
	overflow: hidden;
}

.school-grid-thumbnail .medium-thumnail {
	display: flex;
	height: 50%;
	overflow: hidden;
}

.school-grid-thumbnail .medium-thumnail:first-child {
	margin-bottom: 0.25rem;
}

.school-grid-footer.above-thumbnail {
	position: absolute;
	bottom: 30px;
}

.shadow-thumnail:after {
	content: "";
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(86, 86, 86, 0) 100%);
	height: 100px;
}

.shadow-thumnail:after {
	content: "";
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(86, 86, 86, 0) 100%);
	height: 100px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.school-list-box .school-large-thumbnail {
	height: 150px;
	border-radius: 4px;
}

.school-list-box .school-large-thumbnail:after {
	display: none;
}

.date-view-list {
	margin-bottom: 16px;
}

.list-schol-profile>.row>div {
	margin-bottom: 16px;
}

.school-grid-thumbnail img {
	object-fit: cover;
}

.medium_thumbox {
	flex-flow: column;
}


.school-grid-footer.preview-right-action {
	display: flex;
	flex-flow: column;
	position: absolute;
	right: 10px;
	z-index: 9;
	bottom: -18px;
}

.preview-right-action button {
	padding: 0;
	margin-bottom: 13px;
}

.preview-right-action .function-btns img {
	max-height: 16px;
}

.preview-right-action button {
	padding: 0;
	margin-bottom: 13px;
	font-size: 14px;
}

.class-preview-right {
	padding-right: 60px;
}

.class-preview-right .hashtag_box {
	margin-top: 20px;
}


.school-grid-footer.preview-right-action {
	display: flex;
	flex-flow: column;
	position: absolute;
	right: 10px;
	z-index: 9;
	bottom: -10px;
}

.close-preview {
	position: absolute;
	right: 16px;
}

.edit-sprofilebtn {
	background: rgba(124, 141, 167, 0.05) !important;
	border-radius: 32px;
	padding: 8px 16px;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s all;
	opacity: 0;
}

.edit-sprofilebtn:hover {
	background: rgb(124 141 167 / 33%) !important;
}

.edit-profilehover:hover .edit-sprofilebtn {
	opacity: 1;
}

/*---- Modal css start here  ---*/
.modal-header .btn-close {
	position: absolute;
}

.edit-school-modal .modal-dialog {
	max-width: 700px;
}

.edit-school-modal .modal-content {
	background: #FFFFFF;
	border: 1px solid #F1F7FF;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
	border-radius: 16px
}

.edit-school-modal .modal-header {
	padding: 30px 20px 15px;
}

.modal-header .btn-close {
	position: absolute;
	background: none;
	top: 60%;
	right: 35px;
	padding: 0;
	opacity: 1;
	transform: translateY(-50%);
}

.modal-school-icon {
	border: 2px solid #DEE0E3;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.text-line-border:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #F5F5F5;
	position: absolute;
	left: 0;
	top: 56%;
	transform: translateY(-50%);
}

.line-text {
	background-color: #fff;
	display: inline-block;
	position: relative;
	z-index: 999;
	padding: 0 5px;
}

textarea.ht_96 {
	height: 96px;
}

.resize-none {
	resize: none;
}

.hover-tags .custom-tag:hover {
	background: #7C8DA7;
	color: #FAFAFA;
	padding-right: 20px;
	cursor: pointer;
}

.hover-tags .custom-tag .delete-tag {
	display: nonw;
}

.hover-tags .custom-tag:hover .delete-tag {
	display: block;
	top: 3px;
	right: 7px;
}

.owner-input select {
	padding-left: 84px;
}

.edit-school-modal .modal-body,
.edit-school-modal .modal-header,
.edit-school-modal .modal-footer {
	padding-left: 32px;
	padding-right: 32px;
}

.grid-active,
.list-active {
	display: block !important;
}

.cost_theme {
	color: #FF821C;
	margin-right: 8px;
}

.payment-profile {
	padding: 4px 16px;
	background: #FAFAFA;
	border-radius: 16px;
}

.classes-grid {
	border-radius: 4px;
}

.classes-grid .school-large-thumbnail {
	height: 28vh !important;
}

.classes-grid .school-grid-footer.above-thumbnail {
	position: absolute;
	bottom: 0px;
	z-index: 9;
}

.classes-grid .function-btns {
	padding: 16px 23px;
}

.start-date {
	color: #FF1C1C;
}

.language-tag .custom-tag {
	border: 1px solid #FAFAFA;
}

.School-prof-header .user-profile-header {
	width: 102px;
	height: 102px;
	min-width: 102px;
}

.minw-142 {
	min-width: 142px;
}

.School-prof-header .class-course-image {
	width: 150px;
	height: 150px;
	min-width: 150px;
}

.univ-logo {
	position: absolute;
	right: 54px;
	top: 0;
}

.class_request {
	max-width: 750px;
}

.sepearator {
	color: #F5F5F5;
	margin: 0 24px;
}

.button-stroage {
	padding: 8px 24px;
	background: rgba(124, 141, 167, 0.05) !important;
	border-radius: 32px;
}

.schoolgrid-header .live-soon {
	margin: 0 46px;
}

.class-icon-profile {
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.latest-form label {
	margin-left: 10px;
	color: #464E5F;
}

.latest-form .form-group {
	margin-bottom: 10px;
}

.post-attch-btn {
	width: 40px;
	height: 40px;
	min-width: 40px;
	border: 1px solid #fafafa;
	background: #fff;
	transition: 0.3s all;
	margin-right: 16px;
	font-size: 12px;
}

.media-sourcebtn button img {
	display: block;
}

.post-attch-btn .light-attach {
	display: none;
}

body .liv-postbtn .post-attch-btn {
	margin-right: 0;
}

body .liv-postbtn .post-attch-btn:hover,
body .liv-postbtn .post-attch-btn.active,
.post-attch-btn.active,
.post-attch-btn:hover {
	background: #FF7E1C;
	color: #fff !important;
}

.post-attch-btn:hover .light-attach,
.post-attch-btn.active .light-attach {
	display: block;
}

.post-attch-btn:hover .dark-attach,
.post-attch-btn.active .dark-attach {
	display: none;
}

.post-bot-right .lg_btn {
	max-width: 302px;
	position: relative;
	width: 250px !important;
}

.post-bot-right .delay-btn {
	width: 60px !important;
	background: #FFF0E5;
	color: #FF801C !important;
	font-size: 20px;
	position: relative;
	right: -6px;
	z-index: 0;
	border-radius: 8px 0px 0px 8px;
}

.liv-postbtn .post-attch-btn {
	padding: 8px 10px;
	width: auto;
	border-radius: 32px;
	color: #7C8DA7;
}

.dl-post-img {
	background: rgba(159, 159, 159, 0.6) !important;
	width: 25px;
	height: 25px;
	color: #fff !important;
	font-size: 13px;
	right: 12px;
	top: 12px;
}

.hashtag_post .custom-tag {
	border: 1px solid #FAFAFA;
	background: #fff;
}

.liv-postbtn .post-attch-btn img {
	margin-right: 9px;
}

.liv-postbtn {
	position: absolute;
	left: 32px;
}

.web-cmbtn {
	width: 100%;
	border: 1px solid #fafafa;
	border-radius: 8px;
	height: 82px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.web-cmbtn:hover {
	border: 1px solid #fafafa;
}

@media screen and (min-width:1200px) {
	.main_content{
		padding-left: 310px !important;
	}
}
@media screen and (max-width:1199px) {
	.font_39 {
		font-size: 36px;
	}
	.landing-section {
		padding: 80px 50px;
	}
	.sidemenu {
		left: auto;
		right: 0;
		background: #fff;
		width: 100%;
		min-width: 320px;
		box-shadow: 0px 0px 16px #00000026;
		transition: 0.5s all;
	}

}

@media screen and (max-width:991px) {
	.landing-left {
		padding-top: 20px;
	}
	.font_39 {
		font-size: 30px;
	}
	.landing-section {
		padding: 48px 59px;
	}
	.School-prof-header .school-profile-icon {
		width: 180px;
		height: 180px;
		min-width: 180px;
	}
	.font_24 {
		font-size: 22px;
	}
	.followers_name {
		margin-bottom: 10px;
	}
}

@media screen and (max-width:767px) {
	.back-step {
		margin-bottom: 30px;
	}

	.register-section {
		padding: 20px 20px 100px;
	}

	.font_34 {
		font-size: 26px;
	}

	.register-form h2 {
		margin-bottom: 24px;
	}

	.form-group {
		margin-bottom: 18px;
	}

	.form-control,
	select.form-select {
		height: 45px;
		font-size: 15px;
	}

	.primary_btn {
		height: 48px;
	}

	.font_14 {
		font-size: 13px;
	}

	.al-account {
		margin: 15px 0 26px;
	}

	.language-btn label {
		min-width: 112px;
	}

	.language-btn {
		margin-bottom: 10px;
	}

	.register-section {
		background-position: center;
	}
	.landing-left .form-group {
		margin-bottom: 20px;
	}
	.main_content {
		width: 100%;
		transition: ease-in-out .5s;
		padding: 40px 15px 40px 15px !important;
	}
	
	.step-desc {
		margin-bottom: 25px;
		font-size: 14px !important;
	}
	.step-icon {
		margin: 20px auto;
	}
	.font_24 {
		font-size: 20px;
	}
	.dropzone-desc p {
		font-size: 12px;
		margin-top: 3px;
	}
	.step-form {
		padding: 0;
		box-shadow: none;
		border: none;
	}

}
@media (max-width:575px) {
	.steps_btns button {
		margin-right: 10px;
		margin-bottom: 8px;
		font-size: 13px !important;
	}
}
@media (max-width:451px) {
	.create-post-header{
		flex-wrap: wrap;
	}
	.search-header {
		max-width: 100%;
		width: 100%;
		margin-bottom: 11px;
	}
	.create-post-header .custom-btn {
		padding: 11px 46px;
		width: 100%;
	}
	.d-flex{
		flex-wrap: wrap;
	}
	
	

}


/* For primeNg multiselect style*/

 .p-multiselect {
	width: 526px;
	margin-left: -12px;
	border: none;
}

 .p-multiselect-panel .p-multiselect-header{
display: none;
}


/* For primeNg stepper style */

 .ui-steps .ui-steps-number {
display: none;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
background: orange;
color: #ffffff;
}

.ui-steps-number { 
overflow: hidden
}
