.video-js {
  height: 300px;
}

.abc {
  height: 700px !important;
}

.reelView {
  height: 725px !important;
}

.reelView {
  height: 550px !important;
}

@media screen and (min-width: 1680px) {
  .reelView {
    height: 725px !important;
  }
}

.classCourseView {
  height: 700px !important;
}

@media (max-width: 767px) {
  video-js {
    height: 300px;
  }

  .abc {
    height: 300px !important;
  }
}
