<!-- <div

  class="modal fade edit-school-modal delete-modal show d-block post-view-large"
  id="delete-reel"
  tabindex="-1"
  aria-labelledby="delete-reel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="width: 25%;">
    <div class="modal-content">
      <div
        class="modal-header border-0 justify-content-center position-relative"
      >
        <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">
          {{"DoYouWantToDelete"|translate}}
        </h1>
        <button
          type="button"
          class="btn-close shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img lazyLoad="../../../../assets/images/cross.svg" />
        </button>
      </div>
      <div class="modal-body">
        <div
          class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-2 mt-4"
        >
          <button
            type="button"
            class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
            data-bs-dismiss="modal"
            (click)="close()"
          >
            {{ "No" | translate }}
          </button>
          <button
            
            type="button"
            class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 next-step"
            data-bs-dismiss="modal"
            (click)="deleteItemById()"
          >
            {{ "Delete" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div
class="modal fade edit-school-modal delete-modal show d-block"
  id="delete-reel"
  tabindex="-1"
  aria-labelledby="delete-reel"
  aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div
      class="modal-header border-0 justify-content-center position-relative"
    >
      <h1
        class="modal-title font_22 text_dark fw_700 border-0 text-center"
      >
        {{ "DeletePost" | translate }}
      </h1>
      <button
        type="button"
        class="btn-close shadow-none"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="close()"
      >
        <img lazyLoad="../../../../assets/images/cross.svg" />
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <h2 class="text-center font_16 f-poppins">
          {{ "DoYouWantToDelete" | translate }}
        </h2>
      </div>
      <div
        class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-2 mt-4"
      >
        <button
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
          data-bs-dismiss="modal"
          (click)="close()"
        >
          {{ "No" | translate }}
        </button>
        <button
          (click)="deleteItemById()"
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 next-step"
          data-bs-dismiss="modal"
        >
          {{ "Yes" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>