.heightForText {
  height: 300px;
}

.routeLink {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.cursor_auto {
  cursor: auto;
}

.reel_spinner_position {
  top: 114px;
  right: 92px;
  z-index: 999;
}

.description_scroll {
  overflow-y: auto;
  height: 150px;
  word-break: break-word;
}

.description_scroll::-webkit-scrollbar {
  width: 2px;
}

.video-js {
  height: 300px;
}

.routeLink {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.search-results {
  min-width: 100%;
  background-color: #fff;
  padding: 30px;
  margin: 0;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
  /* overflow-y: scroll;
  z-index: 999;
  position: absolute; */
}

@media screen and (min-width: 1024px) {
  .search-results {
    position: absolute;
    min-width: 500px;
    top: initial;
    left: initial;
    height: initial;
    overflow-y: visible;
  }
}

.search-results > *:not(:last-child) {
  margin-bottom: 20px;
}

.search-results__item {
  padding-left: 0;
  margin-bottom: 0;
}

.search-results__item:before {
  display: none;
  margin-bottom: 4px;
}

.img_style {
  background-color: #7c8da7;
}

.cursor_pointer {
  cursor: pointer;
}

.show_more {
  text-decoration: auto;
  justify-content: end;
  display: flex;
  color: #ffa114;
  text-transform: capitalize;
}

.search-results .followers-name {
  display: flex;
  align-items: center;
}
.search-results .serch-follow-image {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #7c8da7;
  border-radius: 50%;
  overflow: hidden;
}
.search-results div > li {
  margin-bottom: 10px;
}
.search-results h4 {
  margin-bottom: 10px;
  font-size: 18px;
}
.search-results div hr {
  opacity: 1;
  border-color: #ededed;
}
.search-results div:last-child hr {
  display: none;
}

.schoolgrid-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.schoolgrid-header hr {
  width: 100%;
  border-color: #ddd;
  opacity: 0.75;
}

.school-gridprofile-icon {
  margin-right: 0;
}

.right-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hideName {
    display: none;
  }
}

.fit-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.videofile {
  height: 64%;
}
.videofile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
