.heightForText{
    height: 300px;
  }

  .routeLink{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.cursor_auto{
  cursor: auto;
}

.reel_spinner_position{
  top: 114px;
  right: 92px;
  z-index: 999;
}