
    <section class="container">
      <div class="logo mb-3">
        <img src="../../../../../assets/images/logo.svg" alt="logo" />
      </div>
      <div class="bg-gray-gradient register-section rounded-8">
        <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark"><img
          src="../../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>
        <form class="register-form mx-auto" [formGroup]="forgotPasswordForm">
          <h2 class="font_34 fw_700 text-center">{{'ForgotPassword'| translate }}</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">  
                <input type="email" formControlName="email" class="form-control rounded-8" placeholder="{{'Email'| translate }}">
                <small class="p-error" style="color: orange;"
                *ngIf="(isSubmitted && forgotPasswordForm.controls.email.errors)">Valid email address is required.</small>
              </div>
            </div>
            <div class="col-md-12">
              <button (click)="forgotPassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
            </div>
  
          </div>
          <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }}<a [routerLink]="['/user/auth/register']"
              class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
              class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>

              <multi-lingual></multi-lingual>
        </form>
      </div>
    </section>

  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
