::ng-deep {
  .deneme .p-checkbox.p-component {
    width: auto !important;
  }
}

.oficial-name {
  max-width: 500px;
  margin: 0 auto;
}

.custom-language-select ::ng-deep .p-multiselect-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.custom-language-select ::ng-deep .p-multiselect-close {
  display: none;
}

.custom-language-select
  ::ng-deep
  .p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item
  .p-checkbox {
  margin-right: 0 !important;
}

.custom-language-select
  ::ng-deep
  .p-multiselect-panel
  .p-multiselect-header
  .p-checkbox {
  margin-right: 0;
}

.custom-language-select ::ng-deep .p-multiselect-item span {
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
}

.custom-language-select ::ng-deep .p-multiselect-header {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.custom-language-select ::ng-deep .p-multiselect {
  width: 100% !important;
}

.custom-language-select .ms-options-wrap > button {
  border-left: 2px solid #ff821c !important;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 10%) !important;
  padding: 5px 16px;
  border-width: 0px 0px 0px 2px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  text-align: left;
}

::ng-deep .p-autocomplete ::ng-deep .p-component {
  border: 0;
  /* background: transparent; */
  outline: none !important;
  box-shadow: none !important;
}

.p-fluid ::ng-deep .p-autocomplete {
  width: 94% !important;
}

/* ::ng-deep .p-autocomplete ::ng-deep .p-component li::before,
  p-autocomplete li:before {
    display: none !important;
  }
  ::ng-deep .p-autocomplete ::ng-deep .p-component li.p-autocomplete-item {
    width: 100%;
    line-height: normal;
    height: auto;
    margin-bottom: 0;
  } */
