.button-list-grid-filter{
    position: absolute;
    right: 0;
}

.heightForText{
    height: 300px;
  }

  .cursor_auto{
    cursor: auto;
  }

  .reel_spinner_position{
    top: 114px;
    right: 92px;
    z-index: 999;
  }

  .description_scroll{
    overflow-y: auto;
    height:150px;
  }

  .description_scroll::-webkit-scrollbar {
    width: 2px;
  }

  .video-js{
    height: 300px;
  }

  .cursor_pointer{
    cursor: pointer;
  }