<section class="container">
    <div class="logo mb-3">
      <img src="../../../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8">
      <a (click)="back()" class="back-step text-decoration-none font_16 text_dark"><img src="../../../../../assets/images/arrow-left.svg"
          alt="arrow" /> {{'Back'| translate }}</a>
      <form class="register-form mx-auto latest-form" [formGroup]="changePasswordForm">
        <h2 class="font_34 fw_700 text-center">{{'ChangePassword'| translate }}</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group input-container">
              <label class="font_10">{{'CurrentPassword'| translate }}</label>
              <input #currentPasswordInput formControlName="currentPassword" type="password" class="form-control rounded-8" placeholder="{{'CurrentPassword'| translate }}">
              <button class="eye_button_style" type="button" (click)="currentPasswordInput.type = currentPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onCurrentPasswordShow()" *ngIf="!isCurrentPasswordVisible"></i><i class="fa fa-eye" (click)="onCurrentPasswordHide()" *ngIf="isCurrentPasswordVisible"></i></button>
              <small class="p-error" style="color: orange;"
                 *ngIf="(isSubmitted && changePasswordForm.controls.currentPassword.errors)">Current password is required
             </small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group input-container">
              <label class="font_10">{{'NewPassword'| translate }}</label>
              <input #newPasswordInput formControlName="password" type="password" class="form-control rounded-8" placeholder="{{'NewPassword'| translate }}">
              <button class="eye_button_style" type="button" (click)="newPasswordInput.type = newPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onNewPasswordShow()" *ngIf="!isNewPasswordVisible"></i><i class="fa fa-eye" (click)="onNewPasswordHide()" *ngIf="isNewPasswordVisible"></i></button>
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && changePasswordForm.controls.password.errors">
                Password is required.</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group input-container">
              <label class="font_10">{{'RepeatPassword'| translate }}</label>
              <input #repeatPasswordInput formControlName="confirmPassword" type="password" class="form-control rounded-8" placeholder="{{'RepeatPassword'| translate }}">
              <button class="eye_button_style" type="button" (click)="repeatPasswordInput.type = repeatPasswordInput.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onRepeatPasswordShow()" *ngIf="!isRepeatPasswordVisible"></i><i class="fa fa-eye" (click)="onRepeatPasswordHide()" *ngIf="isRepeatPasswordVisible"></i></button>
              <small class="p-error" style="color: orange;"
              *ngIf="isSubmitted && changePasswordForm.controls.confirmPassword.errors">Repeat password is
              required.</small>

              <small class="p-error" style="color: orange;"
              *ngIf=" isSubmitted && matchPassword() && changePasswordForm.controls.confirmPassword.touched && !changePasswordForm.controls.confirmPassword.errors">
              Password and Repeat password does not match!
              </small>
            </div>
          </div>
          <small class="p-error" style="color: orange;margin-left: 102px;" *ngIf="changePasswordForm.errors?.unauthenticated">
            Current password is Invalid!
          </small>
          <div class="col-md-12 mt-4">
            <button (click)="changePassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
          </div>

        </div>
        <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }} <a [routerLink]="['/user/auth/register']"
            class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
            class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>
            <multi-lingual></multi-lingual>
      </form>
    </div>
  </section>

  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>

