<!-- <div class="container" style="margin-top: 105px;">
    <h4>User Change Password</h4>
    <form novalidate="novalidate" [formGroup]="changePasswordForm">
        <div *ngIf="invalidPasswordChange" class="alert alert-danger">Invalid username or password.</div>
        <br/>
        <div class="mb-3">
            <label for="email" class="sr-only">{{'Email'| translate }}</label><br>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
            <div  class="invalid-feedback">
                Valid email address is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.email.errors ">Valid email address is required.</small>
        </div>
        <div class="mb-3">
            <label for="currentPassword" class="sr-only">Current Password</label><br>  
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" placeholder="Current Password" required>  
            <div  class="invalid-feedback">
                Current password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.currentPassword.errors ">Current password is required.</small>   
        </div>

        <div class="mb-3">
            <label for="password" class="sr-only">Password</label><br>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>    
            <div  class="invalid-feedback">
                Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.password.errors ">Password is required.</small>  
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="sr-only">Confirm Password</label><br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required>  
            <div  class="invalid-feedback">
                Confirm Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.confirmPassword.errors ">Confirm Password is required.</small>     
        </div>
        
        <button class="btn btn-lg btn-primary" type="submit" (click)="changePassword()">Submit</button>
    </form>
  </div> -->





  <section class="container">
    <div class="logo mb-3">
      <img src="../../../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="bg-gray-gradient register-section rounded-8">
      <a href="#!" class="back-step text-decoration-none font_16 text_dark"><img src="../../../../../assets/images/arrow-left.svg"
          alt="arrow" /> {{'Back'| translate }}</a>
      <form class="register-form mx-auto latest-form" [formGroup]="changePasswordForm">
        <h2 class="font_34 fw_700 text-center">{{'ChangePassword'| translate }}</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="font_10">{{'CurrentPassword'| translate }}</label>
              <input formControlName="currentPassword" type="password" class="form-control rounded-8" placeholder="{{'CurrentPassword'| translate }}">
              <small class="p-error" style="color: orange;"
                 *ngIf="(isSubmitted && changePasswordForm.controls.currentPassword.errors)">Current password is required
             </small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="font_10">{{'NewPassword'| translate }}</label>
              <input formControlName="password" type="password" class="form-control rounded-8" placeholder="{{'NewPassword'| translate }}">
              <small class="p-error" style="color: orange;" *ngIf="isSubmitted && changePasswordForm.controls.password.errors">
                Password is required.</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="font_10">{{'RepeatPassword'| translate }}</label>
              <input formControlName="confirmPassword" type="password" class="form-control rounded-8" placeholder="{{'RepeatPassword'| translate }}">
              <small class="p-error" style="color: orange;"
              *ngIf="isSubmitted && changePasswordForm.controls.confirmPassword.errors">Repeat password is
              required.</small>

              <small class="p-error" style="color: orange;"
              *ngIf=" isSubmitted && matchPassword() && changePasswordForm.controls.confirmPassword.touched && !changePasswordForm.controls.confirmPassword.errors">
              Password and Repeat password does not match!
              </small>
            </div>
          </div>
          <small class="p-error" style="color: orange;margin-left: 102px;" *ngIf="changePasswordForm.errors?.unauthenticated">
            Current password is Invalid!
          </small>
          <div class="col-md-12 mt-4">
            <button (click)="changePassword()" type="submit" class="btn primary_btn w-100 rounded-8 text-uppercase">{{'Submit'| translate }}</button>
          </div>

        </div>
        <p class="font_14 fw_300 text-center al-account">{{'YouAlsoCan'| translate }} <a [routerLink]="['/user/auth/register']"
            class="fw_700 text_dark text-decoration-none">{{'CreateAccount'| translate }}</a> {{'Or'| translate }} <a [routerLink]="['/user/auth/login']"
            class="fw_700 text_dark text-decoration-none">{{'Login'| translate }}</a></p>
            <multi-lingual></multi-lingual>
      </form>
    </div>
  </section>

  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>

