<div class="container" style="margin-top: 105px;">
    <h4>User Change Password</h4>
    <form novalidate="novalidate" [formGroup]="changePasswordForm">
        <div *ngIf="invalidPasswordChange" class="alert alert-danger">Invalid username or password.</div>
        <br/>
        <div class="mb-3">
            <label for="email" class="sr-only">{{'Email'| translate }}</label><br>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
            <div  class="invalid-feedback">
                Valid email address is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.email.errors ">Valid email address is required.</small>
        </div>
        <div class="mb-3">
            <label for="currentPassword" class="sr-only">Current Password</label><br>  
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" placeholder="Current Password" required>  
            <div  class="invalid-feedback">
                Current password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.currentPassword.errors ">Current password is required.</small>   
        </div>

        <div class="mb-3">
            <label for="password" class="sr-only">Password</label><br>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>    
            <div  class="invalid-feedback">
                Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.password.errors ">Password is required.</small>  
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="sr-only">Confirm Password</label><br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required>  
            <div  class="invalid-feedback">
                Confirm Password is required.
              </div>
              <small class="p-error"
               *ngIf="isSubmitted && changePasswordForm.controls.confirmPassword.errors ">Confirm Password is required.</small>     
        </div>
        
        <button class="btn btn-lg btn-primary" type="submit" (click)="changePassword()">Submit</button>
    </form>
  </div>