.input-container button {
    position: relative;
    bottom: 27px;
    float: right;
    right: 7px;
    transform: translateY(-50%); 
}

.eye_button_style {
    margin-right: 5px;
    border: none;
    color: #2F6463;
    margin-top: 5px;
    background-color: white;
}