<section class="container pt-3 pt-lg-4">
  
  <div class="logo mb-3 text-center text-md-start">
    <img src="../../../../../assets/images/logo.svg" alt="logo" />
  </div>
  <div class="bg-gray-gradient register-section rounded-8 landing-section">
    <form class="register-form mx-auto mw-100" [formGroup]="loginForm">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xl-7 order-lg-2">
          <div class="landing-right">
            <img
              src="../../../../../assets/images/landing-screen-vector.svg"
              alt="icon"
            />
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="landing-left">
            <h2 class="font_39 fw_700 text-left">
              {{ "TeachAndLearn" | translate }} <br />{{ "With" | translate }}
              {{ "BY" | translate }}
              <span class="text_secondary">{{ "Okul" | translate }}</span>
            </h2>
            <ul class="list-unstyled pb-3 mb-0">
              <li class="font_14">{{ "LoginInfo1" | translate }}</li>
              <li class="font_14">{{ "LoginInfo2" | translate }}</li>
              <li class="font_14">{{ "LoginInfo3" | translate }}</li>
              <li class="font_14">{{ "LoginInfo4" | translate }}</li>
            </ul>

            <div
              *ngIf="isRegister"
              class="alert alert-info text-center register-form mx-auto ng-dirty ng-touched ng-valid ng-submitted"
              role="alert"
              style="
                background-color: #ffffe0;
                max-width: 468px;
                border: 2px solid #f3eded;
              "
            >
              {{ "ConfirmEmailSentMessage" | translate }}
              <br/>
              <button
                class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#resend-email"
              >
                Resend Email
              </button>
            </div>

            <div
              *ngIf="isForgotPassSent"
              class="alert alert-info text-center register-form mx-auto ng-dirty ng-touched ng-valid ng-submitted"
              role="alert"
              style="
                background-color: #ffffe0;
                max-width: 468px;
                border: 2px solid #f3eded;
              "
            >
              {{ "ResetEmailSentMessage" | translate }}
            </div>

            <div class="form-group">
              <input
                type="email"
                formControlName="email"
                class="form-control rounded-8"
                placeholder="{{ 'Email' | translate }}"
              />
              <small
                class="p-error"
                style="color: orange"
                *ngIf="isSubmitted && loginForm.controls.email.errors"
                >{{ "ValidEmailRequired" | translate }}</small
              >
            </div>
            <div class="form-group mb-3 input-container">
              <input
                #passwordInput
                type="password"
                formControlName="password"
                class="form-control rounded-8"
                placeholder="{{ 'Password' | translate }}"
              />
              <button
                class="eye_button_style"
                type="button"
                (click)="
                  passwordInput.type =
                    passwordInput.type === 'password' ? 'text' : 'password'
                "
              >
                <i
                  class="fa fa-eye-slash"
                  (click)="onPasswordShow()"
                  *ngIf="!isPasswordVisible"
                ></i
                ><i
                  class="fa fa-eye"
                  (click)="onPasswordHide()"
                  *ngIf="isPasswordVisible"
                ></i>
              </button>
              <small
                class="p-error"
                style="color: orange"
                *ngIf="isSubmitted && loginForm.controls.password.errors"
                >{{ "PasswordRequired" | translate }}</small
              >
            </div>

            <p class="font_14 fw_300 text-center al-account mt-0">
              <a
                [routerLink]="['/user/auth/request-password']"
                class="text_dark text-decoration-none"
                >{{ "ForgotPassword" | translate }}</a
              >
            </p>

            <small
              class="p-error d-flex align-items-center justify-content-center"
              style="color: orange"
              *ngIf="loginForm.errors?.unauthenticated"
            >
              {{ "EmailNotRegistered" | translate }}
            </small>

            <small
              class="p-error d-flex align-items-center justify-content-center"
              style="color: orange"
              *ngIf="loginForm.errors?.incorrectPassword"
            >
              {{ "IncorrectPassword" | translate }}
            </small>

            <small
              class="p-error d-flex align-items-center justify-content-center"
              style="color: orange"
              *ngIf="loginForm.errors?.banUserMessage"
            >
              {{ "AccountBanned" | translate }}
            </small>
            <small
              class="p-error d-flex align-items-center justify-content-center"
              style="color: orange"
              *ngIf="loginForm.errors?.emailNotConfirmed"
            >
              {{ "ConfirmYourEmail" | translate }}
            </small>

            <button
              type="submit"
              (click)="login()"
              class="btn primary_btn w-100 rounded-8 text-uppercase"
            >
              {{ "Login" | translate }}
            </button>

            <p class="font_14 fw_300 text-center al-account">
              {{ "DontHaveAccount" | translate }}
              <a
                [routerLink]="['/user/auth/register']"
                class="fw_700 text_dark text-decoration-none"
                >{{ "CreateForFree" | translate }}</a
              >
            </p>

            <multi-lingual></multi-lingual>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


<div
  class="modal fade edit-school-modal delete-modal"
  id="resend-email"
  tabindex="-1"
  aria-labelledby="resend-email"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header border-0 justify-content-center position-relative"
      >
        <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">
          {{ "ThankYouForRegistering" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img lazyLoad="../../../../assets/images/cross.svg" />
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h2 class="text-center font_16 f-poppins">
            {{ "DidNotReceive" | translate }}
          </h2>
        </div>
        <div
          class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-2 mt-4"
        >
          <button
            type="button"
            class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
            data-bs-dismiss="modal"
          >
            {{ "No" | translate }}
          </button>
          <button
            (click)="
              resendEmailToUser()
            "
            type="button"
            class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 next-step"
            data-bs-dismiss="modal"
          >
            {{ "Send the Mail" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>










<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
<p-toast></p-toast>
