.chat-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.chat-upload-img img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.chatImage {
  max-height: 35px;
}

.selectedChatHead {
  background-color: #eaeaea;
  border-color: #ff821c;
}

.badgeBackground {
  background: red;
}

