<section class="f-poppins" style="margin-left: 30%;">
    <header class="header">
      <div class="header__content">
        <button
        (click)="back()"
        type="button"
        class="back-button bg-transparent border-0 font_16 fw_400 text_dark">
      <img src="../../../../assets/images/school/arrow-left.svg" />
      {{ "Back" | translate }}
    </button>
        <a href="" class="main-logo"><img class="ms-4" src="../../../assets/images/logo.svg" /></a>
      </div>
    </header>
    <main class="static-main">
      <div class="static-content">
     <div *ngIf="selectedLanguage == 'en'">
        <p><strong>&ldquo;DISTANCE CONTRACT&rdquo; ON THE PURCHASE OF SUBSCRIPTION SERVICE</strong></p>
        <p>We have prepared this contract in the capacity of &ldquo;SELLER/SUPPLIER&rdquo; in accordance with the Law on the Protection of the Consumer No. 6502, the Regulation on Distance Contracts and the Regulation on Subscription Contracts and present it to your approval.</p>
        <p>By electronically confirming on every device you can access BYOKUL, you accept all conditions.&nbsp; We allow sufficient time for you to read these terms. Please confirm the contract after making sure that you have read and understood all the terms.</p>
        <p>It should be noted that every environment where the services you purchase are offered will be referred to as &ldquo;BYOKUL&rdquo; in this contract.</p>
        <ul>
        <li><strong> LEGAL INFORMATION ABOUT US AS SELLER/SUPPLIER AND OUR CONTACT ADDRESSES </strong></li>
        </ul>
        <p>TRADE NAME: BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>ADDRESS:&nbsp; GURSELPASA MAH. ABIDIN DINO BLV. ALI GEZEN APT NO:13 A SEYHAN/ADANA</p>
        <p>TAX OFFICE/NO:&nbsp;&nbsp; SEYHAN TAX OFFICE /&nbsp; 1950870709</p>
        <p>E-MAIL : support@byokul.com</p>
        <p>CENTRAL REGISTRATION SYSTEM NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 0195087070900001</p>
        <ul>
        <li><strong> SUBJECT OF CONTRACT </strong></li>
        </ul>
        <p>The subject of the contract is the conditions that the parties must comply with during the opening of access to the content, the qualifications and scope of which are specified in Article 8 of the contract, and the provision and use of services in exchange for the purchase of indefinite-term monthly billed subscription service (monthly plan), annual subscription service providing 12-month access period (annual plan), and other subscription services providing fixed-term access (other subscription plans).</p>
        <ul>
        <li><strong> TYPES AND SCOPE OF SUBSCRIPTION SERVICE</strong></li>
        <li>Indefinite Term Billed Monthly Prepaid Subscription Service (Monthly Plan) 20 USD COLLECTED BY CALCULATED FROM YOUR COUNTRY'S AMERICAN DOLLAR CURRENT</li>
        <li>Fixed Term and Non-Renewal Prepaid Subscription Services (Annual Plan or Other Fixed Term Subscription Plans) 200 USD COLLECTED BY CALCULATED FROM YOUR COUNTRY'S AMERICAN DOLLAR CURRENT</li>
        </ul>
        <p>&nbsp;20% of the income of the virtual schools you have established is deducted as a commission by the BYOKUL Virtual Digital Platform Tic. Ltd. Şti. The remaining amount is paid by us to your account between the 1st and 5th of each month.</p>
        <ul>
        <li><strong> RENOVATION OF SUBSCRIPTION SERVICE </strong></li>
        </ul>
        <p>In accordance with the law, we will not renew your fixed-term subscription services without your prior approval. An example of this is the annual plan, which provides access for 12 months. The prepaid subscription service (monthly plan), which is billed monthly for an indefinite period, is automatically renewed in the same period of each month following the purchase date, unless you cancel it, and your registered credit card will be charged. If you don't want your subscription to renew next month, you can cancel your subscription plan in my account. When you cancel your monthly plan subscription service, you can access BYOKUL throughout the balance plan period.</p>
        <p>Monthly Plan Payment Trial</p>
        <p>At the renewal period of your monthly plan that you have not canceled, an attempt is made to collect the relevant fee from your payment instrument. If payment is not received on the first try, BYOKUL is kept open to your access for a while, and the payment is tried to be collected. If payment is not received despite trial efforts, the subscription service you purchased ends. You can purchase subscription service again by logging into your account.</p>
        <ul>
        <li><strong> PAYMENT </strong></li>
        </ul>
        <p>We collect the fee of the subscription service subject to the contract through the payment institution from the credit/debit card you provide on the payment page. If you purchase a monthly plan and do not cancel your subscription before the renewal period, the automatic collection is made from the relevant credit card. In case the fee cannot be received due to insufficient balance, we'll try to get paid within 10 business days. During this time, you can access the services subject to sale. However, if we do not receive payment for a period of time, we close the services.</p>
        <ul>
        <li><strong> OUR RIGHT TO MAKE CHANGES IN THE MONTHLY PLAN SUBSCRIPTION SERVICE FEE</strong></li>
        </ul>
        <p>We may change the monthly plan fees for your next renewal period. We will notify you of this change in advance via BYOKUL or e-mail. You have no right to object to your subscription plan renewal with varying fees.</p>
        <ul>
        <li><strong> CAMPAIGNS</strong></li>
        </ul>
        <p>Sometimes we make campaign offers that our users who purchase subscription services can benefit from. We also state the information regarding the conditions of participation in the form of campaign conditions. Campaign conditions become an integral part of this contract. Third parties who access BYOKUL through you within the scope of the campaigns must comply with the Terms of Use. Otherwise, we always have the right to terminate the right to benefit from the campaign.</p>
        <ul>
        <li><strong> TERMS OF TERMINATION </strong></li>
        </ul>
        <p>When we detect your actions against the terms of use, regardless of the subscription service you purchased, we have the right to terminate this contract and to terminate your right to access the content on BYOKUL as of the termination date. In cases where you purchase a subscription service (monthly plan) billed monthly for an indefinite period, you may terminate this contract at any time by canceling your subscription. When you cancel your monthly plan, you can access the services offered within the scope of the service you purchased during your balance plan term.</p>
        <ul>
        <li><strong> SUBSCRIPTION SERVICE, SCOPE AND OTHER CONDITIONS SUBJECT TO THE CONTRACT </strong></li>
        </ul>
        <p>In this part of the contract, you can see what your subscription service is, the scope of the service, the service fee, service start and usage period, and your payment method.</p>
        <ul>
        <li><strong> PLACE, TIME AND RESPONSIBILITIES WE WILL PROVIDE SUBSCRIPTION SERVICE</strong></li>
        </ul>
        <p>With the purchase of the subscription service, the place where digital content will be made available is www.byokul.com and its mobile applications. By confirming the contract and making successful payment, you can access all digital content within the scope of the subscription service you have purchased. In case of inability to pay due to insufficient balance from the registered payment instrument and all kinds of technical problems, we do not begin to provide the service under the contract to you since the subscription service sale will be void. For being able to benefit from the content within the subscription service due to natural disasters, wars, cyber-attacks, technical problems and all kinds of force majeure, you cannot hold us responsible. You always reserve the right to claim and sue for damages incurred due to our unlawful and faulty actions.</p>
        <p><strong>&nbsp;</strong></p>
        <ul>
        <li><strong> VIOLATION OF TERMS OF USE </strong></li>
        </ul>
        <p>In case of violation of the Terms of Use accepted before the approval of this contract and which are an integral part of this contract, we also have the right to terminate the subscription service you have purchased by terminating this contract. In this case, we may delete your account and prevent you from re-displaying additional achievements such as your digital certificates. When we terminate your subscription service due to your actions inconsistent with the terms of use and this contract, you cannot claim a refund or compensation.</p>
        <ul>
        <li><strong> RIGHT OF WITHDRAWAL </strong></li>
        </ul>
        <p>The services, which we provide to you, are within the scope of &ldquo;contracts regarding services performed instantly in electronic environment or intangible goods delivered instantly to the consumer&rdquo; regulated in paragraph g of Article 15 of the Regulation on Distance Contracts. Services, offered in this context in the relevant law, are regulated as exceptions to the right of withdrawal. For this reason, you do not have the right to withdraw from the services you have purchased and to request a refund.</p>
        <ul>
        <li><strong> PRELIMINARY INFORMATION CONFIRMATION </strong></li>
        </ul>
        <p>When you approve this contract, you agree that we have given you preliminary information in accordance with the procedures specified in Article 6 of the Regulation on Distance Contracts.&nbsp;</p>
        <ul>
        <li><strong> PROTECTION OF PERSONAL DATA </strong></li>
        </ul>
        <p>At the time of your subscription service purchase, you share many of your personal data with us. Again, we process a lot of your personal data so that you can use all of our services effectively. When processing your personal data, we act in accordance with relevant laws, board decisions and all other regulations. You can access comprehensive information about the processing of your personal data with the Law on Protection of Personal Data Clarification Text.</p>
        <ul>
        <li><strong> STORAGE OF CREDIT CARD INFORMATION </strong></li>
        </ul>
        <p>Your credit card information is not stored by BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI. Your card information is stored by IYZICO, an intermediary payment institution authorized by the Central Bank, which provides secure payment. The intermediary payment institution where the card information will be stored may change during the contract period.</p>
        <ul>
        <li><strong> OFFICIAL AND AUTHORIZED COURT / CONSUMER ARBITRATION COMMITTEE</strong></li>
        </ul>
        <p>You can forward all your requests and complaints regarding the services we provide within the scope of the services you have purchased, through the communication channels specified in article 12 of this contract. If your requests or complaints are unsuccessful, you can apply to the Consumer Arbitration Committee or the Consumer Court for the resolution of legal disputes. Authorized Consumer Arbitration Committee or Consumer Court is the Consumer Arbitration Committee or the Consumer Court where your residence is located.</p>
        <ul>
        <li><strong> SELLER/SUPPLIER INFORMATION FOR REQUEST AND COMPLAINT </strong></li>
        </ul>
        <p>TRADE NAME</p>
        <p>CENTRAL REGISTRATION SYSTEM NO</p>
        <p>ADDRESS INFORMATION</p>
        <p>E-MAIL ADDRESS&nbsp;&nbsp;&nbsp;</p>
        <ul>
        <li><strong> EVIDENCE CONTRACT </strong></li>
        </ul>
        <p>In all disputes that may arise from this contract, it constitutes the definitive and stand-alone evidence of our commercial book records, permanent data stores, databases, server and computer records and all electronic records. By confirming the contract, you agree that this article is a contract of evidence in accordance with Article 193 of the Code of Civil Procedure.</p>
        <ul>
        <li><strong> NOTICE </strong></li>
        </ul>
        <p>All kinds of notifications and correspondence between us will be made through the e-mail addresses written in the contract. The forms of notification stipulated by the law are reserved and are not within the scope of this article.</p>
        <ul>
        <li><strong> VALIDITY OF THE CONTRACT </strong></li>
        </ul>
        <p>This contract consists of 20 articles. It is established after you approve it electronically with the click wrap method and the payment is made successfully.</p>
        <p>You have been given sufficient time to read this contract. By approving, you accept all the terms of the contract.</p>
        <p>When you confirm this contract, a copy of it will be sent to you via permanent data storage (e-mail).</p>
        <p><strong>SELLER/SUPPLIER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI</strong></p>
     </div>

     <div *ngIf="selectedLanguage == 'tr'">
        <p><strong>ABONELİK HİZMETİ SATIN ALIMINA DAİR &ldquo;MESAFELİ S&Ouml;ZLEŞME&rdquo;</strong></p>
        <p>Bu s&ouml;zleşmeyi, 6502 sayılı T&uuml;keticinin Korunması Hakkında Kanun, Mesafeli S&ouml;zleşmelere Dair Y&ouml;netmelik ve Abonelik S&ouml;zleşmeleri Y&ouml;netmeliği&rsquo;ne uygun olarak &ldquo;SATICI/SAĞLAYICI&rdquo; sıfatıyla hazırladık ve onayınıza sunuyoruz.</p>
        <p>BYOKUL&rsquo;a&nbsp; erişim sağlayabildiğiniz her cihazda elektronik olarak onaylamanız ile t&uuml;m koşulları kabul etmiş olursunuz. Bu koşulları okuyabilmeniz i&ccedil;in yeterli bir s&uuml;re tanıyoruz. L&uuml;tfen t&uuml;m şartları okuduğunuzdan, anladığınızdan emin olduktan sonra s&ouml;zleşmeyi onaylayınız.&nbsp;</p>
        <p>&Ouml;nemle belirtelim ki satın aldığınız hizmetlerin sunulduğu her ortam bu s&ouml;zleşmede artık &ldquo;BYOKUL&rdquo; olarak anılacaktır.</p>
        <ul>
        <li><strong>SATICI/SAĞLAYICI OLARAK HAKKIMIZDAKİ YASAL BİLGİLER VE İLETİŞİM ADRESLERİMİZ </strong></li>
        </ul>
        <p>TİCARET UNVANI: BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>ADRES:&nbsp; GURSELPASA MAH. ABIDIN DINO BLV. ALI GEZEN APT NO:13 A SEYHAN/ADANA</p>
        <p>VERGİ DAİRESİ/NUMARASI:&nbsp;&nbsp; SEYHAN VD /&nbsp; 1950870709</p>
        <p>E-POSTA ADRESİ:&nbsp; support@byokul.com</p>
        <p>MERSİS NUMARASI: 0195087070900001</p>
        <ul>
        <li><strong> S&Ouml;ZLEŞMENİN KONUSU </strong></li>
        </ul>
        <p>S&ouml;zleşmenin konusunu, belirsiz s&uuml;reli aylık olarak faturalandırılan abonelik hizmeti (aylık plan), 12 aylık erişim s&uuml;resi sağlayan yıllık abonelik hizmeti (yıllık plan) ve belirli s&uuml;re erişim s&uuml;resi sağlayan diğer abonelik hizmetlerinin (diğer abonelik planları) satın alınması karşılığında, nitelikleri ve kapsamı s&ouml;zleşmenin 8.maddesinde belirtilen i&ccedil;eriklerin erişime a&ccedil;ılması ve hizmetlerin sağlanması ile kullanılması sırasında tarafların uyması gereken şartlar oluşturmaktadır.</p>
        <ul>
        <li><strong> ABONELİK HİZMET T&Uuml;RLERİ VE KAPSAMI </strong></li>
        <li>2024-2025 D&Ouml;NEMİ</li>
        <li>Belirsiz S&uuml;reli Aylık Olarak Faturalandırılan &Ouml;n &Ouml;demeli Abonelik Hizmeti AYLIK&nbsp; SANAL OKUL (20 USD) KENDİ &Uuml;LKENİZİN AMERİKAN DOLARI KURUNDAN HESAPLANARAK TAHSİL EDİLİR.</li>
        <li>Belirli S&uuml;reli ve S&uuml;resi Sona Erdiğinde Yenilenmeyen &Ouml;n &Ouml;demeli Abonelik Hizmetleri (Yıllık Plan veya Diğer Belirli S&uuml;reli Abonelik Planları) YILLIK &Ouml;N &Ouml;DEME BEDELİ&nbsp; 200 AMERİKAN DOLARI KENDİ &Uuml;LKENİZİN&nbsp; AMERİKAN DOLARI KURUNDAN HESAPLANARAK TAHSİL EDİLİR.</li>
        </ul>
        <p>Kendi kurduğunuz sanal okulların gelirinin %20'lik bölümü komisyon olarak BYOKUL Sanal Dijital Platform Tic. Ltd. Şti tarafından kesilir. Kalan tutar her ayın 1'i ile 5'i arasında belirlemiş olduğunuz hesabınıza tarafımızca ödenir.</p>
        <ul>
        <li><strong> ABONELİK HİZMETİNİN YENİLENMESİ </strong></li>
        </ul>
        <p>Yasalar uyarınca belirli s&uuml;reli abonelik hizmetlerinizi &ouml;nceden onayınızı almadan yenilemeyiz. Buna &ouml;rnek olarak 12 aylık erişim hakkı sağlayan yıllık planı g&ouml;sterebiliriz. Belirsiz s&uuml;reli aylık olarak faturalandırılan &ouml;n &ouml;demeli abonelik hizmeti ise (aylık plan) siz iptal etmediğiniz m&uuml;ddet&ccedil;e satın alım tarihini izleyen her ayın aynı d&ouml;neminde kendiliğinden yenilenir ve kayıtlı kredi kartınızdan &ouml;deme alınır. Aboneliğinizin bir sonraki ay yenilenmesini istemiyorsanız hesabım b&ouml;l&uuml;m&uuml;nden abonelik planınızı iptal edebilirsiniz. Aylık plan olan abonelik hizmetinizi iptal ettiğinizde bakiye plan s&uuml;resi boyunca BYOKUL&rsquo;a erişim sağlayabilirsiniz.</p>
        <p>Aylık Planda &Ouml;deme Denemesi</p>
        <p>İptal etmediğiniz aylık planınızın yenileme d&ouml;neminde &ouml;deme aracınızdan ilgili &uuml;cret tahsil edilmeye &ccedil;alışılır. İlk denemede &ouml;demenin alınamaması durumunda bir s&uuml;re daha BYOKUL&nbsp; erişiminize a&ccedil;ık tutularak &ouml;deme tahsil edilmeye &ccedil;alışılır. Deneme &ccedil;abalarına rağmen &ouml;demenin alınamaması durumunda satın aldığınız abonelik hizmeti sona erer. Hesabınıza giriş yaparak yeniden abonelik hizmeti satın alabilirsiniz.</p>
        <ul>
        <li><strong> &Ouml;DEME </strong></li>
        </ul>
        <p>S&ouml;zleşmeye konu abonelik hizmetinin &uuml;cretini &ouml;deme sayfasında bilgisi verdiğiniz kredi/banka kartından &ouml;deme kuruluşu aracılığıyla tahsil ederiz. Aylık plan satın almanız durumunda yenileme d&ouml;neminden &ouml;nce aboneliğinizi iptal etmediğinizde ilgili kredi kartından otomatik olarak tahsilat ger&ccedil;ekleştirilir. Bakiye yetersizliği sebebiyle &uuml;cretin alınamaması durumunda 10 iş g&uuml;n&uuml; &ouml;deme almayı deneriz. Bu s&uuml;rede satıma konu hizmetlere ulaşabilirsiniz. Ancak bir s&uuml;re &ouml;demeyi alamadığımızda hizmetleri erişime kapatırız.</p>
        <ul>
        <li><strong> AYLIK PLAN ABONELİK HİZMETİ &Uuml;CRETİNDE DEĞİŞİKLİK YAPMA HAKKIMIZ</strong></li>
        </ul>
        <p>Bir sonraki yenileme d&ouml;neminizde ge&ccedil;erli olmak &uuml;zere aylık plan &uuml;cretlerinde değişiklik yapabiliriz. Bu değişikliği size &ouml;nceden BYOKUL&nbsp; veya mail aracılığıyla duyururuz. Değişen &uuml;cretler ile ger&ccedil;ekleştirilen abonelik planı yenilemenize itiraz hakkınız bulunmaz.</p>
        <ul>
        <li><strong> KAMPANYALAR</strong></li>
        </ul>
        <p>Bazı zamanlar abonelik hizmeti satın alan kullanıcılarımızın yararlanabileceği kampanya tekliflerinde bulunuruz. Katılım şartlarına ilişkin bilgilendirmeleri kampanya koşulları şeklinde ayrıca belirtiriz. Kampanya koşulları bu s&ouml;zleşmenin ayrılmaz bir par&ccedil;ası olur. Kampanyalar kapsamında sizin aracılığınızla BYOKUL&rsquo;a&nbsp; erişim sağlayan &uuml;&ccedil;&uuml;nc&uuml; kişilerin Kullanım Koşullarına uygun davranmak zorundadır. Aksi takdirde kampanyadan yararlanma hakkını sona erdirme hakkımız her zaman mevcuttur.</p>
        <ul>
        <li><strong> FESİH KOŞULLARI </strong></li>
        </ul>
        <p>Kullanım koşullarına aykırı eylemlerinizi tespit ettiğimizde satın aldığınız abonelik hizmetine bakmaksızın bu s&ouml;zleşmeyi feshetme ve BYOKUL&rsquo; daki&nbsp; i&ccedil;eriklere erişim hakkınızı fesih tarihi itibariyle sonlandırma hakkımız vardır. Belirsiz s&uuml;reli aylık olarak faturalandırılan abonelik hizmeti (aylık plan) satın aldığınız durumlarda istediğiniz zaman aboneliğinizi iptal ederek bu s&ouml;zleşmeyi feshedebilirsiniz. Aylık planınızı iptal ettiğinizde bakiye plan s&uuml;reniz boyunca satın aldığınız hizmet kapsamında sunulan hizmetlere erişim sağlayabilirsiniz.</p>
        <ul>
        <li><strong> S&Ouml;ZLEŞMEYE KONU ABONELİK HİZMETİ, KAPSAM VE DİĞER KOŞULLAR </strong></li>
        </ul>
        <p>S&ouml;zleşmenin bu b&ouml;l&uuml;m&uuml;nde satın aldığınız abonelik hizmetinizin ne olduğunu, hizmetin kapsamını, hizmet &uuml;cretini, hizmet başlangı&ccedil; ve kullanım s&uuml;resini ve &ouml;deme y&ouml;nteminizi g&ouml;rebilirsiniz.</p>
        <ul>
        <li><strong> ABONELİK HİZMETİNİ SUNACAĞIMIZ YER, ZAMAN VE SORUMLULUKLAR</strong></li>
        </ul>
        <p>Abonelik hizmetinin satın alınmasıyla dijital i&ccedil;eriklerin erişime sunulacağı yer www.byokul.com ve mobil uygulamalarıdır. S&ouml;zleşmeyi onaylayarak ve başarılı &ouml;deme ger&ccedil;ekleştirerek satın aldığınız abonelik hizmeti kapsamındaki t&uuml;m dijital i&ccedil;eriklere ulaşabilirsiniz. Kayıtlı &ouml;deme aracından bakiye yetersizliği ve her t&uuml;rl&uuml; teknik problem nedeniyle ger&ccedil;ekleştirilememesi durumunda abonelik hizmet satışı ge&ccedil;ersiz olacağından s&ouml;zleşme kapsamındaki hizmeti size sunmaya başlamayız. Doğal afet, savaş, siber saldırı, teknik problemler ve her t&uuml;rl&uuml; m&uuml;cbir sebep nedeniyle abonelik hizmeti kapsamındaki i&ccedil;eriklerden yararlanamamaktan dolayı bizi sorumlu tutamazsınız. Hukuka aykırı ve kusurlu eylemlerimizden dolayı uğradığınız zararları talep ve dava etme hakkınız her zaman saklıdır.</p>
        <ul>
        <li><strong> KULLANIM KOŞULLARINA AYKIRILIK </strong></li>
        </ul>
        <p>Bu s&ouml;zleşmenin onaylanmasından &ouml;nce kabul edilen ve bu s&ouml;zleşmenin ayrılmaz bir par&ccedil;ası olan Kullanım Koşullarına aykırı davranıldığı takdirde bu s&ouml;zleşmeyi de feshederek satın aldığınız abonelik hizmetini sonlandırma hakkına sahibiz. Bu durumda hesabınızı silebilir ve dijital sertifikalarınız gibi ek kazanımlarınızı yeniden g&ouml;r&uuml;nt&uuml;lemenizi engelleyebiliriz. Kullanım şartlarına ve bu s&ouml;zleşmeye uygun olmayan eylemleriniz nedeniyle abonelik hizmetinizi sonlandırdığımızda &uuml;cret iadesi ve tazminat talebinde bulunamazsınız.</p>
        <ul>
        <li><strong> CAYMA HAKKI </strong></li>
        </ul>
        <p>Size sunmuş olduğumuz hizmetler, Mesafeli S&ouml;zleşmeler Y&ouml;netmeliğinin 15.maddesinin g fıkrasında d&uuml;zenlenen &ldquo;elektronik ortamda anında ifa edilen hizmetler veya t&uuml;keticiye anında teslim edilen gayrimaddi mallara ilişkin s&ouml;zleşmeler&rdquo;&nbsp; kapsamındadır. İlgili yasada bu kapsamda sunulan hizmetler cayma hakkının istisnası olarak d&uuml;zenlenmiştir. Bu nedenle satın almış olduğunuz hizmetlerden cayma ve &uuml;cret iadesi talep etme hakkınız bulunmaz.&nbsp;</p>
        <ul>
        <li><strong> &Ouml;N BİLGİLENDİRME TEYİDİ </strong></li>
        </ul>
        <p>Bu s&ouml;zleşmeyi onayladığınızda Mesafeli S&ouml;zleşmeler Y&ouml;netmeliğinin 6.maddesinde belirtilen usullere uygun olarak size &ouml;n bilgilendirmede bulunduğumuzu kabul etmiş olursunuz.</p>
        <ul>
        <li><strong> KİŞİSEL VERİLERİN KORUNMASI </strong></li>
        </ul>
        <p>Abonelik hizmeti satın almanız sırasında bir&ccedil;ok kişisel verinizi bizimle paylaşırsınız. Yine t&uuml;m hizmetlerimizi etkin bi&ccedil;imde kullanabilmeniz i&ccedil;in bir&ccedil;ok kişisel verinizi işleriz. Kişisel verilerinizi işlerken ilgili yasalara, kurul kararlarına ve diğer t&uuml;m d&uuml;zenlemelere uygun hareket ederiz. Kişisel verilerinizin işlenmesi hakkında kapsamlı bilgiye KVKK Aydınlatma Metni ile ulaşabilirsiniz.</p>
        <ul>
        <li><strong> KREDİ KARTI BİLGİLERİNİN SAKLANMASI </strong></li>
        </ul>
        <p>Kredi kartı bilgileriniz, BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI tarafından saklanmamaktadır. Kart bilgileriniz, g&uuml;venli &ouml;deme sağlayan; Merkez Bankası tarafından yetkilendirilen aracı &ouml;deme kuruluşu olan İYZİCO tarafından saklanmaktadır. Kart bilgisinin saklanacağı aracı &ouml;deme kuruluşu, s&ouml;zleşme s&uuml;resi i&ccedil;erisinde değişebilir.</p>
        <ul>
        <li><strong> G&Ouml;REVLİ VE YETKİLİ MAHKEME/T&Uuml;KETİCİ HAKEM HEYETİ </strong></li>
        </ul>
        <p>Satın aldığınız hizmetler kapsamında sunduğumuz hizmetlere ilişkin t&uuml;m talep ve şik&acirc;yetlerinizi bu s&ouml;zleşmenin 12.maddesinde belirtilen iletişim kanalları aracılığıyla bize iletebilirsiniz. Talep veya şik&acirc;yetlerinizin sonu&ccedil;suz kalması halinde hukuki uyuşmazlıkların &ccedil;&ouml;z&uuml;m&uuml; i&ccedil;in T&uuml;ketici Hakem Heyetine veya T&uuml;ketici Mahkemesine başvurabilirsiniz. Yetkili T&uuml;ketici Hakem Heyeti veya T&uuml;ketici Mahkemesi, ikametg&acirc;hınızın bulunduğu yer T&uuml;ketici Hakem Heyeti veya T&uuml;ketici Mahkemesidir.</p>
        <ul>
        <li><strong> TALEP VE ŞİK&Acirc;YET İ&Ccedil;İN SATICI/SAĞLAYICI BİLGİLERİ </strong></li>
        </ul>
        <p><strong>&nbsp;</strong></p>
        <p><strong>TİCARET UNVANI&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>MERSİS NO&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>ADRES BİLGİSİ&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
        <p><strong>E-POSTA ADRESİ&nbsp;&nbsp;&nbsp; </strong></p>
        <ul>
        <li><strong> DELİL S&Ouml;ZLEŞMESİ </strong></li>
        </ul>
        <p>Bu s&ouml;zleşmeden doğabilecek t&uuml;m uyuşmazlıklarda tarafımıza ait ticari defter kayıtlarının, kalıcı veri saklayıcılarının, veri tabanlarının, sunucu ve bilgisayar kayıtları ile t&uuml;m elektronik kayıtların kesin ve tek başına delil teşkil eder. S&ouml;zleşmeyi onaylayarak bu maddenin Hukuk Muhakemeleri Kanununun 193.maddesine g&ouml;re delil s&ouml;zleşmesi olduğunu kabul edersiniz.</p>
        <ul>
        <li><strong> TEBLİGAT </strong></li>
        </ul>
        <p>Aramızdaki her t&uuml;rl&uuml; bildirim ve yazışma s&ouml;zleşmede yazılı e-posta adresleri aracılığıyla yapılacaktır. Kanunun &ouml;ng&ouml;rd&uuml;ğ&uuml; bildirim şekilleri saklı olup bu madde kapsamında değildir.</p>
        <ul>
        <li><strong> S&Ouml;ZLEŞMENİN GE&Ccedil;ERLİLİĞİ </strong></li>
        </ul>
        <p>Bu s&ouml;zleşme 20 maddeden oluşur. Sizin click wrap y&ouml;ntemiyle elektronik ortamda onaylamanız ve &ouml;demenin başarılı şekilde ger&ccedil;ekleştirilmesiyle kurulmuş olur.</p>
        <p>Bu s&ouml;zleşmeyi okumanız i&ccedil;in size yeterli s&uuml;re tanınmıştır. Onaylamanızla s&ouml;zleşmenin t&uuml;m maddelerini kabul etmiş olursunuz.&nbsp;</p>
        <p>Bu s&ouml;zleşmeyi onayladığınızda bir &ouml;rneği size kalıcı veri saklayıcı aracılığıyla (e-posta) g&ouml;nderilir.</p>
        <p><strong>SATICI/SAĞLAYICI&nbsp;&nbsp;&nbsp; BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI</strong></p>
     </div>

     <div *ngIf="selectedLanguage == 'ar'">
        <p>"عقد عن بعد" لشراء خدمة اشتراك</p>
        <p>لقد أعددنا هذا العقد بصفتنا "البائع / المزود" وفقا لقانون حماية المستهلك رقم 6502، واللائحة التنفيذية بشأن العقود عن بعد، واللائحة التنفيذية لعقود الاشتراك، ونقدمها لموافقتك.</p>
        <p>&nbsp;أنت تقبل جميع الشروط من خلال الموافقة عليها إلكترونيا على كل جهاز يمكنك الوصول به إلى BYOKUL. نتيح لك الوقت الكافي لقراءة هذه الشروط. يرجى الموافقة على العقد بعد التأكد من أنك قد قرأت وفهمت جميع الشروط.</p>
        <p>من المهم أن نوضح لك أن كل بيئة يتم فيها تقديم الخدمات التي تشتريها سيشار إليها الآن باسم "BYOKUL" في هذا العقد.</p>
        <ul>
        <li>المعلومات القانونية عنا بصفتنا البائع / المزود وعناوين الاتصال الخاصة بنا</li>
        </ul>
        <p>الاسم التجاري&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <strong>BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI</strong></p>
        <p>العنوان &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <strong>GURSELPASA MAH. ABIDIN DINO BLV. ALI GEZEN APT NO:13 A SEYHAN/ ADANA</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p>مكتب الضرائب / الرقم &nbsp;&nbsp;&nbsp;&nbsp; : مكتب سيهان (<strong>Seyhan</strong>) للضرائب / 1950870709</p>
        <p>البريد الإلكتروني&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <strong>support@byokul.com</strong></p>
        <p>الرقم لدى السجل المركزي للشركات (<strong>MERSİS) : 0195087070900001</strong></p>
        <ul>
        <li>موضوع العقد</li>
        </ul>
        <p>يشكل موضوع العقد الشروط الواجب الالتزام بها من قبل الطرفين أثناء تقديم الخدمات واستخدامها والوصول إلى المحتويات المحددة في المادة 8 من العقد مقابل شراء خدمة الاشتراك التي تتم فوترتها شهريا لفترة زمنية غير محددة (الخطة الشهرية)، وخدمة الاشتراك السنوية التي توفر فترة وصول مدتها 12 شهرا (الخطة السنوية) وخدمات الاشتراك الأخرى التي توفر فترة وصول معينة (خطط الاشتراك الأخرى).</p>
        <ul>
        <li>أنواع خدمات الاشتراك ونطاقها</li>
        <li>خدمة الاشتراك المدفوع مقدما شهريا لفترة غير محددة ( USD20 )</li>
        </ul>
        <p>يتم تحصيلها عن طريق حساب سعر الدولار امريكي لبلدك</p>
        <ul>
        <li>خدمات الاشتراك المدفوع مسبقا محدد المدة (الخطة السنوية أو خطط الاشتراك محددة المدة الأخرى) التي لا يتم تجديدها عند انتهاء مدتها</li>
        </ul>
        <p>يتم تحصيل رسوم سنوية 200 دولار امريكي من العملة امريكية في بلدك</p>
        <p>يتم خصم 20٪ من دخل المدارس الافتراضيه التي&nbsp; انشاتها بواسطت منصة byokul virtual digital platform tic.ltd.şti.</p>
        <p>يتم دفع المبلغ البتبقي من قبلنا الى حسابك بين اليوم الاول و الخامس من كل شهر</p>
        <ul>
        <li>تجديد خدمة الاشتراك</li>
        </ul>
        <p>وفقا لما يقتضيه القانون، لن نقوم بتجديد خدمات الاشتراك محددة المدة دون موافقتك المسبقة. مثال على ذلك هو الخطة السنوية، والتي تتيح حق الوصول لمدة 12 شهرا. سيتم تجديد خدمة الاشتراك المدفوع مسبقا، والتي تتم فوترتها شهريا لفترة غير محددة (الخطة الشهرية)، تلقائيا في نفس الفترة من كل شهر يلي تاريخ الشراء ما لم تقم بالإلغاء وسيتم خصم المبلغ من بطاقتك الائتمانية المسجلة. إذا كنت لا تريد تجديد اشتراكك في الشهر التالي، فيمكنك إلغاء خطة اشتراكك في قسم حسابي. عند إلغاء خدمة اشتراكك، والتي هي خطة شهرية، يمكنك الوصول إلى BYOKUL طوال مدة رصيد الخطة.</p>
        <p>تجربة الدفع في الخطة الشهرية</p>
        <p>عندما يحين وقت تجديد خطتك الشهرية التي لم تقم بإلغائها، سيتم فرض الرسوم ذات الصلة من خلال وسيلة الدفع الخاصة بك. إذا تعذر استلام الدفعة في المحاولة الأولى، سيتم إبقاء وصولك إلى BYOKUL مفتوحا لفترة من الوقت وسيتم محاولة تحصيل الدفعة. إذا تعذر استلام الدفعة على الرغم من الجهود التجريبية، فستنتهي خدمة الاشتراك التي اشتريتها. يمكنك إعادة شراء خدمة الاشتراك عن طريق تسجيل الدخول إلى حسابك.</p>
        <ul>
        <li>الدفع</li>
        </ul>
        <p>سنقوم بتحصيل رسوم خدمة الاشتراك موضوع العقد من خلال مؤسسة الدفع من بطاقة الائتمان / البنك التي قدمتها في صفحة الدفع. إذا اشتريت خطة شهرية، سيتم تحصيل الرسوم من بطاقتك الائتمانية تلقائيا إذا لم تقم بإلغاء اشتراكك قبل فترة التجديد. إذا لم نتمكن من تحصيل الرسوم بسبب عدم كفاية الرصيد، فسنحاول تحصيل الرسوم في غضون 10 أيام عمل. خلال هذه الفترة، يمكنك الوصول إلى الخدمات الخاضعة للبيع. ومع ذلك، إذا لم نتلق الدفع لفترة من الوقت، فإننا سنوقف الوصول إلى الخدمات.</p>

        <ul>
        <li>حقنا في إجراء تغييرات على رسوم خدمة الاشتراك في الخطة الشهرية</li>
        </ul>
        <p>قد نجري تغييرات على رسوم الخطة الشهرية اعتبارا من فترة التجديد التالية. سنعلن لك عن هذا التغيير مقدما عبر BYOKUL أو البريد الإلكتروني. ليس لديك الحق في الاعتراض على تجديد خطة اشتراكك بالرسوم الجديدة.</p>

        <ul>
        <li>الحملات</li>
        </ul>
        <p>نقدم من وقت لآخر عروض يمكن لمستخدمينا الذين اشتروا خدمات الاشتراك الاستفادة منها. نشير أيضا إلى المعلومات المتعلقة بشروط المشاركة في شكل شروط الحملة. تصبح شروط الحملة جزءا لا يتجزأ من هذا العقد. في نطاق الحملات، يجب على الأطراف الثالثة التي تصل إلى BYOKUL من خلالك التصرف وفقا لشروط الاستخدام. خلاف ذلك، لدينا دائما الحق في إنهاء الحق في الاستفادة من الحملة.</p>

        <ul>
        <li>شروط الإنهاء</li>
        </ul>
        <p>عندما نكتشف أن أفعالك مخالفة لشروط الاستخدام، يحق لنا إنهاء هذا العقد بغض النظر عن خدمة الاشتراك التي اشتريتها وإنهاء حقك في الوصول إلى محتويات BYOKUL اعتبارا من تاريخ الإنهاء. إذا كنت قد اشتريت خدمة اشتراك تتم فوترتها شهريا لفترة غير محددة (الخطة الشهرية)، فيمكنك إنهاء هذا العقد في أي وقت عن طريق إلغاء اشتراكك. عندما تلغي خطتك الشهرية، ستتمكن من الوصول إلى الخدمات المقدمة ضمن نطاق الخدمة التي اشتريتها طوال مدة خطة رصيدك.</p>

        <ul>
        <li>خدمة الاشتراك موضوع العقد والنطاق والشروط الأخرى</li>
        </ul>
        <p>في هذا القسم من العقد، يمكنك معرفة ما هي خدمة الاشتراك التي اشتريتها، ونطاق الخدمة، ورسوم الخدمة، وبداية الخدمة وفترة الاستخدام، وطريقة الدفع الخاصة بك.</p>

        <ul>
        <li>مكان ووقت خدمة الاشتراك التي سنقدمها والمسؤوليات</li>
        </ul>
        <p>مع شراء خدمة الاشتراك، سيتم توفير المحتوى الرقمي من خلال موقع www.byokul.com وتطبيقات الهاتف المحمول. من خلال الموافقة على العقد وإجراء دفعة ناجحة، يمكنك الوصول إلى جميع المحتويات الرقمية ضمن خدمة الاشتراك التي اشتريتها. في حالة تعذر تحقيق ذلك من وسيلة الدفع المسجلة بسبب عدم كفاية الرصيد وأي مشاكل فنية، فلن نبدأ في تزويدك بالخدمة بموجب العقد لأن بيع خدمة الاشتراك سيكون غير صالح. لا يمكنك تحميلنا المسؤولية عن عدم قدرتك على الاستفادة من المحتويات التي تغطيها خدمة الاشتراك بسبب الكوارث الطبيعية والحرب والهجوم السيبراني والمشاكل الفنية وأي نوع من القوة القاهرة. أنت تحتفظ دائما بالحق في المطالبة ورفع دعوى ضد الأضرار التي لحقت بك بسبب أفعالنا غير القانونية والتقصيرية.</p>

        <ul>
        <li>انتهاك شروط الاستخدام</li>
        </ul>
        <p>في حالة حدوث انتهاك لشروط الاستخدام، والتي تم الاتفاق عليها قبل الموافقة على هذا العقد وهي جزء لا يتجزأ من هذا العقد، يحق لنا إنهاء خدمة الاشتراك التي اشتريتها عن طريق إنهاء هذا العقد أيضا. في هذه الحالة، قد نحذف حسابك ونمنعك من إعادة عرض إنجازاتك الإضافية، مثل شهاداتك الرقمية. عندما ننهي خدمة اشتراكك بسبب أفعالك التي لا تتوافق مع شروط الاستخدام وهذا العقد، لن تتمكن من المطالبة باسترداد مبالغ أو تعويض.</p>

        <ul>
        <li>حق الانسحاب</li>
        </ul>
        <p>تقع الخدمات التي نقدمها لك ضمن نطاق "عقود الخدمات التي يتم إجراؤها على الفور في البيئة الإلكترونية أو السلع غير الملموسة التي يتم تسليمها على الفور إلى المستهلك" التي تنظمها الفقرة ز من المادة 15 من لائحة العقود عن بعد. في القانون ذي الصلة، يتم تنظيم الخدمات المقدمة في هذا النطاق كاستثناء لحق الانسحاب. لهذا السبب، لا يحق لك الانسحاب من الخدمات التي اشتريتها وطلب استرداد الأموال.</p>

        <ul>
        <li>تأكيد المعلومات الأولية</li>
        </ul>
        <p>عندما توافق على هذا العقد، فإنك توافق على أننا قد أبلغناك بالمعلومات الأولية وفقا للإجراءات المنصوص عليها في المادة 6 من لائحة العقود عن بعد.</p>
        <ul>
        <li>حماية البيانات الشخصية</li>
        </ul>
        <p>أثناء شراء خدمة الاشتراك، فإنك تشارك الكثير من بياناتك الشخصية معنا. مرة أخرى، نقوم بمعالجة العديد من بياناتك الشخصية حتى تتمكن من استخدام جميع خدماتنا بشكل فعال. عند معالجة بياناتك الشخصية، نلتزم بالقوانين ذات الصلة وقرارات المجلس وجميع اللوائح الأخرى. يمكنك العثور على معلومات شاملة حول معالجة بياناتك الشخصية باستخدام نص توضيح قانون حماية البيانات الشخصية.</p>
        <ul>
        <li>الاحتفاظ بمعلومات بطاقة الائتمان</li>
        </ul>
        <p>لا يتم تخزين معلومات بطاقة الائتمان الخاصة بك من قبل شركة BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI. يتم تخزين معلومات بطاقتك من قبل İYZİCO ، وهي مؤسسة دفع وسيطة مرخصة من قبل البنك المركزي، والتي توفر الدفع الآمن. قد تتغير مؤسسة الدفع الوسيطة حيث سيتم تخزين معلومات البطاقة خلال فترة العقد.</p>
        <ul>
        <li>المحكمة المختصة / لجنة تحكيم المستهلك</li>
        </ul>
        <p>يمكنك إرسال جميع طلباتك وشكاواك المتعلقة بالخدمات التي نقدمها في نطاق الخدمات التي اشتريتها لنا من خلال قنوات الاتصال المحددة في المادة 12 من هذا العقد. في حال تعذر حسم طلباتك أو شكاواك، فيمكنك التقدم بطلب إلى لجنة تحكيم المستهلك أو محكمة المستهلك لحل النزاعات القانونية. هيئة تحكيم المستهلك المخولة أو محكمة المستهلك هي هيئة تحكيم المستهلك أو محكمة المستهلك حيث يقع محل إقامتك.</p>

        <ul>
        <li>معلومات البائع / المزود للمطالبات والشكاوى</li>
        </ul>

        <p>الاسم التجاري</p>
        <p>الرقم لدى السجل المركزي للشركات (<strong>MERSİS</strong>)</p>
        <p>معلومات العنوان</p>
        <p>عنوان البريد الإلكتروني</p>

        <ul>
        <li>عقد الأدلة</li>
        </ul>
        <p>في جميع النزاعات التي قد تنشأ عن هذا العقد، تشكل سجلات الدفتر التجاري ومخازن البيانات الدائمة وقواعد البيانات وسجلات الخادم والكمبيوتر وجميع السجلات الإلكترونية دليلا قاطعا ووحيدا. بالموافقة على العقد، فإنك توافق على أن هذا البند هو عقد إثباتي وفقا للمادة 193 من قانون الإجراءات المدنية.</p>

        <ul>
        <li>الإخطارات</li>
        </ul>
        <p>يجب أن تتم جميع الإشعارات والمراسلات بيننا من خلال عناوين البريد الإلكتروني المكتوبة في العقد. أشكال الإخطار المنصوص عليها في القانون محفوظة ولا تشملها هذه المادة.</p>

        <ul>
        <li>صلاحية العقد</li>
        </ul>
        <p>يتكون هذا العقد من 20 مادة. يتم تأسيسه عند تأكيدك إلكترونيا عن طريق النقر فوق التفاف (click wrap) وتحقيق الدفع بنجاح.</p>
        <p>لقد تم منحك الوقت الكافي لقراءة هذا العقد. بموافقتك، فإنك توافق على جميع شروط العقد.</p>
        <p>عند تأكيد هذا العقد، سيتم إرسال نسخة إليك عبر التخزين الدائم للبيانات (البريد الإلكتروني).</p>
        <p>البائع / المزود - شركة <strong>BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI</strong></p>
     </div>

     <div *ngIf="selectedLanguage == 'sp'">
        <p><strong>&ldquo;DISTANCE CONTRACT&rdquo; ON THE PURCHASE OF SUBSCRIPTION SERVICE</strong></p>

        <p>We have prepared this contract in the capacity of &ldquo;SELLER/SUPPLIER&rdquo; in accordance with the Law on the Protection of the Consumer No. 6502, the Regulation on Distance Contracts and the Regulation on Subscription Contracts and present it to your approval.</p>
        <p>By electronically confirming on every device you can access BYOKUL, you accept all conditions.&nbsp; We allow sufficient time for you to read these terms. Please confirm the contract after making sure that you have read and understood all the terms.</p>
        <p>It should be noted that every environment where the services you purchase are offered will be referred to as &ldquo;BYOKUL&rdquo; in this contract.</p>

        <ul>
        <li><strong> LEGAL INFORMATION ABOUT US AS SELLER/SUPPLIER AND OUR CONTACT ADDRESSES </strong></li>
        </ul>
        <p>TRADE NAME: BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>ADDRESS:&nbsp; GURSELPASA MAH. ABIDIN DINO BLV. ALI GEZEN APT NO:13 A SEYHAN/ADANA</p>

        <p>TAX OFFICE/NO:&nbsp;&nbsp; SEYHAN TAX OFFICE /&nbsp; 1950870709</p>
        <p>E-MAIL : support@byokul.com</p>
        <p>CENTRAL REGISTRATION SYSTEM NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 0195087070900001</p>

        <ul>
        <li><strong> SUBJECT OF CONTRACT </strong></li>
        </ul>
        <p>The subject of the contract is the conditions that the parties must comply with during the opening of access to the content, the qualifications and scope of which are specified in Article 8 of the contract, and the provision and use of services in exchange for the purchase of indefinite-term monthly billed subscription service (monthly plan), annual subscription service providing 12-month access period (annual plan), and other subscription services providing fixed-term access (other subscription plans).</p>

        <ul>
        <li><strong> TYPES AND SCOPE OF SUBSCRIPTION SERVICE</strong></li>
        <li>Indefinite Term Billed Monthly Prepaid Subscription Service (Monthly Plan) 20 USD COLLECTED BY CALCULATED FROM YOUR COUNTRY'S AMERICAN DOLLAR CURRENT</li>
        <li>Fixed Term and Non-Renewal Prepaid Subscription Services (Annual Plan or Other Fixed Term Subscription Plans) 200 USD COLLECTED BY CALCULATED FROM YOUR COUNTRY'S AMERICAN DOLLAR CURRENT</li>
        </ul>
        <p>&nbsp;5% of the income of the virtual schools you have established is deducted as a commission by the byokul virtual digital platform tic.ltd.şti. The remaining amount is paid by us to your account between the 1st and 5th of each month.</p>

        <ul>
        <li><strong> RENOVATION OF SUBSCRIPTION SERVICE </strong></li>
        </ul>
        <p>In accordance with the law, we will not renew your fixed-term subscription services without your prior approval. An example of this is the annual plan, which provides access for 12 months. The prepaid subscription service (monthly plan), which is billed monthly for an indefinite period, is automatically renewed in the same period of each month following the purchase date, unless you cancel it, and your registered credit card will be charged. If you don't want your subscription to renew next month, you can cancel your subscription plan in my account. When you cancel your monthly plan subscription service, you can access BYOKUL throughout the balance plan period.</p>
        <p>Monthly Plan Payment Trial</p>
        <p>At the renewal period of your monthly plan that you have not canceled, an attempt is made to collect the relevant fee from your payment instrument. If payment is not received on the first try, BYOKUL is kept open to your access for a while, and the payment is tried to be collected. If payment is not received despite trial efforts, the subscription service you purchased ends. You can purchase subscription service again by logging into your account.</p>

        <ul>
        <li><strong> PAYMENT </strong></li>
        </ul>
        <p>We collect the fee of the subscription service subject to the contract through the payment institution from the credit/debit card you provide on the payment page. If you purchase a monthly plan and do not cancel your subscription before the renewal period, the automatic collection is made from the relevant credit card. In case the fee cannot be received due to insufficient balance, we'll try to get paid within 10 business days. During this time, you can access the services subject to sale. However, if we do not receive payment for a period of time, we close the services.</p>

        <ul>
        <li><strong> OUR RIGHT TO MAKE CHANGES IN THE MONTHLY PLAN SUBSCRIPTION SERVICE FEE</strong></li>
        </ul>
        <p>We may change the monthly plan fees for your next renewal period. We will notify you of this change in advance via BYOKUL or e-mail. You have no right to object to your subscription plan renewal with varying fees.</p>

        <ul>
        <li><strong> CAMPAIGNS</strong></li>
        </ul>
        <p>Sometimes we make campaign offers that our users who purchase subscription services can benefit from. We also state the information regarding the conditions of participation in the form of campaign conditions. Campaign conditions become an integral part of this contract. Third parties who access BYOKUL through you within the scope of the campaigns must comply with the Terms of Use. Otherwise, we always have the right to terminate the right to benefit from the campaign.</p>

        <ul>
        <li><strong> TERMS OF TERMINATION </strong></li>
        </ul>
        <p>When we detect your actions against the terms of use, regardless of the subscription service you purchased, we have the right to terminate this contract and to terminate your right to access the content on BYOKUL as of the termination date. In cases where you purchase a subscription service (monthly plan) billed monthly for an indefinite period, you may terminate this contract at any time by canceling your subscription. When you cancel your monthly plan, you can access the services offered within the scope of the service you purchased during your balance plan term.</p>

        <ul>
        <li><strong> SUBSCRIPTION SERVICE, SCOPE AND OTHER CONDITIONS SUBJECT TO THE CONTRACT </strong></li>
        </ul>
        <p>In this part of the contract, you can see what your subscription service is, the scope of the service, the service fee, service start and usage period, and your payment method.</p>

        <ul>
        <li><strong> PLACE, TIME AND RESPONSIBILITIES WE WILL PROVIDE SUBSCRIPTION SERVICE</strong></li>
        </ul>
        <p>With the purchase of the subscription service, the place where digital content will be made available is www.byokul.com and its mobile applications. By confirming the contract and making successful payment, you can access all digital content within the scope of the subscription service you have purchased. In case of inability to pay due to insufficient balance from the registered payment instrument and all kinds of technical problems, we do not begin to provide the service under the contract to you since the subscription service sale will be void. For being able to benefit from the content within the subscription service due to natural disasters, wars, cyber-attacks, technical problems and all kinds of force majeure, you cannot hold us responsible. You always reserve the right to claim and sue for damages incurred due to our unlawful and faulty actions.</p>
        <p><strong>&nbsp;</strong></p>
        <ul>
        <li><strong> VIOLATION OF TERMS OF USE </strong></li>
        </ul>
        <p>In case of violation of the Terms of Use accepted before the approval of this contract and which are an integral part of this contract, we also have the right to terminate the subscription service you have purchased by terminating this contract. In this case, we may delete your account and prevent you from re-displaying additional achievements such as your digital certificates. When we terminate your subscription service due to your actions inconsistent with the terms of use and this contract, you cannot claim a refund or compensation.</p>

        <ul>
        <li><strong> RIGHT OF WITHDRAWAL </strong></li>
        </ul>
        <p>The services, which we provide to you, are within the scope of &ldquo;contracts regarding services performed instantly in electronic environment or intangible goods delivered instantly to the consumer&rdquo; regulated in paragraph g of Article 15 of the Regulation on Distance Contracts. Services, offered in this context in the relevant law, are regulated as exceptions to the right of withdrawal. For this reason, you do not have the right to withdraw from the services you have purchased and to request a refund.</p>

        <ul>
        <li><strong> PRELIMINARY INFORMATION CONFIRMATION </strong></li>
        </ul>
        <p>When you approve this contract, you agree that we have given you preliminary information in accordance with the procedures specified in Article 6 of the Regulation on Distance Contracts.&nbsp;</p>

        <ul>
        <li><strong> PROTECTION OF PERSONAL DATA </strong></li>
        </ul>
        <p>At the time of your subscription service purchase, you share many of your personal data with us. Again, we process a lot of your personal data so that you can use all of our services effectively. When processing your personal data, we act in accordance with relevant laws, board decisions and all other regulations. You can access comprehensive information about the processing of your personal data with the Law on Protection of Personal Data Clarification Text.</p>
  
        <ul>
        <li><strong> STORAGE OF CREDIT CARD INFORMATION </strong></li>
        </ul>
        <p>Your credit card information is not stored by BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI. Your card information is stored by IYZICO, an intermediary payment institution authorized by the Central Bank, which provides secure payment. The intermediary payment institution where the card information will be stored may change during the contract period.</p>

        <ul>
        <li><strong> OFFICIAL AND AUTHORIZED COURT / CONSUMER ARBITRATION COMMITTEE</strong></li>
        </ul>
        <p>You can forward all your requests and complaints regarding the services we provide within the scope of the services you have purchased, through the communication channels specified in article 12 of this contract. If your requests or complaints are unsuccessful, you can apply to the Consumer Arbitration Committee or the Consumer Court for the resolution of legal disputes. Authorized Consumer Arbitration Committee or Consumer Court is the Consumer Arbitration Committee or the Consumer Court where your residence is located.</p>

        <ul>
        <li><strong> SELLER/SUPPLIER INFORMATION FOR REQUEST AND COMPLAINT </strong></li>
        </ul>

        <p>TRADE NAME</p>
        <p>CENTRAL REGISTRATION SYSTEM NO</p>
        <p>ADDRESS INFORMATION</p>
        <p>E-MAIL ADDRESS&nbsp;&nbsp;&nbsp;</p>

        <ul>
        <li><strong> EVIDENCE CONTRACT </strong></li>
        </ul>
        <p>In all disputes that may arise from this contract, it constitutes the definitive and stand-alone evidence of our commercial book records, permanent data stores, databases, server and computer records and all electronic records. By confirming the contract, you agree that this article is a contract of evidence in accordance with Article 193 of the Code of Civil Procedure.</p>

        <ul>
        <li><strong> NOTICE </strong></li>
        </ul>
        <p>All kinds of notifications and correspondence between us will be made through the e-mail addresses written in the contract. The forms of notification stipulated by the law are reserved and are not within the scope of this article.</p>

        <ul>
        <li><strong> VALIDITY OF THE CONTRACT </strong></li>
        </ul>
        <p>This contract consists of 20 articles. It is established after you approve it electronically with the click wrap method and the payment is made successfully.</p>
        <p>You have been given sufficient time to read this contract. By approving, you accept all the terms of the contract.</p>
        <p>When you confirm this contract, a copy of it will be sent to you via permanent data storage (e-mail).</p>

        <p><strong>SELLER/SUPPLIER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BYOKUL SANAL VE DIJITAL PLATFORM LIMITED SIRKETI</strong></p>
     </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <a href="" class="main-logo"><img src="../../../assets/images/logo.svg" /></a>
        <nav>
          <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
          <a [routerLink]="['/termsOfServices']">Terms of services</a>
          <a [routerLink]="['/aboutUs']">About us</a>
          <a [routerLink]="['/faq']">FAQ</a>
        </nav>
      </div>
    </footer>
   
  </section>

