<div *ngIf="reels != undefined">
<div *ngIf="!reelPageView" appBsModal bsModal class="modal fade edit-school-modal show d-block post-view-large" id="modal-reel" tabindex="-1"
aria-labelledby="create-post" aria-hidden="true" area-modal="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header border-0 justify-content-center position-relative">
      <div class="custom-language-select liv-postbtn">
      </div>
      <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center"></h1>
      <div>
      <ul *ngIf="reels?.post.createdBy == loginUserId" class="list-unstyled d-flex more-action-btn before-none pe-2 me-1 mb-0" style="position: absolute;right: 50px;top: 10px;">
        <li class="d-inline-block ps-0 mb-0">
          <div class="dropdown">
            <button class="bg-transparent dropdown-toggle border-0 action-more-btn after-none pt-1" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" class="dropdown-item"
                (click)="getDeletedPostId(reels?.post.id)" data-bs-toggle="modal" data-bs-target="#delete-Class">{{'Delete'| translate }}
              </a>
              </li>
            </ul>
          </div>
          
        </li>
      </ul>  
      <button (click)="close()" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"><img
          src="../../../assets/images/cross.svg" /></button>
        </div>
    </div>
    <div class="modal-body">
  <section class="f-poppins">
    <div>
      <div class="live-header d-flex align-items-center justify-content-between">
        <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark invisible"><img
            src="../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>
        <h1 class="font_22 text_dark fw-bold text-center mb-md-0">{{'Reel'| translate }}</h1>
        <button (click)="back()" type="button" class="back-button bg-transparent border-0 invisible"><img src="../../../assets/images/cross.svg" /></button>
      </div>
      <div [ngClass]="showCommentsField? 'live-content' : 'live-content full-widthreel'"  class="live-content" id="reel_content">
        <div class="live-inner w-100">
          <div class="live-image overflow-hidden position-relative">
              <div *ngIf="reels != undefined">
                  <video #videoPlayer *ngIf="reels != undefined" width="100%" height="700" class="video-js vjs-big-play-centered" preload="metadata">
                    <source [src]="reels.fileUrl" type="video/mp4"/>
                  </video>
            </div>
            <div class="live-bottom-text p-3">
              <h5 *ngIf="reels.post?.title != null" class="font_14 mb-0 fw_600 text_sec1">{{reels.post?.title}} 
              </h5>
            </div>
            <div class="reel-username reel-view font_16 white_text" style="justify-content: space-between;width: 94%;display: flex;">
                <div *ngIf="reels.school != null">
                  <img [src]="reels.school.avatar" class="me-2"/> {{reels.school.schoolName}}
                </div>
                <div *ngIf="reels.class != null">
                    <img [src]="reels.class.avatar" class="me-2"/> {{reels.class.className}}
                </div>
                <div *ngIf="reels.class == null && reels.school == null">
                </div>
                <div>
                  <button (click)="showComments()" type="button" id="live-chat" class="live_chats">
                    <div style="padding: 6px;">
                    <img style="padding-top: 5px;" class="chat-gray-icon " src="../../../assets/images/chat-gray-icon.svg" />
                    <img style="padding-right: 11px;" *ngIf="showCommentsField"  src="../../../assets/images/cross.svg"  class="live-chat-back" />
                     <img style="padding-right: 15px;" *ngIf="!showCommentsField" src="../../../assets/images/chevron-right-light.svg" class="live-chat-back " />
                    </div>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div>
          <div [ngClass]="showCommentsField? 'accordion-open d-block' : 'accordion-open d-none'" id="live-chat-open" style="display:none; max-width: 505px;">
          <div class="live-action-buttons d-flex justify-content-between">
            <button type="button" class="btn bg-transparent text_ltgray font_12 cursor_auto"><img src="../../../assets/images/chat-icon.svg"
                class="d-block rightImagesWidth" /> {{reels.post.comments.length}}</button>
            <button type="button" class="btn bg-transparent text_ltgray font_12 cursor_auto"><img src="../../../assets/images/eye.svg"
                class="d-block rightImagesWidth" /> {{reels.post.views.length}}</button>
                <button (click)="likeUnlikePosts(reels.post.id,true,reels.post.postType,reels.id,reels.post)" type="button" class="btn bg-transparent text_ltgray font_12">
                  <img *ngIf="reels.post.isPostLikedByCurrentUser" src="../../../assets/images/heart-red.svg" class="d-block rightImagesWidth" />
                  <img *ngIf="!reels.post.isPostLikedByCurrentUser" src="../../../assets/images/Heart-dark.svg" class="d-block rightImagesWidth" />

                  <span *ngIf="likesLength != undefined && currentLikedPostId== reels.post.id">{{likesLength}}</span>
                  <span *ngIf="currentLikedPostId!= reels.post.id">{{reels.post.likes.length}}</span>
                </button>
            <button (click)="saveReel(reels.post.id)" type="button" class="btn bg-transparent text_ltgray font_12">
              <img *ngIf="!reels.post.isPostSavedByCurrentUser" src="../../../../assets/images/Bookmark-dark.svg" class="d-block rightImagesWidth" />
              <img *ngIf="reels.post.isPostSavedByCurrentUser" src="../../../../assets/images/Bookmark-dark.svg" class="d-block rightImagesWidth">
              {{reels.post.savedPostsCount}}
            </button>
            <button (click)="openSharePostModal(reels.post.id, reels.post.postType,reels.post.title,reels.post.description)" type="button" class="btn bg-transparent text_ltgray font_12"><img src="../../../assets/images/Upload.svg"
                class="d-block rightImagesWidth" /> {{reels.post.postSharedCount}}</button>
          </div>
          <div class="live-chat-box text-center">
            <div *ngIf="reels.post.createdBy == loginUserId && reels.post.isCommentsDisabled" (click)="showCommentsDiv(true)" class="chat-enabled d-inline-flex align-items-center cursorPointer"><img src="../../../assets/images/Unlock.svg" />{{'ChatDisabled'| translate }}
            </div>
            <div *ngIf="reels.post.createdBy == loginUserId && !reels.post.isCommentsDisabled" (click)="showCommentsDiv(false)" class="chat-enabled d-inline-flex align-items-center cursorPointer"><img src="../../../assets/images/Unlock.svg" />{{'ChatEnabled'| translate }}
            </div>
            <div>
              <span *ngIf="reels.post.createdBy != loginUserId && reels.post.isCommentsDisabled">{{'CommentsAreDisabled'| translate }}</span>
            </div>
            <div *ngIf="!reels.post.isCommentsDisabled" #groupChatList id="groupChat" class="live-chat-outer position-relative" (scroll)="scrollHandler($event)">
              <!-- <reels-loading-spinner [reelsLoadingIcon]="commentsLoadingIcon" class="position-absolute translate-middle reel_spinner_position"></reels-loading-spinner> -->
              <div *ngIf="commentsLoadingIcon" class="postloader-main position-absolute translate-middle">
                <div class="postlds-ring" style="margin-left: 200px;margin-bottom: 214px;"><div></div><div></div><div></div><div></div></div>
              </div>
            <div *ngFor="let item of reels.post.comments" class="live-message d-flex position-relative align-items-start">
              <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" *ngIf="item.userAvatar != null" [src]="item.userAvatar" class="comment-user cursorPointer">
              <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" *ngIf="item.userAvatar == null && gender =='1'" src="../../../assets/images/maleProfile.jfif" class="comment-user cursorPointer"/>
              <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" *ngIf="(item.userAvatar == null) && (gender =='2' || gender =='3')" src="../../../assets/images/femaleProfile.jfif" class="comment-user cursorPointer"/>
              <div class="d-flex flex-column"><p (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" class="font_12 fw_600 text-start mb-0 cursorPointer">{{item.userName}}
                <span *ngIf="item.user?.isVarified || item?.isUserVerified" class="verified-badge"
                ><img src="../../../../assets/images/green-verified.svg"/>
               </span>
              </p>
                <p class="text_sec1 font_12 fw_400 text-start mb-0">{{item.content}}</p>
              </div>
              <button (click)="likeUnlikeComments(item.id,true,item.isCommentLikedByCurrentUser,item.likeCount)" type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat">
                <img *ngIf="item.isCommentLikedByCurrentUser" src="../../../assets/images/heart-red.svg" class="d-block" />
                <img *ngIf="!item.isCommentLikedByCurrentUser" src="../../../assets/images/Heart-dark.svg" class="d-block" />
                <span>{{item.likeCount}}</span>
              </button>
              <!-- <button type="button" class="border-0 bg-transparent pinned-chat"><img src="../../../assets/images/pinned.svg" /></button> -->
            </div>
          </div>
            <div *ngIf="!reels.post.isCommentsDisabled" class="add-comment d-flex align-items-center justify-content-between" style="margin-left:-40px">
              <span class="bg-transparent rounded-circle comment-post-user rounded-circle">
                <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',sender.id]" *ngIf="sender.avatar != null" [src]="sender.avatar" style="max-height: 100%;cursor: pointer;">
                <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',sender.id]" *ngIf="sender.avatar == null && gender =='1'" src="../../../assets/images/maleProfile.jfif" style="max-height: 100%;cursor: pointer;"/>
                <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',sender.id]" *ngIf="(sender.avatar == null) && (gender =='2' || gender =='3')" src="../../../assets/images/femaleProfile.jfif" style="max-height: 100%;cursor: pointer;"/>
              </span>
              <input (keyup.enter)="sendToGroup()" [(ngModel)]="messageToGroup" type="text" class="form-control rounded-8 font_14 fw_400" placeholder="{{'YourMessage'| translate }}">
              <button (click)="sendToGroup()" type="button" class="comment-btn border-0"><img src="../../../assets/images/arrowup.svg" /></button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</div>
</div>

  <!-- <section class="f-poppins">
    <div class="main_content">
      <div class="live-header d-flex align-items-center justify-content-between">
        <button type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark"><img
            src="images/arrow-left.svg" /> Back</button>
        <h1 class="font_22 text_dark fw-bold text-center mb-md-0">Live Stream</h1>
        <button type="button" class="back-button bg-transparent border-0 "><img src="images/cross.svg" /></button>
      </div>
      <div class="live-content" id="reel_content">
        <div class="live-inner w-100">
          <div class="live-image overflow-hidden position-relative">
            <iframe width="100%" height="700" src="https://www.youtube.com/embed/eYGjnuK8nYo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="live-bottom-text p-3">
              <h5 class="font_14 mb-0 fw_600 text_sec1">Python programming course <span
                  class="font_14 fw_400  ms-3">Lecture One - Introduction and basics in Python</span></h5>
            </div>
            <button type="button" id="live-chat" class="live_chats">
              <img class="chat-gray-icon " src="images/chat-gray-icon.svg" />
              <img src="images/cross.svg" class="live-chat-back live-chat-close" /> <img
                src="images/chevron-right-light.svg" class="live-chat-back " />
            </button>
            <div class="reel-username font_16 white_text">
                <img src="images/reel-user-logo.jpg" class="me-2"/> Name
            </div>
          </div>
         
        </div>
        <div class="accordion-open" id="live-chat-open" style="display:none;">
          <div class="live-action-buttons d-flex justify-content-between">
            <button type="button" class="btn bg-transparent text_ltgray font_12 active"><img src="images/chat-icon.svg"
                class="d-block" /> 34</button>
            <button type="button" class="btn bg-transparent text_ltgray font_12"><img src="images/eye.svg"
                class="d-block" /> 954</button>
            <button type="button" class="btn bg-transparent text_ltgray font_12"><img src="images/Heart-dark.svg"
                class="d-block" /> 82</button>
            <button type="button" class="btn bg-transparent text_ltgray font_12"><img src="images/Bookmark.svg"
                class="d-block" /> 34</button>
            <button type="button" class="btn bg-transparent text_ltgray font_12"><img src="images/Upload.svg"
                class="d-block" /> 34</button>
          </div>
          <div class="live-chat-box text-center">
            <div class="chat-enabled d-inline-flex align-items-center"><img src="images/Unlock.svg" /> Chat Enabled
            </div>
            <div class="live-chat-outer">
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Id odio congue suscipit sodales nec vitae hac ac senectus. Varius sed id.</p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
              <button type="button" class="border-0 bg-transparent pinned-chat"><img src="images/pinned.svg" /></button>
            </div>
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Tristique dolor senectus facilisi urna. Dictum vitae morbi turpis sed. In.</p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
            </div>
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Lorem diam nunc mollis in. Dictum vitae morbi turpis sed. In. Sed feugiat iaculis gravida
                ultricies blandit justo sit.</p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
            </div>
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. </p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
            </div>
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Id odio congue suscipit sodales nec vitae hac.</p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
            </div>
            <div class="live-message d-flex position-relative align-items-start">
              <img src="images/user.jpg" class="comment-user">
              <p class="text_sec1 font_12 fw_400 text-start mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Id odio congue suscipit sodales nec vitae hac ac senectus. Varius sed id.</p>
              <button type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat"><img
                  src="images/Heart-dark.svg" class="d-block" /> 34</button>
            </div>
          </div>
            <div class="add-comment d-flex align-items-center justify-content-between">
              <span class="bg-transparent rounded-circle comment-post-user rounded-circle"><img src="images/user.png" />
              </span>
              <input type="text" class="form-control rounded-8 font_14 fw_400" placeholder="Your message">
              <button type="button" class="comment-btn border-0"><img src="images/arrowup.svg" /></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



<section *ngIf="reelPageView" class="f-poppins" style="margin-left:270px">
  <div>
    <div class="live-header d-flex align-items-center justify-content-between">
      <button (click)="back()" type="button" class="back-button bg-transparent border-0 font_16 fw_400 text_dark invisible"><img
          src="../../../assets/images/arrow-left.svg" /> {{'Back'| translate }}</button>
      <h1 class="font_22 text_dark fw-bold text-center mb-md-0">{{'Reel'| translate }}</h1>
      <ul *ngIf="reels?.post.createdBy == loginUserId" class="list-unstyled d-flex more-action-btn before-none pe-2 me-1 mb-0" style="position: absolute;right: 50px;top: 13px;">
        <li class="d-inline-block ps-0 mb-0">
          <div class="dropdown">
            <button class="bg-transparent dropdown-toggle border-0 action-more-btn after-none pt-1" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i> 
            </button>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" class="dropdown-item"
                (click)="getDeletedPostId(reels?.post.id)" data-bs-toggle="modal" data-bs-target="#delete-Class">{{'Delete'| translate }}
              </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>      </div>
    <div [ngClass]="showCommentsField? 'live-content' : 'live-content full-widthreel'"  class="live-content" id="reel_content">
      <div class="live-inner w-100">
        <div class="live-image overflow-hidden position-relative">
            <video #videoPlayer *ngIf="reels != undefined" width="100%" height="700" controls class="video-js vjs-big-play-centered" preload="metadata">
              <source [src]="reels.fileUrl" type="video/mp4"/>
            </video>
          <div class="live-bottom-text p-3">
            <h5 *ngIf="reels.post?.title != null" class="font_14 mb-0 fw_600 text_sec1">{{reels.post?.title}} 
            </h5>
          </div>
          <div class="reel-username font_16 white_text">
              <div *ngIf="reels.school != null">
                <img [src]="reels.school.avatar" class="me-2"/> {{reels.school.schoolName}}
              </div>
              <div *ngIf="reels.class != null">
                  <img [src]="reels.class.avatar" class="me-2"/> {{reels.class.className}}
              </div>
          </div>
        </div>
      </div>
      <div>
        <div [ngClass]="showCommentsField? 'accordion-open d-block' : 'accordion-open d-none'" id="live-chat-open" style="display:none; max-width: 505px;">
        <div class="live-action-buttons d-flex justify-content-between">
          <button type="button" class="btn bg-transparent text_ltgray font_12 cursor_auto"><img src="../../../assets/images/chat-icon.svg"
              class="d-block rightImagesWidth" /> {{reels.post.comments.length}}</button>
          <button type="button" class="btn bg-transparent text_ltgray font_12 cursor_auto"><img src="../../../assets/images/eye.svg"
              class="d-block rightImagesWidth" /> {{reels.post.views.length}}</button>
              <button (click)="likeUnlikePosts(reels.post.id,true,reels.post.postType,reels.id,reels.post)" type="button" class="btn bg-transparent text_ltgray font_12">
                <img *ngIf="reels.post.isPostLikedByCurrentUser" src="../../../assets/images/heart-red.svg" class="d-block rightImagesWidth" />
                <img *ngIf="!reels.post.isPostLikedByCurrentUser" src="../../../assets/images/Heart-dark.svg" class="d-block rightImagesWidth" />

                <span *ngIf="likesLength != undefined && currentLikedPostId== reels.post.id">{{likesLength}}</span>
                <span *ngIf="currentLikedPostId!= reels.post.id">{{reels.post.likes.length}}</span>
              </button>
              <button (click)="saveReel(reels.post.id)" type="button" class="btn bg-transparent text_ltgray font_12">
                <img *ngIf="!reels.post.isPostSavedByCurrentUser" src="../../../../assets/images/Bookmark-dark.svg" class="d-block rightImagesWidth" />
                <img *ngIf="reels.post.isPostSavedByCurrentUser" src="../../../../assets/images/Bookmark-dark.svg" class="d-block rightImagesWidth">
                {{reels.post.savedPostsCount}}
              </button>
              <button (click)="openSharePostModal(reels.post.id, reels.post.postType,reels.post.title,reels.post.description)" type="button" class="btn bg-transparent text_ltgray font_12"><img src="../../../assets/images/Upload.svg"
                  class="d-block rightImagesWidth" /> {{reels.post.postSharedCount}}</button>
        </div>
        <div class="live-chat-box text-center">
          <div *ngIf="reels.post.createdBy == loginUserId && reels.post.isCommentsDisabled" (click)="showCommentsDiv(true)" class="chat-enabled d-inline-flex align-items-center cursorPointer"><img src="../../../assets/images/Unlock.svg" />{{'ChatDisabled'| translate }}
          </div>
          <div *ngIf="reels.post.createdBy == loginUserId && !reels.post.isCommentsDisabled" (click)="showCommentsDiv(false)" class="chat-enabled d-inline-flex align-items-center cursorPointer"><img src="../../../assets/images/Unlock.svg" />{{'ChatEnabled'| translate }}
          </div>
          <div>
            <span *ngIf="reels.post.createdBy != loginUserId && reels.post.isCommentsDisabled">Comments are disabled</span>
          </div>
          <div *ngIf="!reels.post.isCommentsDisabled" #groupChatList id="groupChat" class="live-chat-outer">
          <div *ngFor="let item of reels.post.comments" class="live-message d-flex position-relative align-items-start">
            <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" *ngIf="item.userAvatar != null" [src]="item.userAvatar" class="comment-user cursorPointer">
            <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]"  *ngIf="item.userAvatar == null && gender =='1'" src="../../../assets/images/maleProfile.jfif" class="comment-user cursorPointer"/>
            <img (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]"  *ngIf="(item.userAvatar == null) && (gender =='2' || gender =='3')" src="../../../assets/images/femaleProfile.jfif" class="comment-user cursorPointer"/>
            <div class="d-flex flex-column"><p (click)="hideCommentModal()" [routerLink]="['/user/userProfile',item.userId]" class="font_12 fw_600 text-start mb-0 cursorPointer">{{item.userName}}</p>
              <p class="text_sec1 font_12 fw_400 text-start mb-0">{{item.content}}</p>
            </div>
            <button (click)="likeUnlikeComments(item.id,true,item.isCommentLikedByCurrentUser,item.likeCount)" type="button" class="btn bg-transparent text_ltgray font_12 p-0 border-0 reel-like-chat">
              <img *ngIf="item.isCommentLikedByCurrentUser" src="../../../assets/images/heart-red.svg" class="d-block" />
              <img *ngIf="!item.isCommentLikedByCurrentUser" src="../../../assets/images/Heart-dark.svg" class="d-block" />
              <span>{{item.likeCount}}</span>
            </button>
          </div>
        </div>
          <div *ngIf="!reels.post.isCommentsDisabled" class="add-comment d-flex align-items-center justify-content-between" style="margin-left:-40px">
            <span class="bg-transparent rounded-circle comment-post-user rounded-circle">
              <img (click)="hideCommentModal()" *ngIf="sender.avatar != null" [src]="sender.avatar" style="max-height: 100%;cursor: pointer;">
              <img (click)="hideCommentModal()"*ngIf="sender.avatar == null && gender =='1'" src="../../../assets/images/maleProfile.jfif" style="max-height: 100%;cursor: pointer;"/>
              <img (click)="hideCommentModal()" *ngIf="(sender.avatar == null) && (gender =='2' || gender =='3')" src="../../../assets/images/femaleProfile.jfif" style="max-height: 100%;cursor: pointer;"/>
            </span>
            <input (keyup.enter)="sendToGroup()" [(ngModel)]="messageToGroup" type="text" class="form-control rounded-8 font_14 fw_400" placeholder="{{'YourMessage'| translate }}">
            <button (click)="sendToGroup()" type="button" class="comment-btn border-0"><img src="../../../assets/images/arrowup.svg" /></button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
</div>
<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>

  

