<div *ngIf="isDataLoaded">
  <section class="f-poppins">
    <div class="main_content">
      <div
        class="create-post-header d-flex justify-content-between d-none d-xl-flex align-items-center"
      >
        <button
          (click)="back()"
          type="button"
          class="back-button bg-transparent border-0 font_16 fw_400 text_dark"
        >
          <img src="../../../assets/images/arrow-left.svg" />
          {{ "Back" | translate }}
        </button>
        <h4 class="font_22 text_dark fw_700 mb-md-0">
          {{ "Transactions" | translate }}
        </h4>
        <button
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44"
          (click)="resetPayoutModal()"
          data-bs-toggle="modal"
          data-bs-target="#open-payoutModal"
        >
          {{ "Payout" | translate }}
        </button>
        <div class="btn-filter align-items-center position-relative top-0">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="me-2"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.19424 13.6654L8.37844 12.1666V8.23893L13.3716 3.17507C13.5597 2.98533 13.6654 2.72492 13.6654 2.45221V1.34373C13.6654 0.78449 13.2265 0.332031 12.685 0.332031H1.31236C0.770872 0.332031 0.332031 0.78449 0.332031 1.34373V2.47756C0.332031 2.7349 0.426494 2.98226 0.596824 3.1697L5.19424 8.23893V13.6654Z"
              fill="white"
            />
          </svg>
          <div class="btn-group dropdown-filter">
            <button
              #filterBtn
              (click)="showFilterDropdown()"
              type="button"
              class="btn btn-default dropdown-toggle after-none border-0 py-0 h-auto"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ "Filter" | translate }}
              <span
                *ngIf="isApplieDateFilter"
                class="position-absolute start-100 translate-middle border border-light rounded-circle filter-badge"
              >
                1
              </span>
            </button>
            <div id="dropdown-earningFilter">
              <div
                #dropdownMenu
                class="dropdown-earningFilter-menu px-4 py-3"
                style="
                  width: 400px;
                  right: 15px;
                  max-width: 400px;
                  display: none;
                "
              >
                <div
                  class="d-flex align-items-center justify-content-between mb-3"
                >
                  <div
                    class="btn-filter align-items-center dropdown-filter filter-menu-btn position-relative"
                  >
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="me-1"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5.19424 13.6654L8.37844 12.1666V8.23893L13.3716 3.17507C13.5597 2.98533 13.6654 2.72492 13.6654 2.45221V1.34373C13.6654 0.78449 13.2265 0.332031 12.685 0.332031H1.31236C0.770872 0.332031 0.332031 0.78449 0.332031 1.34373V2.47756C0.332031 2.7349 0.426494 2.98226 0.596824 3.1697L5.19424 8.23893V13.6654Z"
                        fill="white"
                      />
                    </svg>
                    <button
                      type="button"
                      class="btn btn-default dropdown-toggle after-none border-0 py-0 h-auto"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {{ "Filter" | translate }}
                      <span
                        *ngIf="isApplieDateFilter"
                        class="position-absolute start-100 translate-middle border border-light rounded-circle filter-badge"
                      >
                        1
                      </span>
                    </button>
                  </div>
                  <button
                    (click)="hideFilterDropdown()"
                    type="button"
                    class="close border-0 bg-transparent"
                  >
                    <svg
                      width="17"
                      height="17"
                      viewBox="0 0 17 17"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.27344 12.7266L12.7587 4.24128"
                        stroke="#151718"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                      <path
                        d="M4.27344 4.24219L12.7587 12.7275"
                        stroke="#151718"
                        stroke-width="1.5"
                        stroke-linecap="round"
                      />
                    </svg>
                  </button>
                </div>

                <div
                  class="text-line-border position-relative text-center mb-2"
                >
                  <span
                    class="line-text font_12 text_ltgray fw_400 text-center"
                    >{{ "Time" | translate }}</span
                  >
                </div>
                <form [formGroup]="filterDateForm">
                  <div class="form-group position-relative">
                    <div
                      class="form-check form-check-inline font_14 fw_500 d-flex align-items-center"
                    >
                      {{ "StartDate" | translate }}:
                      <button
                        type="button"
                        class="btn custom-btn earning-btn fw_400 delay-btn post-delay-btn position-relative clock_style"
                      >
                        <img src="../../../assets/images/clock-orange.svg" />
                        <p-calendar
                          [maxDate]="maxDate"
                          formControlName="startDate"
                        ></p-calendar>
                      </button>
                      <button
                        type="button"
                        class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"
                      >
                        {{
                          filterDateForm.get("startDate")?.value
                            | date : "MMMM d, y"
                        }}
                      </button>
                    </div>
                    <small
                      class="p-error"
                      style="color: orange; margin-left: 100px"
                      *ngIf="
                        isSubmitted && filterDateForm.controls.startDate.errors
                      "
                      >{{ "StartDateRequired" | translate }}
                    </small>
                  </div>
                  <div class="form-group position-relative">
                    <div
                      class="form-check form-check-inline font_14 fw_500 d-flex align-items-center"
                    >
                      {{ "EndDate" | translate }}:
                      <button
                        type="button"
                        class="btn custom-btn earning-btn fw_400 delay-btn post-delay-btn position-relative clock_style"
                      >
                        <img src="../../../assets/images/clock-orange.svg" />
                        <p-calendar
                          [maxDate]="maxDate"
                          formControlName="endDate"
                        ></p-calendar>
                      </button>
                      <button
                        type="button"
                        class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"
                      >
                        {{
                          filterDateForm.get("endDate")?.value
                            | date : "MMMM d, y"
                        }}
                      </button>
                    </div>
                    <small
                      class="p-error"
                      style="color: orange; margin-left: 100px"
                      *ngIf="
                        isSubmitted && filterDateForm.controls.endDate.errors
                      "
                      >{{ "EndDateRequired" | translate }}
                    </small>
                  </div>
                  <small
                    class="p-error"
                    style="color: orange; margin-left: 100px"
                    *ngIf="isSubmitted && filterDateForm.errors"
                  >
                    {{ filterDateForm.errors.dates }}
                  </small>
                  <div
                    class="d-flex align-items-center justify-content-between flex-sm-nowrap border-0"
                  >
                    <button
                      (click)="removeDateFilter()"
                      type="button"
                      class="btn custom-btn primary_btn earning-btn fw_500 h_44 w-100 font_14 prev-step-btn prev-step me-2"
                      data-bs-dismiss="modal"
                    >
                      {{ "ClearAll" | translate }}
                    </button>
                    <button
                      (click)="applyDateFilter()"
                      type="button"
                      class="btn custom-btn primary_btn earning-btn fw_500 h_44 w-100 font_14 next-step m-0"
                    >
                      {{ "Apply" | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="live-header d-flex align-items-center justify-content-between"
      >
        <span class="logo_mobile d-xl-none">
          <img src="../../../assets/images/logo.svg" />
        </span>
        <div class="d-xl-none">
          <button
            type="button"
            class="mobile-search border_btn"
            onclick="openSearch()"
          >
            <img src="../../../assets/images/search-lg.svg" />
          </button>
          <button
            type="button"
            class="mobile-search border_btn"
            onclick="openSidebar()"
          >
            <img src="../../../assets/images/menu.svg" />
          </button>
        </div>
      </div>
      <div class="row earning-balance-title-row">
        <div class="col-md-4">
          <div class="earning-balance-box-title">
            <div class="text-line-border position-relative text-center">
              <span class="line-text font_12 text_ltgray fw_400 text-center">{{
                "CurrentBalance" | translate
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="earning-balance-box-title">
            <div class="text-line-border position-relative text-center">
              <span class="line-text font_12 text_ltgray fw_400 text-center">{{
                "MonthIncome" | translate
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="earning-balance-box-title">
            <div class="text-line-border position-relative text-center">
              <span class="line-text font_12 text_ltgray fw_400 text-center"
                >{{ "SourcesOfIncome" | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row gap_8">
        <div class="col-md-4">
          <div
            class="earning-balance-box text_sec1 fw_600 position-relative d-flex align-items-center justify-content-center mt-3"
          >
            <span class="wallet font_14 fw_400 text_dark">
              <img src="../../../assets/images/Wallet.svg" class="me-2" />
              {{ "Withdraw" | translate }}
            </span>
            $0
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="earning-balance-box text_sec1 fw_600 position-relative d-flex align-items-center justify-content-center mt-3"
          >
            ${{ transactionDetails.monthlyIncome }}
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="earning-balance-box text_sec1 fw_600 position-relative d-flex align-items-center justify-content-center mt-3"
          >
            {{ transactionDetails.sourceOfIncome }}
          </div>
        </div>
      </div>

      <div class="mt-4 pt-1 d-flex align-content-center">
        <div class="search-header position-relative earning-search">
          <input
            [(ngModel)]="searchString"
            type="search"
            class="form-control h_44"
            (input)="Search()"
            placeholder="Search"
          />
          <button type="button" class="btn search-icon">
            <img src="../../../assets/images/school/search-gray.svg" />
          </button>
        </div>
        <div
          class="school-profile-tabs d-flex align-content-center justify-content-center earnings-tabs"
        >
          <div class="custom-tabs profile-custom-tabs">
            <ul
              class="nav nav-tabs border-0 before-none"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item ps-0 mb-0" role="presentation">
                <button
                  (click)="isAllTab()"
                  class="nav-link"
                  id="all-transaction-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#all-transaction-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="all-transaction-tab-pane"
                  aria-selected="true"
                >
                  {{ "All" | translate }}
                </button>
              </li>
              <li class="nav-item ps-0 mb-0" role="presentation">
                <button
                  (click)="isOwnedSchoolTab()"
                  class="nav-link active"
                  id="owned-school-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#owned-school-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="owned-school-tab-pane"
                  aria-selected="true"
                >
                  {{ "OwnedSchools" | translate }}
                </button>
              </li>
              <li class="nav-item ps-0 mb-0" role="presentation">
                <button
                  class="nav-link"
                  id="guest-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#guest-school-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="guest-school-tab-pane"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{ "GuestSchools" | translate }}
                </button>
              </li>
              <li class="nav-item ps-0 mb-0" role="presentation">
                <button
                  (click)="isWithdarwTab()"
                  class="nav-link"
                  id="withdrawals-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#withdrawals-school-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="withdrawals-tab-pane"
                  aria-selected="false"
                  tabindex="-1"
                >
                  {{ "Withdrawals" | translate }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tab-content position-relative" id="pills-tabContent">
        <div class="text-line-border position-relative text-center mb-3 mt-4">
          <span class="line-text font_12 text_ltgray fw_400 text-center">{{
            "Transactions" | translate
          }}</span>
        </div>
        <div
          class="tab-pane fade show"
          id="all-transaction-tab-pane"
          role="tabpanel"
          aria-labelledby="all-transaction-tab-pane"
          tabindex="0"
        >
          <div class="wht_newbox followers_box earning-transactions">
            <div *ngIf="!transactionDetails.isUserHasOwnedSchool">
              <div class="text-center mt-5">
                {{ "ForCreateSchoolClickOn" | translate }}:
                <button
                  [routerLink]="['/user/createSchool']"
                  type="button"
                  class="btn custom-btn primary_btn earning-btn fw_400 h_44 me-2 ms-4"
                >
                  Create School
                </button>
              </div>
            </div>
            <ul class="list-unstyled before-none mb-0">
              <li
                class="mb-0"
                *ngFor="let item of allTransactionDetails?.transactions"
              >
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1">
                    <img
                      [routerLink]="['/user/userProfile', item.user?.id]"
                      *ngIf="item.user != null"
                      [src]="item.user?.avatar"
                      class="rounded-circle me-2 image_style"
                    />
                    <span [innerHTML]="item.message"></span>
                    <span
                      *ngIf="
                        item.class == null && item.course?.avatar != 'null'
                      "
                      ><img
                        [routerLink]="[
                          '/profile/course',
                          item.course?.school.schoolName,
                          item.course?.courseName
                        ]"
                        *ngIf="item.course != null"
                        [src]="item.course?.avatar"
                        class="rounded-circle ms-2 image_style"
                    /></span>
                    <span
                      *ngIf="
                        item.course == null && item.class?.avatar != 'null'
                      "
                      ><img
                        [routerLink]="[
                          '/profile/class',
                          item.class?.school.schoolName,
                          item.class?.className
                        ]"
                        *ngIf="item.class != null"
                        [src]="item.class?.avatar"
                        class="rounded-circle ms-2 image_style"
                    /></span>
                  </span>
                  <span class="followe_report d-inline-flex align-items-center"
                    ><p class="font_12 text_ltgray fw_400 me-3 mb-0"></p>
                    <p class="font_12 text_ltgray fw_400 me-3 mb-0">
                      {{ item.createdOn | date : "dd/MM/yyyy" }}
                    </p>
                    <p class="font_12 text_ltgray fw_400 mb-0">
                      {{ item.createdOn | date : "HH:mm" }}
                    </p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="tab-pane fade show active"
          id="owned-school-tab-pane"
          role="tabpanel"
          aria-labelledby="owned-school-tab-pane"
          tabindex="0"
        >
          <div class="wht_newbox followers_box earning-transactions">
            <div *ngIf="!transactionDetails.isUserHasOwnedSchool">
              <div class="text-center mt-5">
                {{ "ForCreateSchoolClickOn" | translate }}:
                <button
                  [routerLink]="['/user/createSchool']"
                  type="button"
                  class="btn custom-btn primary_btn earning-btn fw_400 h_44 me-2 ms-4"
                >
                  Create School
                </button>
              </div>
            </div>
            <ul class="list-unstyled before-none mb-0">
              <li
                class="mb-0"
                *ngFor="let item of transactionDetails.transactions"
              >
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1">
                    <img
                      [routerLink]="['/user/userProfile', item.user?.id]"
                      [src]="item.user?.avatar"
                      class="rounded-circle me-2 image_style"
                    />
                    <span [innerHTML]="item.message"></span>

                    <span
                      *ngIf="
                        item.class == null && item.course?.avatar != 'null'
                      "
                      ><img
                        [routerLink]="[
                          '/profile/course',
                          item.course?.school.schoolName,
                          item.course?.courseName
                        ]"
                        [src]="item.course?.avatar"
                        class="rounded-circle ms-2 image_style"
                    /></span>
                    <span
                      *ngIf="
                        item.course == null && item.class?.avatar != 'null'
                      "
                      ><img
                        [routerLink]="[
                          '/profile/class',
                          item.class?.school.schoolName,
                          item.class?.className
                        ]"
                        [src]="item.class?.avatar"
                        class="rounded-circle ms-2 image_style"
                    /></span>
                  </span>
                  <span class="followe_report d-inline-flex align-items-center"
                    ><p class="font_12 text_ltgray fw_400 me-3 mb-0"></p>
                    <p class="font_12 text_ltgray fw_400 me-3 mb-0">
                      {{ item.createdOn | date : "dd/MM/yyyy" }}
                    </p>
                    <p class="font_12 text_ltgray fw_400 mb-0">
                      {{ item.createdOn | date : "HH:mm" }}
                    </p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="guest-school-tab-pane"
          role="tabpanel"
          aria-labelledby="guest-school-tab-pane"
          tabindex="0"
        >
          <div class="wht_newbox followers_box earning-transactions">
            <ul class="list-unstyled before-none mb-0"></ul>
          </div>
        </div>
        <div
          class="tab-pane fade show"
          id="withdrawals-school-tab-pane"
          role="tabpanel"
          aria-labelledby="withdrawals-school-tab-pane"
          tabindex="0"
        >
          <div class="wht_newbox followers_box earning-transactions">
            <ul class="list-unstyled before-none mb-0">
              <li
                *ngFor="let item of withdrawDetails?.transactions"
                class="mb-0"
              >
                <div class="d-flex align-items-center justify-content-between">
                  <span class="followers-name font_16 text_sec1">
                    <p class="font_16 ms-2 d-inline-block fw_400 mb-0">
                      <span [innerHTML]="item.message"></span>
                    </p>
                  </span>
                  <span class="followe_report d-inline-flex align-items-center"
                    ><p class="font_12 text_ltgray fw_400 me-3 mb-0"></p>
                    <p class="font_12 text_ltgray fw_400 me-3 mb-0">
                      {{ item.createdOn | date : "dd/MM/yyyy" }}
                    </p>
                    <p class="font_12 text_ltgray fw_400 mb-0">
                      {{ item.createdOn | date : "HH:mm" }}
                    </p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="search-overlay" class="overlay">
    <span class="closebtn" onclick="closeSearch()" title="Close Overlay"
      >×</span
    >
    <div class="overlay-content">
      <form action="">
        <input type="text" placeholder="Search.." name="search" />
        <button type="submit">
          <img src="../../../assets/images/school/search-gray.svg" />
        </button>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade edit-school-modal"
  id="open-payoutModal"
  tabindex="-1"
  aria-labelledby="open-payoutModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header border-0 justify-content-center position-relative"
      >
        <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">
          {{ "Payout" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close shadow-none"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img src="../../../../assets/images/cross.svg" />
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="payoutForm" class="latest-form add-tag-step">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="font_10">{{
                  "AccountHolderName" | translate
                }}</label>
                <input
                  formControlName="accountHolderName"
                  type="text"
                  placeholder=""
                  name="accountHolderName"
                  class="form-control w-100"
                />
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="
                    isSubmitted && payoutForm.controls.accountHolderName.errors
                  "
                  >{{ "ThisFieldRequired" | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="font_10">{{ "AccountNumber" | translate }}</label>
                <input
                  formControlName="accountNumber"
                  type="text"
                  placeholder=""
                  name="accountNumber"
                  class="form-control w-100"
                />
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="
                    isSubmitted && payoutForm.controls.accountNumber.errors
                  "
                >
                  {{ "ThisFieldRequired" | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="font_10">{{ "RoutingNumber" | translate }}</label>
                <input
                  formControlName="routingNumber"
                  type="text"
                  placeholder=""
                  name="routingNumber"
                  class="form-control w-100"
                />
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="
                    isSubmitted && payoutForm.controls.routingNumber.errors
                  "
                >
                  {{ "ThisFieldRequired" | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="font_10">{{ "Amount" | translate }}</label>
                <input
                  formControlName="amount"
                  type="text"
                  placeholder=""
                  name="amount"
                  min="1"
                  class="form-control w-100"
                />
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="isSubmitted && payoutForm.controls.amount.errors"
                >
                  {{ "ThisFieldRequired" | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <select
                  class="form-select rounded-8 w-100"
                  formControlName="country"
                  aria-label="Default select example"
                >
                  <option value="" disabled selected hidden>Country</option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.countryCode"
                  >
                    {{ country.countryName }}
                  </option>
                </select>
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="isSubmitted && payoutForm.controls.country.errors"
                  >{{ "ThisFieldRequired" | translate }}
                </small>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <select
                  class="form-select rounded-8"
                  formControlName="accountHolderType"
                  aria-label="Default select example"
                >
                  <option value="" disabled selected hidden>
                    {{ "AccountHolderType" | translate }}
                  </option>
                  <option value="1">{{ "Individual" | translate }}</option>
                  <option value="2">{{ "Company" | translate }}</option>
                </select>
                <small
                  class="p-error"
                  style="color: orange"
                  *ngIf="
                    isSubmitted && payoutForm.controls.accountHolderType.errors
                  "
                  >{{ "AccountHolderTypeRequired" | translate }}
                </small>
              </div>
            </div>

            <div
              class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-4 mt-4"
            >
              <button
                #closeLanguageModal
                type="button"
                class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
                data-bs-dismiss="modal"
              >
                {{ "DiscardChanges" | translate }}
              </button>
              <button
                (click)="payout()"
                type="button"
                class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 next-step"
              >
                {{ "Save" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
<post-loading-spinner
  [postLoadingIcon]="scrollLoadingIcon"
></post-loading-spinner>
