<div *ngIf="isDataLoaded">
  <section class="f-poppins main_content">
    <div class="main_content-max-width">
      <div
        class="create-post-header d-flex justify-content-between d-none d-xl-flex"
      >
        <button
          #streamEndMessage
          hidden
          data-bs-toggle="modal"
          data-bs-target="#streamEndPopup"
        ></button>

        <button
          (click)="back()"
          mat-mini-fab
          type="button"
          class="back-button bg-transparent border-0 font_16 fw_400 text_dark"
        >
          <img src="../../../../assets/images/arrow-left.svg" />
          {{ "Back" | translate }}
        </button>

        <div class="d-flex flex-column align-items-center flex-grow-1">
          <h1 class="font_22 text_dark fw-bold text-center mb-md-0">
            {{ "LiveStream" | translate }}
          </h1>
          <h1 class="font_22 text_dark fw-bold text-center mb-md-0">
            {{ post.title }}
          </h1>
        </div>

        <h2 class="invisible"></h2>
      </div>

      <div
        class="live-header d-flex align-items-center justify-content-between"
      >
        <button
          (click)="back()"
          type="button"
          class="back-button bg-transparent border-0 font_16 fw_400 text_dark d-xl-none"
        >
          <img src="../../../../assets/images/arrow-left.svg" />
          {{ "Back" | translate }}
        </button>
        <span class="logo_mobile d-xl-none">
          <img src="../../../../assets/images/logo.svg" />
        </span>
        <div class="d-xl-none">
          <button
            type="button"
            class="mobile-search border_btn notification-btn position-relative border-0 bg-transparent"
            (click)="openSidebar()"
          >
            <img src="../../../../assets/images/menu.svg" />
            <span
              *ngIf="hamburgerCount != 0"
              style="right: 0px; top: 2px"
              class="badge rounded-circle d-inline-flex align-items-center justify-content-center fw_700 font_12"
              >{{ hamburgerCount }}</span
            >
          </button>
        </div>
      </div>
      <div>
        <div id="reel_content">
          <div class="row">
            <div
              [ngClass]="showCommentsField ? '' : 'col-md-12 col-lg-12'"
              class="col-lg-8 order-lg-2"
            >
              <div class="live-inner w-100 position-relative">
                <div>
                  <div class="live-image overflow-hidden position-relative">
                    <div
                      *ngIf="
                        (streamUrl == undefined || streamUrl == null) &&
                        post.coverThumbnail != undefined
                      "
                      style="
                        align-items: center;
                        flex-direction: column;
                        display: flex;
                      "
                    >
                    </div>
                    <iframe
                      *ngIf="
                        streamUrl != undefined &&
                        streamUrl != null &&
                        meetingId != ''
                      "
                      width="100%"
                      height="800"
                      [src]="streamUrl"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;camera;microphone;display-capture"
                      allowfullscreen
                    ></iframe>
                    <div class="create-livevideo position-relative">
                      <video
                        id="test12"
                        *ngIf="meetingId == ''"
                        width="100%"
                        height="800"
                        autoplay
                        (ended)="onVideoEnded()"
                        (timeupdate)="onVideoTimeUpdate($event)"
                        preload="auto"
                      >
                        <source [src]="post.streamUrl" type="video/mp4" />
                      </video>
                      <button
                        *ngIf="meetingId == ''"
                        class="cr-livedd border-0 shadow-none bg-transparent"
                      >
                        <img src="../../../assets/images/add.png" alt="add" />
                      </button>
                      <div
                        *ngIf="meetingId == ''"
                        class="livestream-rightbottom"
                      >
                        <button
                          class="border-0 shadow-none bg-transparent me-3"
                        >
                          <img
                            src="../../../assets/images/tv-button.png"
                            alt="screen"
                          />
                        </button>
                        <button class="border-0 shadow-none bg-transparent">
                          <img
                            src="../../../assets/images/hand-button.png"
                            alt="hand"
                          />
                        </button>
                      </div>
                    </div>
                    <div class="font_14 p-3 p-md-4">
                      <strong>{{ post.title }}</strong> {{ post.description }}
                    </div>
                  </div>

                  <button
                    style="left: 75px !important; top: 9px !important"
                    (click)="showComments()"
                    type="button"
                    id="live-chat"
                    class="live_chats notification-btn"
                  >
                    <img
                      style="padding-top: 5px"
                      class="chat-gray-icon"
                      src="../../../assets/images/chat-gray-icon.svg"
                    />
                    <span *ngIf="unreadCommentsCount > 0"
                    style="right: 21px;top: 2px;"
                      class="badge rounded-circle d-inline-flex align-items-center justify-content-center fw_700 font_12"
                      >{{unreadCommentsCount}}</span
                    >
                    <img
                      *ngIf="!showCommentsField"
                      src="../../../assets/images/chevron-right-light.svg"
                      class="live-chat-back"
                    />
                    <img
                      *ngIf="showCommentsField"
                      src="../../../assets/images/cross.svg"
                      class="live-chat-back"
                    />
                  </button>

                  <div
                    class="d-flex"
                    style="
                      margin-left: 494px;
                      position: absolute;
                      top: 575px;
                      margin-top: -558px;
                    "
                    *ngIf="isSimpleStream"
                  >
                    <img
                      src="../../../assets/images/eye-light.svg"
                      class="d-block"
                    />
                    <span class="ms-1 text-white">{{ liveUsersCount }}</span>
                  </div>

                  <div
                    class="d-flex"
                    style="
                      margin-left: 535px;
                      position: absolute;
                      top: 575px;
                      margin-top: -558px;
                    "
                    *ngIf="!isSimpleStream"
                  >
                    <img
                      src="../../../assets/images/eye-light.svg"
                      class="d-block"
                    />
                    <span class="ms-1 text-white">{{ liveUsersCount }}</span>
                  </div>
                </div>
                <div
                  class="modal-footer steps_btns flex-sm-nowrap border-0 pb-0 cr-postfooter pt-0 mt-3 px-0"
                >
                  <div
                    class="post-bot-right d-flex flex-column flex-md-row justify-content-md-end w-100"
                  >
                    <div class="dropdown me-md-3 throttling_dropdown">
                      <button
                        *ngIf="isOwner"
                        class="dropdown-button btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"
                        (click)="toggleDropdown()"
                      >
                        {{ "CommentThrottling" | translate }}
                      </button>
                      <div
                        *ngIf="isOwner"
                        class="dropdown-menu"
                        [ngClass]="{ show: dropdownOpen }"
                      >
                        <button
                          class="dropdown-item"
                          value="0"
                          (click)="selectOption(0)"
                        >
                          {{ "RemoveThrottling" | translate }}
                        </button>
                        <button
                          class="dropdown-item"
                          value="1"
                          (click)="selectOption(1)"
                        >
                          {{ "OneCommentPerMinute" | translate }}
                        </button>
                        <button
                          class="dropdown-item"
                          value="2"
                          (click)="selectOption(2)"
                        >
                          {{ "TwoCommentPerMinute" | translate }}
                        </button>
                        <button
                          class="dropdown-item"
                          value="3"
                          (click)="selectOption(3)"
                        >
                          {{ "ThreeCommentPerMinute" | translate }}
                        </button>
                      </div>
                    </div>
                    <div class="post-bot-right d-flex">
                      <button
                        (click)="openSharePostModal()"
                        type="button"
                        class="btn custom-btn primary_btn w-100 earning-btn fw_400 delay-btn post-delay-btn position-relative"
                      >
                        <img
                          src="../../../assets/images/school/Upload-small.svg"
                        />
                      </button>
                      <button
                        *ngIf="isOwner"
                       
                        type="button"
                        class="btn custom-btn primary_btn w-100 earning-btn fw_400 lg_btn"
                        data-bs-toggle="modal"
                        data-bs-target="#end-livestream"
                      >
                        {{ "EndLiveStream" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div>
                <div
                  [ngClass]="
                    showCommentsField
                      ? 'accordion-open d-block livechat-box p-0'
                      : 'accordion-open d-none'
                  "
                  id="live-chat-open"
                  style="display: none"
                >
                  <div
                    class="live-action-buttons d-flex justify-content-between"
                  >
                    <button
                      type="button"
                      class="btn bg-transparent text_ltgray font_12 cursor_auto"
                    >
                      <img
                        src="../../../assets/images/chat-icon.svg"
                        class="d-block"
                      />
                      
                      {{ post.comments?.length }}
                    </button>
                    <button
                      type="button"
                      class="btn bg-transparent text_ltgray font_12 cursor_auto"
                    >
                      <img
                        src="../../../assets/images/eye.svg"
                        class="d-block"
                      />
                      {{ post.views.length }}
                    </button>

                    <button
                      (click)="
                        likeUnlikePosts(post.id, true, post.postType, post)
                      "
                      type="button"
                      class="btn bg-transparent text_ltgray font_12"
                    >
                      <img
                        *ngIf="post.isPostLikedByCurrentUser"
                        src="../../../assets/images/heart-red.svg"
                        class="d-block"
                      />
                      <img
                        *ngIf="!post.isPostLikedByCurrentUser"
                        src="../../../assets/images/Heart-dark.svg"
                        class="d-block"
                      />

                      <span
                        *ngIf="
                          likesLength != undefined &&
                          currentLikedPostId == post.id
                        "
                        >{{ likesLength }}</span
                      >
                      <span *ngIf="currentLikedPostId != post.id">{{
                        post.likes.length
                      }}</span>
                    </button>
                    <button
                      (click)="savePost(post.id)"
                      type="button"
                      class="btn bg-transparent text_ltgray font_12"
                    >
                      <img
                        src="../../../../assets/images/Bookmark-dark.svg"
                        class="d-block mx-auto"
                      />
                      {{ post.savedPostsCount }}
                    </button>
                    <button
                      (click)="openSharePostModal()"
                      type="button"
                      class="btn bg-transparent text_ltgray font_12"
                    >
                      <img
                        src="../../../assets/images/Upload.svg"
                        class="d-block"
                      />
                      {{ post.postSharedCount }}
                    </button>
                  </div>
                  <div class="live-chat-box text-center">
                    <div
                      *ngIf="post.createdBy == userId && isCommentsDisabled"
                      (click)="showCommentsDiv(true)"
                      class="chat-enabled d-inline-flex align-items-center cursor_pointer"
                    >
                      <img src="../../../assets/images/Unlock.svg" />{{
                        "ChatDisabled" | translate
                      }}
                    </div>
                    <div
                      *ngIf="post.createdBy == userId && !isCommentsDisabled"
                      (click)="showCommentsDiv(false)"
                      class="chat-enabled d-inline-flex align-items-center cursor_pointer"
                    >
                      <img src="../../../assets/images/Unlock.svg" />{{
                        "ChatEnabled" | translate
                      }}
                    </div>
                    <div>
                      <span
                        *ngIf="post.createdBy != userId && isCommentsDisabled"
                        >{{ "CommentsAreDisabled" | translate }}</span
                      >
                    </div>
                    <div
                      *ngIf="!isCommentsDisabled"
                      #groupChatList
                      id="groupChat"
                      class="live-chat-outer position-relative"
                      (scroll)="scrollHandler($event)"
                    >
                      <div
                        *ngIf="commentsLoadingIcon"
                        class="postloader-main position-absolute translate-middle"
                      >
                        <div
                          class="postlds-ring"
                          style="margin-left: 200px; margin-bottom: 214px"
                        >
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </div>
                      <div
                        *ngFor="let item of post.comments"
                        class="live-message d-flex position-relative align-items-center justify-content-between"
                      >
                        <div class="d-flex align-items-center gap-3">
                          <img
                            [routerLink]="['/user/userProfile', item.userId]"
                            *ngIf="item.userAvatar != null"
                            [src]="item.userAvatar"
                            class="comment-user cursor_pointer"
                          />
                          <img
                            [routerLink]="['/user/userProfile', item.userId]"
                            *ngIf="item.userAvatar == null && gender == '1'"
                            src="../../../assets/images/maleProfile.jfif"
                            class="comment-user cursor_pointer"
                          />
                          <img
                            [routerLink]="['/user/userProfile', item.userId]"
                            *ngIf="
                              item.userAvatar == null &&
                              (gender == '2' || gender == '3')
                            "
                            src="../../../assets/images/femaleProfile.jfif"
                            class="comment-user cursor_pointer"
                          />
                          <div class="d-flex flex-column">
                            <p
                              [routerLink]="['/user/userProfile', item.userId]"
                              class="font_12 fw_600 text-start mb-0 cursor_pointer"
                            >
                              {{ item.userName }}
                              <span
                                *ngIf="
                                  item.user?.isVarified || item?.isUserVerified
                                "
                                class="verified-badge"
                                ><img
                                  src="../../../../assets/images/green-verified.svg"
                                />
                              </span>
                            </p>
                            <p class="text_sec1 font_12 fw_400 text-start mb-0">
                              {{ item.content }}
                            </p>
                          </div>
                        </div>
                        <div
                          class="d-flex flex-column align-items-center gap-2"
                        >
                          <button
                            class="trash-icon"
                            (click)="deleteComment(item)"
                            style="border: 0"
                            *ngIf="userId == item.userId"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                              />
                            </svg>
                          </button>
                          <button
                            (click)="
                              likeUnlikeComments(
                                item.id,
                                true,
                                item.isCommentLikedByCurrentUser,
                                item.likeCount
                              )
                            "
                            type="button"
                            class="btn bg-transparent text_ltgray font_12 p-0 border-0"
                          >
                            <img
                              *ngIf="item.isCommentLikedByCurrentUser"
                              src="../../../assets/images/heart-red.svg"
                              class="d-block"
                            />
                            <img
                              *ngIf="!item.isCommentLikedByCurrentUser"
                              src="../../../assets/images/Heart-dark.svg"
                              class="d-block"
                            />
                            <span>{{ item.likeCount }}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="!isCommentsDisabled"
                      class="add-comment d-flex align-items-center justify-content-between flex-nowrap"
                    >
                      <span
                        class="bg-transparent rounded-circle comment-post-user rounded-circle"
                      >
                        <img
                          *ngIf="sender?.avatar != null"
                          [src]="sender?.avatar"
                          style="max-height: 100%"
                        />
                        <img
                          *ngIf="sender?.avatar == null && gender == '1'"
                          src="../../../assets/images/maleProfile.jfif"
                          style="max-height: 100%"
                        />
                        <img
                          *ngIf="
                            sender?.avatar == null &&
                            (gender == '2' || gender == '3')
                          "
                          src="../../../assets/images/femaleProfile.jfif"
                          [src]="sender?.avatar"
                          style="max-height: 100%"
                        />
                      </span>
                      <div class="position-relative addCommentBox">
                        <input
                          [disabled]="isBanned"
                          (keyup.enter)="sendToGroup()"
                          [(ngModel)]="messageToGroup"
                          type="text"
                          class="form-control rounded-8 font_14 fw_400"
                          placeholder="{{ 'YourMessage' | translate }}"
                        />
                        <button (click)="toggleEmojiPicker()" class="emoji_btn">
                          😀
                        </button>
                      </div>

                      <button
                        (click)="sendToGroup()"
                        type="button"
                        class="comment-btn border-0"
                      >
                        <img src="../../../assets/images/arrowup.svg" />
                      </button>
                    </div>
                    <div style="width: 89%">
                      <emoji-mart
                        class="emoji-mart"
                        set="apple"
                        *ngIf="showEmojiPicker"
                        (emojiSelect)="addEmoji($event)"
                        title="Pick your emoji…"
                      ></emoji-mart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
  <p-toast></p-toast>

  <div
    class="modal fade edit-school-modal delete-modal"
    id="streamEndPopup"
    tabindex="-1"
    aria-labelledby="streamEndPopup"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div
          class="modal-header border-0 justify-content-center position-relative"
        ></div>
        <div class="modal-body">
          <div>
            <h3 class="text-center fw-semibold">Live stream has ended</h3>
            <h5 class="text-center fw-semibold" style="margin-top: 30px">
              Full video will be uploaded to {{ post.parentName }} profile
              shortly.
            </h5>
          </div>
        </div>
        <button
          #streamEndModalClose
          hidden
          id="closeBtn"
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
          data-bs-dismiss="modal"
        ></button>
      </div>
    </div>
  </div>

  
<div
class="modal fade edit-school-modal delete-modal"
id="end-livestream"
tabindex="-1"
aria-labelledby="end-livestream"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div
      class="modal-header border-0 justify-content-center position-relative"
    >
      <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">
        {{ "EndLiveStream" | translate }}
      </h1>
      <button
        type="button"
        class="btn-close shadow-none"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <img lazyLoad="../../../../assets/images/cross.svg" />
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <h2 class="text-center font_16 f-poppins">
          {{ "DoYouWantToEndLiveStream" | translate }}
        </h2>
      </div>
      <div
        class="steps_btns d-flex align-items-center justify-content-between flex-sm-nowrap border-0 pb-2 mt-4"
      >
        <button
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 prev-step-btn prev-step"
          data-bs-dismiss="modal"
        >
          {{ "No" | translate }}
        </button>
        <button
          type="button"
          class="btn custom-btn primary_btn earning-btn fw_400 h_44 w-100 font_16 next-step"
          data-bs-dismiss="modal"
          (click)="endLiveStream()"
        >
          {{ "Yes" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>




