.tag-box .teacher-tags {
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .tag-box .teacher-tags {
    margin-bottom: 15px;
  }
}

.right-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.school-gridprofile-icon {
  margin-right: 0;
}

.button-list-grid-filter {
  position: absolute;
  right: 0;
}

.date-view-list {
  margin-bottom: 0;
}

.heightForText {
  height: 300px;
}

.cursor_auto {
  cursor: auto;
}

.reel_spinner_position {
  top: 114px;
  right: 92px;
  z-index: 999;
}

.description_scroll {
  overflow-y: auto;
  height: 150px;
}

.description_scroll::-webkit-scrollbar {
  width: 2px;
}

.video-js {
  height: 300px;
}

.cursor_pointer {
  cursor: pointer;
}

.date_calendar {
  background-image: url(../../../../assets/images/Calendar.svg);
  background-repeat: no-repeat;
  background-position: center right 16px;
}

.preserve-line-breaks {
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .hideName {
    display: none;
  }
}


.image-container {
  display: inline-block; 
  margin-right: 10px; 
}

.image-container:last-child {
  margin-right: 0;
}