<side-bar *ngIf="displaySideBar"></side-bar>
<adminSide-bar *ngIf="displayAdminSideBar"></adminSide-bar>
<freeTrial-Info></freeTrial-Info>
<button
  #openProgressBar
  hidden
  data-bs-toggle="modal"
  data-bs-target="#progressBar"
></button>
<router-outlet>
  <p-toast></p-toast>
  <div *ngIf="overallProgress > 0" class="upload-notification">
    <h6 class="upload-notification__title">Uploading</h6>
    <p class="upload-notification__percentage">{{ overallProgress }}%</p>
  </div>
  <div
    class="modal fade edit-school-modal delete-modal"
    id="progressBar"
    tabindex="-1"
    aria-labelledby="progressBar"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div
          class="modal-header border-0 justify-content-center position-relative"
        >
          <h1 class="modal-title font_22 text_dark fw_700 border-0 text-center">
            {{ "DeleteSchool" | translate }}
          </h1>
          <button
            type="button"
            class="btn-close shadow-none"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <img lazyLoad="../../../../assets/images/cross.svg" />
          </button>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              [style.width.%]="overallProgress"
            >
              {{ overallProgress }}%
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <loading-spinner [loadingIcon]="loadingIcon"></loading-spinner>
</router-outlet>
<button
  #paymentConfirmationBtn
  hidden
  data-bs-toggle="modal"
  data-bs-target="#paymentConfirmationModal"
></button>
